[2021-05-27 01:07] CarrotChomps commented on #189
Is there any way you could a config that restricts the number of threads or removes the encryption to lighten the load on the CPU?

[2021-05-27 04:46] Watermalia opened #195 "Push to talk can be pressed while typing in-game"
**Bug description**
While typing in the in-game voice chat or typing on a sign, voice chat will still occur through the push to talk key.

**Steps to reproduce the issue**
1. In game, open text chat or place a sign
2. Hold down Push to Talk key
3. Voice chat will activate

**Expected behavior**
Voice chat should not activate when using in-game text chat. This will make it so that your mic does not

[2021-05-27 07:03] henkelmax commented on #191
I can't see any traces of the voice chat mod in your logs. It also seems your logs are incomplete

[2021-05-27 07:04] henkelmax commented on #194
What was the result of the netcat thing?

[2021-05-27 07:05] henkelmax commented on #189
No. It has to happen threaded, so the voicechat works in realtime.
If your system is too weak to handle this, please consider upgrading.
Removing the ability to use threads would it make far worse!

[2021-05-27 07:06] henkelmax commented on #195
Duplicate of #137

[2021-05-27 07:06] #195 closed

[2021-05-27 08:15] RobertoLaDiablo commented on #194
Same exact results I could use it perfectly but others couldn't connect

On Thu, May 27, 2021, 3:04 AM Max Henkel ***@***.***> wrote:

[2021-05-27 08:16] henkelmax commented on #194
Did netcat work with the people that couldn't connect?

[2021-05-29 15:43] Newtboy commented on #24
I can't get my terminal to mention anything about headless mods at all. I still cannot get it to use the microphone, should I allow Minecraft to have access to control my computer, or am I doing something wrong?

[2021-05-29 17:16] dextonanderson opened #196 "License"
Hi,

Does this mod have a license? Would I be able to fork this mod and modify it for my own uses either non-commercially or commercially?

Thanks

[2021-05-29 17:31] henkelmax commented on #196
If you use it privately, its fine.
If you want to publish it you need to talk to me about it.

[2021-05-29 17:33] dextonanderson commented on #196
Yes, I plan to use it privately for a server. Eg. Mod is distributed by me exclusive to (and will only work on) my server. We won't be publishing it for general use on curse, etc.

[2021-05-29 17:35] henkelmax commented on #196
Then it is perfectly fine :)
If you add something that could benefit others, you could create a pull request.

[2021-05-29 17:35] #196 closed

[2021-05-31 13:58] Commandcracker opened #197 "Floating Icon beside Invisible Names"
If you hide the Player Name with a team the icon floats beside the player. (I think it should be invisible)

![grafik](https://user-images.githubusercontent.com/49335821/120203648-3ba3c100-c228-11eb-84bb-08c24aa43e76.png)

[2021-05-31 14:20] henkelmax commented on #197
Please fill out the complete bug template.

[2021-05-31 14:20] #197 closed

[2021-05-31 22:58] Omegasutoraiki commented on #191
Weird. I have been gone the last few days. Maybe the server just didn't pick up the mod in the folder or something.

[2021-06-01 06:29] Tander opened #198 "Client crash after player death (may be conflict with Corpse)"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
One of my players experience a strange crash which I'm not able to reproduce, but maybe you still can't fix it.
Since he died on my server, he can't join without crashing. Looks like it may be a conflict between Simple Voice Chat and Corpse mods.

**Steps to reproduce the issu

[2021-06-01 06:39] henkelmax commented on #191
Please make sure everything is installed correctly.

[2021-06-01 06:51] #198 closed

[2021-06-01 07:00] henkelmax commented on #198
Thank you for reporting this issue. It should be fixed in the next version.

[2021-06-01 14:30] henkelmax commented on #185
I'm gonna close this for now...

[2021-06-01 14:30] #185 closed

[2021-06-01 21:06] GWR27YT opened #199 "Voice chat"
**Bug description**
idk

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
idk

**Log files**
idk
**Versions**
- Minecraft version 1.16.5
- Forge version newest
- Mod version newest

**Other mods**
ironchest
ironfurnaces
jei
TravelersBackpack
Waystones

**Screenshots (Optional)**

![hgkgugfufut](https://user-images.githubu

[2021-06-01 21:23] #199 closed

[2021-06-02 16:26] Omegasutoraiki commented on #191
I fixed the issue I was having. I looked into it more than I had before because of all this. I found out that the person who set it up didn't set the server to run through the Forge launcher and instead the normal Server Launcher. I still had to make a separate server to get the files required but after that it ran as it should. Thanks for replying to me, I probably would have given up on this oth

[2021-06-02 16:28] henkelmax commented on #191
No problem, happens to everyone :D

[2021-06-02 16:28] #191 closed

[2021-06-02 18:59] Mad5keleton opened #200 "Voice mod 1.15.2 ERROR"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Everytime i get the voice mod 1.15.2 time i start, my game crashes in the mod loading screen. The second time i try is works.

**Steps to reproduce the issue**
1. Instal forge 1.15.2
2. Place the voice mod 1.15.2 in the mods folder
3. Open Minecraft Launcher and PLAY
4. Minecr

[2021-06-02 19:02] Mad5keleton opened #201 "Still give me an error about "FAILED TO BIND TO PORT!""
So i read the wiki and did everyting it said, I tried to bind the port and IP Adress for my server that I created on my own Computer, I fixed my "Address" but it still give me an error about "FAILED TO BIND TO PORT!" what can i do??

[2021-06-02 19:23] henkelmax commented on #200
Please send me the complete logs.

[2021-06-02 19:24] henkelmax commented on #201
Please send me the contents of your config and your logs.

[2021-06-03 07:53] siddu1232 opened #202 "After joining group game says saving world on a servevr and closes minecraft"
When i join a group on a server it says saving world and closes minecraft. I use fabric and i have done all the steps even my friends can talk to each other but this happens to me.

[2021-06-03 07:54] henkelmax commented on #202
Please fill out the bug template and provide your logs.

[2021-06-03 07:54] #202 closed

[2021-06-03 11:46] Mad5keleton commented on #201
Logs: -Debug: https://gist.github.com/Mad5keleton/e542c8c2778e9b30676088af3f235f17
-Latest: https://gist.github.com/Mad5keleton/6b8f27cc89f5a15a150d75c46d744b63

Server config: https://gist.github.com/Mad5keleton/4d3b84f43dcfa22041baafcb1443e68c
Voice mod config: https://gist.github.com/Mad5keleton/8a2f94a106334d7f53de6be772befe90

[2021-06-03 11:48] Mad5keleton commented on #201
I closed it on accident, but i reopen it.

[2021-06-03 11:56] henkelmax commented on #201
You are running another minecraft server (or any application running on that port) on the same port.
This is not an error of the voice chat mod.

[2021-06-03 11:56] #201 closed

[2021-06-03 12:28] #200 closed

[2021-06-03 12:56] qwertyfoodman commented on #24
So I've made it so Minecraft has access to the microphone via a different method (as this one does not work for me), but voice chat seems to be ignoring that. Any way to fix that? Yes, I have the input device set correctly, And I am on macOS Big Sur.

[2021-06-04 00:16] Newtboy commented on #24
Hi, I got mine to work after i gave it these perms(photo) I then launched it through terminal, and lo and behold, Java asked to use the microphone!
<img width="332" alt="Screen Shot 2021-06-03 at 7 15 57 PM" src="https://user-images.githubusercontent.com/85029246/120727429-21741800-c4a0-11eb-8891-d2a767533de5.png">

[2021-06-04 01:18] IanSmith1337 commented on #24
Hey all! Having a similar issue on Mojave. I can give complete specs if needed, but the workaround is working so far.

[2021-06-04 04:15] lilingxi01 commented on #24
Having the same issue!

Using terminal command `/Applications/Minecraft.app/Contents/MacOS/launcher` to launch was okay and it would ask the microphone permission, but after I gave the permission and tried to relaunch from the basic launcher, it did not work again.

So sadly, the workaround is to launch the game from the terminal every time.

[2021-06-04 04:40] IanSmith1337 commented on #24
So, in response to the many people here who have to open the terminal to launch MC with this mod properly, I crafted a simple mod script to launch the launcher from the command line. All one has to do is throw the following code into a file called "MC.sh", save it, run the command "chmod a+x MC.sh" in the same folder that the file exists in, and it will work like a desktop shortcut, able to be dou

[2021-06-04 21:15] ArvickC opened #203 "Still getting "Voice chat unavailable""
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
I run a Forge 1.16.3 server on Apex Hosting. I've gone through all the steps on the wiki, as well as asking Apex Hosting if they, themselves could open the port. They have also seen that the voicechat server is starting correctly and binding is set. I've done everything I thin

[2021-06-04 21:23] henkelmax commented on #203
I can't help you with that. You need to ask the support of your hoster.
Also 1.16.3 is not supported anymore, please consider updating to 1.16.5.

Duplicate of #112, #104, #98, #97, #115, #124, #146, #152, #153, #160, #169, #178 and many others.

[2021-06-04 21:23] #203 closed

[2021-06-05 00:37] nacho20023 opened #204 "My friend can't use voice chat on the server"
At the moment of starting the server, the legend voice chat unavailable appears.
I already changed the corresponding port and address in the voice chat settings.
It works perfectly for me but not for him
What can be?

[2021-06-05 00:37] #204 closed

[2021-06-05 17:15] StupidRepo commented on #24
Frick sake man, I am having this issue too.

[2021-06-06 09:43] StupidRepo opened #205 "[Solution Post] How you can fix SVC not using microphone on macOS."
# Note: This is a solution post so it's not a question, bug or anything like that. It's to help people with an issue.

So, if you're having issues with Simple Voice Chat (SVC, as I'll call it, for now) not picking up/using your microphone on macOS, people have found a fix so here I'll explain that.

Now, first of all, I'm going to go through how this happens and how to fix this issue.

So, let's c

[2021-06-06 09:43] StupidRepo commented on #205
Aww crap, really didn't want to assign anyone :/

[2021-06-06 10:36] henkelmax commented on #205
This solution was already proposed in #24.
You can put your post there, but it doesn't seem to work for everyone.

[2021-06-06 10:36] #205 closed

[2021-06-06 11:44] StupidRepo commented on #205
I know.

Oh ok.

[2021-06-07 00:47] Jackalope6062 opened #206 "IP Will Not Bind & Voice Chat Unavailable"
**Bug description**
I have started a 1.16.5 Forge server through PebbleHost. I have been through all of the troubleshooting steps on the Wiki, read through all of the questions in the FAQ, followed several tutorials on how to install the mod on the server, but my problem continues to occur.

I started by installing the mod onto my Minecraft client as well as onto my server. I then created/assigned

[2021-06-07 01:21] nacho20023 opened #207 "my friend can't use voice chat on the server but I can"
At the moment of starting the server, my friend appears the legend voice chat unavailable.
I already changed the corresponding port and address in the voice chat settings.
It works perfectly for me but not for him
What can be?

[2021-06-07 06:38] henkelmax commented on #206
This not a valid IP address.

If you have questions about the IP and forwarding the port, ask your server hoster and/or read the wiki

[2021-06-07 06:38] #206 closed

[2021-06-07 06:41] henkelmax commented on #207
Read the FAQ and the wiki.
If you are using a server hoster, ask their support.

[2021-06-07 06:41] #207 closed

[2021-06-07 21:17] CrypiYT opened #208 "VC sometimes just gets unavailable"
Hi Guys!
We have lately started a SMP where we all play at the same time. Once we start playing it is fine, but once everyone starts talking everybody gets the message "voice chat is unavailable" at nearly the same time. Also it sometimes lags quite a bit so you have a 4 second delay, and during that delay it is just silent. I hope someone can help me with this issue :D
If you need the log files o

[2021-06-07 21:17] #208 closed, assigned to nobody

[2021-06-07 21:19] CrypiYT opened #209 "VC Mod sometimes becomes unavailable"
**Bug description**
Playing on a server with a few people (around 15-20) and then suddenly the voice chat becomes unavailable

**Steps to reproduce the issue**
1. Play with a few players
2. Everyone needs to talk
3. Error occourse

**Expected behavior**
I expected it to work just as usual with no interruptions at all

(Log files are currently unavailable but I'll add them here asap)

[2021-06-08 02:31] sumdee07 opened #210 "Server Properties File in Config Missing"
I only have two config files for simple voice chat, common and client no server properties.

[2021-06-08 02:31] #210 closed, assigned to nobody

[2021-06-08 07:21] henkelmax commented on #209
Please fill out the complete bug template.
What are the specs of your server (CPU cores, clock speed, RAM)?

[2021-06-08 15:14] CrypiYT commented on #209
CPU: Ryzen 7 3800x 3.9 GHz 8c/16t NVME RAID1 DDR4 2666 MT/s
RAM: 6 GB

Minecraft Version: 1.16.5
Fabric Version: 0.11.3
Mod Version: 1.3.10+

[2021-06-08 15:16] henkelmax commented on #209
I also need your logs.
Can you tell me the CPU core usages, when this happens?

[2021-06-08 15:17] CrypiYT commented on #209
The highest amount of the CPU that was used was around 50% and RAM around 70% at highest peaks, as I don't own the server my self and just operate it I need to wait for the Owner to get online and send me the log files D:

[2021-06-08 15:21] henkelmax commented on #209
It is important to look at the individual core usages, since one core could be completely utilized while others aren't used at all.

Make sure to send me the logs of the client and server of this incident.

Please also make sure to test the `/voicechat test` command when the disconnection occurs. (Please include this in the client and server logs)

[2021-06-08 15:50] CrypiYT commented on #209
I wrote all of the clients I need the logs from them now, I'll also execute the command asap but not everyone is ready to play rn to reproduce the error. I hope that I'll have most of the Logs from all clients + the Server after today :/. Also the Serverhoster we are using doesn't allow us to see the individual usage of the CPU cores so we are just stuck with that one value of 50%

[2021-06-08 15:53] henkelmax commented on #209
I only need the logs of one client that disconnects. It isn't necessary to get the logs of everyone.

[2021-06-08 18:15] DuskWRLD opened #211 "Server install not creating config file for mod"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Mod not creating config folder on server install

**Steps to reproduce the issue**
1. Install Simple Voice Chat in your server (currently a paid server.pro one)
2. Restart server
3. Then there is no config folder which is necessary to change the port to an open one

**Expected

[2021-06-08 18:16] henkelmax commented on #211
Please send me your logs.

[2021-06-08 18:19] DuskWRLD commented on #211
[INFO] Loading for game Minecraft 1.17

[INFO] [FabricLoader] Loading 48 mods: fabric-networking-blockentity-v0@0.2.11+a02b4463d5, fabric-screen-handler-api-v1@1.1.8+a02b4463d5, minecraft@1.17, fabric-renderer-api-v1@0.4.2+a02b4463d5, fabric-keybindings-v0@0.2.2+36b77c3ed5, voicechat@1.17-1.0.1, fabric-command-api-v1@1.1.1+a02b4463d5, fabricloader@0.11.3, fabric-screen-api-v1@1.0.3+b7ab6121d5, fab

[2021-06-08 18:31] henkelmax commented on #211
Please don't paste the logs into the issue section. Please create a github gist link.

[2021-06-08 18:32] DuskWRLD commented on #211
https://gist.github.com/DuskWRLD/1114c3f54cb93e347a69efd4099f1c6f does this work then?

[2021-06-08 18:34] henkelmax commented on #211
Yes, thank you.

Where did you look for the config?

[2021-06-08 18:36] DuskWRLD commented on #211
I checked every file and folder in the server, since I didn't find it in the /world folder where I was told it would be.

[2021-06-08 18:36] DuskWRLD commented on #211
Also, what would the name for the folder have been if it were there?

[2021-06-08 18:37] henkelmax commented on #211
It is located in `.minecraft/config/voicechat`

[2021-06-08 18:43] DuskWRLD commented on #211
The folder is indeed there in my personal client. Shouldn't there be a file also in the server though? If not, how would I make it so me and my friends can hear eachother? Do we all just set the same port in our personal client?

[2021-06-08 18:45] henkelmax commented on #211
Of course the config should be there on the server.
Please double check the location on the server.

[2021-06-08 18:47] DuskWRLD commented on #211
Now that you have told me what to look for I indeed found it xD
Do I just change the default port in the config to one of the open ports to fix it then?

[2021-06-08 18:49] henkelmax commented on #211
Next time please follow the bug template and read the FAQ before opening a new issue!

Yes

[2021-06-08 18:49] #211 closed, assigned to henkelmax

[2021-06-09 12:22] henkelmax commented on #209
I pushed a new update. Can you please send me the logs of this happening in this version:

https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat/files/3344919

[2021-06-09 12:23] henkelmax commented on #189
I pushed a new update. Can you please send me the logs of this happening in this version:

https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat/files/3344919

[2021-06-09 15:20] CrypiYT commented on #209
Yeah of course I can do it, thank you. But we have to wait until Sunday as this is the next time all of us will be playing :/.
I'll send the logs asap

[2021-06-09 15:21] henkelmax commented on #209
Thank you!
This update unfortunately won't fix the actual issue, but I added log outputs, that will hopefully narrow down the source of the problem.

[2021-06-09 17:30] Chwisty opened #212 "Voice chat won't work"
Me and a couple of my friends are having the same problem on all of the servers we are trying to play on where it shows up with a plug with a red line across it in the bottom left. Anyone know how to fix this? (We are using fabric)

Fabric Version:
fabric-loader-0.11.3-1.17.jar
fabric-api-0.34.9+1.17.jar
voicechat-1.17-1.0.2.jar

[2021-06-09 17:34] Chwisty commented on #212
We also tried testing voicechat in game using "/voicechat test *name*" and it said "Client not connected"

[2021-06-09 17:43] henkelmax commented on #212
Duplicate of #112, #104, #98, #97, #115, #124, #146, #152, #153, #160, #169, #178, #203 and many others.

[2021-06-09 17:43] #212 closed, assigned to henkelmax

[2021-06-10 02:10] beanbeanjuice opened #213 "Server Started but Port Unavailable"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
It says that the port was opened, but it does not work. I've contacted PebbleHost and they've said `0.0.0.0` is the correct IP to use. Using the server's built-in IP leads to the server crashing upon a connection. When I use `0.0.0.0`, I'm able to join the server, but not use

[2021-06-10 06:23] henkelmax commented on #213
Please send me the debug logs of your server and client.

[2021-06-10 12:03] LarsStuhlmacher opened #214 "Proximity Chat not working"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
I tried using the mod in the 1.17 version. Group chat works just fine but the proximity chat doesn't work at all. We can hear each other when we are in the same group but when standen next to each other and not being in any group it doesn't work anymore.

**Expected behavior**

[2021-06-10 12:06] henkelmax commented on #214
Can you try if this also happens with version 1.17-1.0.2?

[2021-06-10 12:20] zaBees opened #215 "Distance"
Is there a way to change the reach of the voice chat for each user specifically?

[2021-06-10 12:23] henkelmax commented on #215
No, you can only set it globally

[2021-06-10 12:23] #215 closed, assigned to henkelmax

[2021-06-10 12:35] LarsStuhlmacher commented on #214
Haven't tried that yet, im gonna try this later this day

[2021-06-10 12:36] henkelmax commented on #214
Thank you!

[2021-06-10 14:25] T0TOR opened #216 "doesnt bind to address and 0.0.0.0 also doesnt work"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
if i bind a ip to the mod is says it doesnt bind to address

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
just to bind to the address

**Log files**
https://paste.shockbyte.com/uwulucuqaxulibuzera

[2021-06-10 15:14] henkelmax commented on #216
If you are using a server hoster and binding to the default address doesn't work, the best way is to contact the support of your hoster, since this highly depends on their setup.

[2021-06-10 15:14] #216 closed, assigned to henkelmax

[2021-06-10 16:11] henkelmax commented on #214
Please also try version 1.17-1.0.4.

[2021-06-10 20:09] RubyFennex opened #217 "Will the mod be reworked as a plugin?"
Hello! I am very interested in using this on my server, but the issue is that I can't use mods. Only plugins. So, is there any plans to rework the mod/make a different version of the mod, that works as a bukkit/spigot plugin? Thanks!

[2021-06-10 20:27] henkelmax commented on #217
Take look at plasmo voice

[2021-06-10 20:27] #217 closed, assigned to henkelmax

[2021-06-11 07:31] shawndean0 commented on #24
I'm currently launching Minecraft through the CurseForge launcher on MacOS Big Sur and it appears that it is not requesting permissions to use the microphone for the Simple Voice Chat mod. Launching the native launcher through the terminal is not an option for me as I have to launch the game through CurseForge due to my modpack. Is there another workaround for my situation?

[2021-06-11 16:48] Hhartle commented on #189
Hi @henkelmax going to piggy back on this issue as my is too similar to open a different thread.

I'm currently hosting a server for a YouTube series where we have ~ 14 people online at the same time. When we did our first session stress test, we had really bad issues with audio hitching mid sentence, as well as audio lagging so bad that it was unrecognizable using proximity chat with large number

[2021-06-11 17:25] henkelmax commented on #189
Can you please send me the full logs via github gist?

[2021-06-11 19:30] LarsStuhlmacher commented on #214
Alright.
Sorry for this late reply.

I tried the version 1.0.2 and it worked no problems with proximity, also tried 1.0.4 as you asked and it also works just fine.
Thank you for your mod. I really like it!

[2021-06-11 19:30] #214 closed, assigned to henkelmax

[2021-06-11 20:37] Hhartle commented on #189
I've copied a portion of the server logs to a gist here. The actual log is almost 300 MB so if you need more let me know
https://gist.github.com/Hhartle/ce1e8c489e7b37aa770cdf8498660586#file-gistfile1-txt

[2021-06-11 22:58] Janice999 commented on #24
Same issue for me here too! I'm using MacOS Catalina

[2021-06-12 08:07] henkelmax commented on #189
[21:06:44] [VoiceChatPacketProcessingThread/INFO]: [STDERR]: 	at java.net.PlainDatagramSocketImpl.send(Native Method)
[21:06:44] [VoiceChatPacketProcessingThread/INFO]: [STDERR]: 	at java.net.DatagramSocket.send(DatagramSocket.java:693)
[21:06:44] [VoiceChatPacketProcessingThread/INFO]: [STDERR]: 	at de.maxhenkel.voicechat.voice.server.ClientConnection.send(ClientConnection.java:49)
[21:06:44] [Vo

[2021-06-12 12:33] Hhartle opened #218 "Proximity Chat lags and hitches in groups of 2 or more."
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
I'm currently hosting a server for a YouTube series where we have ~ 14 people online at the same time. When we did our first session stress test, we had really bad issues with audio hitching mid sentence, as well as audio lagging so bad that it was unrecognizable using proximi

[2021-06-12 12:33] Hhartle commented on #189
@henkelmax I saw that too. What is strange is that in the logs it says that it successfully started on the port.
`[20:28:06] [VoiceChatServerThread/INFO]: Server started at port 24454`

There were a few hidden errors that I also saw. Unsure if they are related or not.
`[21:04:55] [VoiceChatPacketProcessingThread/INFO]: Player  timed out
[21:04:55] [VoiceChatPacketProcessingThread/INFO]: Reconnecti

[2021-06-12 12:54] Hhartle commented on #218
@henkelmax Reached out to my server host. Looks like port forwarding is allowed. I've switched ports in my config to a new open port to ensure that someone else was not trying to use that port at the same time. Was able to get another person online to test. Audio quality sounds fine in groups of two but still getting the same errors as above:
`[STDERR]: java.io.IOException: Operation not permitted

[2021-06-12 13:00] henkelmax commented on #218
Yes, this is intentional, if the server laggs behind sending the packets, it will discard some packets to compensate the delay.

Can I see your voicechat server config file?

[2021-06-12 13:21] Hhartle commented on #218
#
#Sat Jun 12 08:42:54 EDT 2021
port=8526
bind_address=0.0.0.0
voice_distance=32.0
voice_fade_distance=16.0
codec=VOIP
enable_groups=true
mtu_size=1024
keep_alive=1000

This is the contents of my config file - was going to add the file but looks like the file type isn't supported.

[2021-06-12 14:01] henkelmax commented on #218
Thank you!
Have you tried binding to your servers IP address?

[2021-06-12 14:29] Hhartle commented on #218
Unsure why I didn't think to do that. Just tried it with two people and still seeing the error, although the audio quality with only two of us was still fine! Hopefully I can get more online later to test with a larger group.

[2021-06-12 21:09] UnlimitedCookies opened #219 "Version reported by Fabric mismatches the Curseforge version"
**Bug description**
The recent versions of simple voice chat do not show the corresponding version in mod menu.

**Steps to reproduce the issue**
1. Download the newest version of simple voice chat for 1.17.
2. Observe version of the mod with mod menu or inside multimc.

I used 1.17-1.0.4
Fabric said that I use 1.17-1.0.1

**Expected behavior**
That the version I use matches the one displayed by f

[2021-06-13 02:09] W0ND585 opened #220 "voice chat unavailable"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log files**
Please provide log

[2021-06-13 02:14] W0ND585 commented on #220
I tried doing /voice chat test and it said can not connect  to the client

[2021-06-13 08:04] henkelmax commented on #220
Duplicate of #112, #104, #98, #97, #115, #124, #146, #152, #153, #160, #169, #178, #203 and many others.

[2021-06-13 08:04] #220 closed, assigned to henkelmax

[2021-06-13 08:08] henkelmax commented on #219
Thank you for reporting this issue. It should be fixed with the next version.

[2021-06-13 08:08] #219 closed, assigned to henkelmax

[2021-06-13 20:19] CrypiYT commented on #209
So we finished or session, but we didn't run into any "voice mod crashes" but player had an insanely high ping.
When the mod was struggling I used the /voicechat test command and it tell me I everyone had a ping around 2000ms.
I also got the server logs (finally :p)
I hope you can help me with this issue :D

[2021-06-13-5.log](https://github.com/henkelmax/simple-voice-chat/files/6644564/2021-06-13

[2021-06-13 20:44] henkelmax commented on #209
[17:04:32] [VoiceChatPacketProcessingThread/WARN]: Packet queue has 400 packets

The problem is definitely the processing power of your server.
It can't handle decrypting and processing all voice chat packets.

I might add a few optimizations on the future, but don't expect it to improve that much...

[2021-06-13 20:44] #209 closed, assigned to henkelmax

[2021-06-13 20:45] henkelmax commented on #218
Do the errors only occur when specific players are talking in the voice chat or does it happen every time?

[2021-06-13 20:47] henkelmax commented on #189
I'm closing this, since it is basically the same as #209

[2021-06-13 20:47] #189 closed

[2021-06-13 22:17] curlybryce opened #221 "Receiving voice quickly dies while sending continues to work"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Transmitting my mic works all the time, for me and those I had tested with.  For me, receiving voice becomes intermittent then stops after a few seconds while it continues to work for everyone else.  I'm on Linux while the two I had tested with are on Windows.

**Steps to repr

[2021-06-14 05:39] Duskeeb commented on #218
I'm having the same problem this guy was having, I've tried the solutions suggested and it has not helped. It spits out these errors:
[14.06 01:29:55] [Server] [VoiceChatPacketProcessingThread/INFO]: [STDERR]: java.net.SocketException: Operation not permitted
[14.06 01:29:55] [Server] [VoiceChatPacketProcessingThread/INFO]: [STDERR]: 	at java.base/sun.nio.ch.DatagramChannelImpl.send0(Native Method

[2021-06-14 08:59] henkelmax commented on #218
@Duskeeb Please use GitHub gist for logs

[2021-06-14 09:01] henkelmax commented on #221
Can you send me the logs of the server?
Are only you experiencing these issues or does it happen for every other player too?

[2021-06-14 12:57] Hhartle commented on #218
@henkelmax Very difficult to tell but it seems to happen regardless of player. I'll try to do some more digging here in a bit.
Is this error typical of server stress or something different?

[2021-06-14 13:01] henkelmax commented on #218
I have only seen this issue on servers, where hosters were not allowing opening other ports. But usually nothing works at all in these cases.

[2021-06-14 13:07] Hhartle commented on #218
Alright, I'll reach back out to my server host to see if they can do more investigating on their end too

[2021-06-14 13:37] curlybryce commented on #221
[server.log](https://gist.github.com/curlybryce/239ed49c33d20a365ddbccd8dd2679aa)
I'm the only one having issues.  My mic will still work (they can hear me) in game and everything works fine for the other two.  Their mics on my end are the only thing seeming to drop
Also, for reference, I'm chaotic_soup in the log

[2021-06-14 13:57] Hhartle commented on #218
After talking to my server host, we confirmed that the port is open, and even after changing ports again still getting this error.

[2021-06-14 14:12] henkelmax commented on #221
What are your system specs, operating system, internet speed, etc.?

[2021-06-14 14:14] henkelmax commented on #218
That's so strange... I have to look deeper into it. I'll get back to you once I have something.
Please let me know if you have something that could help solving the problem.

[2021-06-14 14:34] curlybryce commented on #221
**Specs**
CPU: AMD Ryzen 1700X
GPU: Radeon RX Vega 64
RAM: 16GB DDR4 3200
OS: Linux (Artix), Kernel: 5.11.16-artix1-1
Internet: 650Mbps down + 18Mbps up (never been any issues with dropped packets or anything from what I can tell)

**Java**
openjdk version "16.0.1" 2021-04-20
OpenJDK Runtime Environment AdoptOpenJDK-16.0.1+9 (build 16.0.1+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-16.0.1+9 (build 16

[2021-06-14 17:07] henkelmax commented on #221
You stated that you were using version 1.0.1, but I think you are actually using version 1.0.3. There was a bug in my build system, that caused 1.0.2 and 1.0.3 still internally had 1.0.1 in the fabric.mod.json.
Can you try installing version 1.0.1 (The real version 1.0.1 :D) on your client?

The message `[AudioChannelThread-$player-uuid/WARN]: Clearing buffers to avoid audio delay` was introduced

[2021-06-15 16:50] henkelmax commented on #218
I think I've found the cause of the issue. @Hhartle would you please try this version:

[voicechat-1.16.5-1.5.3-test.zip](https://github.com/henkelmax/simple-voice-chat/files/6657338/voicechat-1.16.5-1.5.3-test.zip)

*Don't forget to unzip it first :D*

[2021-06-15 17:21] henkelmax commented on #213
Closed due to inactivity.

[2021-06-15 17:21] #213 closed, assigned to henkelmax

[2021-06-15 18:54] Hhartle commented on #218
@henkelmax
It seemed like it was working better for about 5 minutes, and then the error happened again. Another 2 min of talking with no errors, and then another error. Pretty strange but seems to be in the right direction at least.

Here's my gist logs: https://gist.github.com/Hhartle/10357e9e0df50a5ec48bbae67131987d

[2021-06-15 19:22] henkelmax commented on #218
I think this is the issue: https://stackoverflow.com/a/62624206/9889252

[code]

I don't know if you can fix this on your own, since you are using a Minecraft server hoster.

[2021-06-15 19:52] henkelmax commented on #24
Has someone tested if it works with 1.17? Since it is using java 16, it might work there.

[2021-06-16 11:58] Hhartle commented on #218
I sent this over to my server host. Not sure if they'll be able to do anything on that front, but they did have me time box a 30 min debug session where I was able to get 5 friends on to test the chat during. Server host were really happy with the performance.
Debug Log: https://gist.github.com/Hhartle/75e20d40d1780ae301b70782f2732745
The log file during this session was exorbitantly large sitting

[2021-06-16 12:05] henkelmax commented on #218
https://gist.github.com/Hhartle/2b8a053af6916bf5bb479d0d6a3b35c9

Isn't that the exact same error?

Debug Log: https://gist.github.com/Hhartle/75e20d40d1780ae301b70782f2732745

The profiler does not track the voice chat.

It is caused by the server dropping network packets due to the aforementioned issue (https://stackoverflow.com/a/62624206/9889252).

Has your hoster mentioned anything about the

[2021-06-16 12:45] Hhartle commented on #218
My apologies. You're right, that is the same error from yesterday after the test version. I meant that the path/tracing was different than we were getting originally. Didn't catch that the stack trace yesterday was different than before. I'm on the same page now.

Right. I sent a follow up message to them explaining this and also mentioning the issue (https://stackoverflow.com/a/62624206/9889252).

[2021-06-16 13:43] Hhartle commented on #218
@henkelmax Alright, my server host was able to apply the IP table rules suggested in the stack overflow issue. I tested with two of my accounts and am still seeing the same error from my prior gist: https://gist.github.com/Hhartle/2b8a053af6916bf5bb479d0d6a3b35c9

My server host also asked

Interested to see your thoughts on this. Thanks again for all of your help :)

[2021-06-16 14:07] henkelmax commented on #218
If a player is talking, the server sends a packet every 20 milliseconds to each player that is in the vincinity.
Each packet is smaller than 1024 bytes.

If your hoster has a UDP limit, this is definitely the issue. Please ask them to increase it appropriately.

[2021-06-16 16:15] VolterMC opened #222 "Question about being simultaneously able to use the proximity chat and broadcast."
**Make sure your question hasn't been answered in the [FAQ](https://modrepo.de/minecraft/voicechat/faq)!**
Can this mod be configured in such a way that I could have voice activated proximity chat, but I could press a PTT button to talk to all the players on the server, regardless of their distance to myself?

[2021-06-16 17:01] henkelmax commented on #222
That's what group chats are for.

[2021-06-16 17:01] #222 closed, assigned to henkelmax

[2021-06-17 14:32] Hhartle commented on #218
Quick Update: The UDP limit has been disabled on my server node as well as the IP Table rule being in place. I've only been able to test this morning with two players so far. Audio sounds good, but I'm still getting the error :(

[2021-06-17 15:11] henkelmax commented on #218
If it works with more people, I can patch out the error messages for you...

[2021-06-17 20:46] Hhartle commented on #218
Was able to try in a group of 5 just now. Works fine with 2, a little worse with 3, and then 4+ there's tons of voice lag and hitching. CPU seemed to be between 30-60% load whenever I looked.

[2021-06-17 20:55] henkelmax commented on #218
I'm sorry, but I'm out of ideas. The last thing you could try is completely resetting your server or moving to another hoster...

[2021-06-20 01:26] njenkins11 commented on #218
Also having the same problem too. Two players in proximity / group works perfect; however, the moment a third player joins in, players start to have issues hearing one another due to lag.

Not sure if this would help, but if only two of those three players are talking, it doesn't lag that badly. But once all three players start talking, the lag quickly becomes noticeable.

Server specs:
Xeon Proce

[2021-06-20 06:52] henkelmax commented on #218
Which hoster are you using?

[2021-06-20 11:04] henkelmax commented on #221
Closed due to inactivity

[2021-06-20 11:04] #221 closed, assigned to henkelmax

[2021-06-20 15:26] mia1507 opened #223 "config not showing?"
ive got the mod in the mods folder of my server, but the config file wont show up at all, anyone know how i can fix this?

[2021-06-20 15:27] ghost opened #224 "Client Crash after normal Start."
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.
Just a crash after starting the Client.

**Steps to reproduce the issue**
1. Starting Minecraft
2. Crash after Start

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log files**
Please

[2021-06-20 15:29] henkelmax commented on #223
Please join the discord server for questions.

[2021-06-20 15:29] #223 closed, assigned to henkelmax

[2021-06-20 15:30] henkelmax commented on #224
Does this happen without any other mods?
Which fabric API version are you using?

[2021-06-20 15:42] njenkins11 commented on #218
We're using Bisect Hosting

[2021-06-20 16:05] henkelmax commented on #224
Unfortunately I am not able to reproduce this issue, but I may have an idea what's causing this problem. Can you please unzip the following file and try that version of the mod:

[voicechat-1.16.5-1.5.6-test.zip](https://github.com/henkelmax/simple-voice-chat/files/6682661/voicechat-1.16.5-1.5.6-test.zip)

[2021-06-20 16:06] henkelmax commented on #218
Premium or budget?

[2021-06-20 16:55] njenkins11 commented on #218
Budget I believe

[2021-06-20 16:58] henkelmax commented on #218
The voice chat only works with the premium one unfortunately.

[2021-06-20 16:58] ghost commented on #224
Same Problem. :/
https://pastebin.com/sQFJP2qm

FabricAPI: 0.35.1+1.16

[2021-06-20 16:59] henkelmax commented on #224
Even without any other mods?

[2021-06-20 17:03] ghost commented on #224
Hmm... Works without other Mods and newest FabricAPI Version.

[2021-06-20 17:04] henkelmax commented on #224
Can you please check which mod in combination with the voice chat mod crashes the game?

[2021-06-20 17:05] ghost commented on #224
I'll try to find the Issue and will report you if I found it.

[2021-06-20 17:11] henkelmax commented on #224
Awesome! Thank you!

[2021-06-20 17:37] ghost commented on #224
Found the Reason!
kubejs-fabric-1605.3.10-build.25.jar

After deleting this Mod. The Client start without problems.

[2021-06-20 17:56] #224 closed, assigned to henkelmax

[2021-06-20 18:04] henkelmax commented on #224
Thank you for your help. It should be fixed in the latest version. I also created an issue report to the Architectury API, so this will not happen for any other mods.

[2021-06-20 18:05] ghost commented on #224
Sounds good. Thank you for the fast fix. :D

[2021-06-21 04:17] SmallPepperZ commented on #24
It does work with MultiMC on Java 16, but not with the vanilla launcher. The terminal workaround does still seem to work.

[2021-06-21 11:55] schmuxix opened #225 "Voicechat is not working on Aternos Servers"
I am playing on my own server via Aternos with my friends but even if the mod is installed on the server there is a message that it is unavailable.

[2021-06-21 11:56] #225 closed, assigned to henkelmax

[2021-06-21 16:57] sublok opened #226 "Sample of the voicechat-server.properties"
**Make sure your question hasn't been answered in the [FAQ](https://modrepo.de/minecraft/voicechat/faq)!**
Where can I find a sample of the file? it was not created under the serverconfig

[2021-06-21 17:34] henkelmax commented on #226
Please use the discord server for questions

[2021-06-21 17:34] #226 closed, assigned to henkelmax

[2021-06-22 06:58] sfxworks opened #228 "Specifying IP address on Client Side"
Hello,

I have noticed that your project does not allow specifying the IP address of the server. Specifically, in your discord, this user pointed it out to me.
![image](https://user-images.githubusercontent.com/5921035/122878270-90a59500-d305-11eb-9c3b-9da4fea406e3.png)

I would like the ability to specify the IP address of the voice server. We at MC Server Hosting use a different IP address for p

[2021-06-22 07:44] henkelmax commented on #228
I think the better approach would be to set the IP the voice chat should connect to in the server config and the client gets this information sent from the server. This would be much easier, because not every client would need to specify the IP.

[2021-06-22 07:46] mjwells2002 commented on #228
https://github.com/henkelmax/simple-voice-chat/pull/229

[2021-06-22 07:47] mjwells2002 commented on #228
i quickly made this feature with a server side config value sent in the initialization leaving the server side config blank defaults back to using the minecraft servers ip

[2021-06-22 07:50] henkelmax commented on #228
That was quick :D
I requested some changes.

[2021-06-22 10:25] #228 closed, assigned to henkelmax

[2021-06-22 18:11] PyZeee opened #230 "I hear others and myself (in testing mode) but nobody is hearing me..."
Bug description

So I and a couple of others started a server a few weeks ago, containing this great mod and a couple of others (that are listed below). Back then it worked perfectly fine and we had a great time together, but when we started a new server yesterday, only I ran into some issues. After adding the mod *voicechat-1.16.5-1.5.8* like everyone else, I first thought that everything worked

[2021-06-22 18:28] henkelmax commented on #230
We are aware of this issue, but we are not able to reproduce it.
Can you please send me the logs of your client?
It would also be great if you can share your java version, OS and PC specs.
Is this just happening to you or to anybody else on your server?

[2021-06-22 19:04] PyZeee commented on #230
Heya, here are my logs:
[2021-06-22-7.log](https://github.com/henkelmax/simple-voice-chat/files/6696757/2021-06-22-7.log)

My java version: ![image](https://user-images.githubusercontent.com/86316225/122983641-82ef1e80-d39c-11eb-8593-189e755c5370.png)

And finally, my PC specs (2nd Van Gogh confirmed): ![image](https://user-images.githubusercontent.com/86316225/122984014-da8d8a00-d39c-11eb-808b-51

[2021-06-22 19:17] henkelmax commented on #230
Thank you very much. I will look into it.

Of course :)

If you want, you can join our discord (https://discord.gg/4dH2zwTmyX).
This way communication might be a little quicker than on GitHub.

[2021-06-22 20:56] henkelmax commented on #230
It should be fixed with the latest alpha release on curse.
I was able to reproduce it myself.
Let me know if it works for you. If not I will reopen the issue.

[2021-06-22 20:56] #230 closed, assigned to henkelmax

[2021-06-23 02:46] daniel-widrick opened #231 "Mod 'Simple Voice Chat' (voicechat) requires version... Clarify Wording"
Just spent 30 minutes tracking down what the following error meant:
[code]

Can this wording in the error be updated to refer to the actual Fabric-API
[code]

[2021-06-23 06:47] henkelmax commented on #231
This message is from fabric.
To fix this you would need to report this to the fabric devs.

[2021-06-23 06:48] #231 closed, assigned to henkelmax

[2021-06-23 07:22] henkelmax commented on #218
@Hhartle Any updates on the issue?

[2021-06-23 14:58] Hhartle commented on #218
Sorry for the delayed response on this. Looks like it was a networking problem with the specific machine the server was on. I wish I could provide more detail as to why, but after switching server nodes / racks the voice chat is working amazing! Was finally able to test with a group of 10 last night and no audio problems at all! Thank you so much for all of your help! Really appreciate the work yo

[2021-06-23 14:59] henkelmax commented on #218
Awesome to hear that!
Have fun playing :)

[2021-06-23 14:59] #218 closed, assigned to henkelmax

[2021-06-25 21:33] curlybryce commented on #221
Alrighty, sorry for lack of replies, I had gotten incredibly busy all of a sudden.  I looked a bit and it turns out I was using 1.0.4 (it had been reporting as 1.0.1).  Today I was able to test with a large amount of people (around 8).  First everything was upgraded to 1.2.3 which didn't seem to work at all for anyone, after which everyone downgraded to the actual 1.0.1 and everything worked perfe

[2021-06-26 15:01] mjwells2002 commented on #24
Slightly simpler fix for this download this zip file extract it somewhere and use the .command file to run the Minecraft launcher (just double click it)
[Minecraft-Microphone-Workaround.command.zip](https://github.com/henkelmax/simple-voice-chat/files/6720288/Minecraft-Microphone-Workaround.command.zip)

[2021-06-28 08:17] L3GION-GAMING opened #233 "It is showing that voice chat is unavailable."

[2021-06-28 08:17] #233 closed, assigned to nobody

[2021-06-28 09:55] lightonair opened #234 "Voice chat unavailable"
**Make sure your question hasn't been answered in the [FAQ](https://modrepo.de/minecraft/voicechat/faq)!**
Can't get this to work properly. Says "Voice chat unavailable" I have opened PORTS on my server. Please HELP!!
![image](https://user-images.githubusercontent.com/86599922/123617600-0c7f7000-d825-11eb-97f3-501999cf1f09.png)

[2021-06-28 10:19] henkelmax commented on #234
For help please visit the discord server.

[2021-06-28 10:19] #234 closed, assigned to henkelmax

[2021-06-28 15:43] CrystalE8ght commented on #24
I’ve tried the command (/applications/Minecraft.app..etc.) in my terminal but it won’t work. It just says not found.

[2021-06-28 15:44] henkelmax commented on #24
You need the vanilla launcher installed in order for this to work.

[2021-06-28 15:47] CrystalE8ght commented on #24
I do

[2021-06-28 15:47] CrystalE8ght commented on #24
I do

[2021-06-28 15:48] CrystalE8ght commented on #24
I just reinstalled it and tried. And it’s saying the same thing.

[2021-06-28 18:06] henkelmax commented on #24
@CrystalE8ght Please visit the Discord for more help. The GitHub issue page is not the right place for this.

[2021-06-29 05:26] CrystalE8ght commented on #24
Gotcha, I’ll go back over there and wait for no one to help me.

[2021-06-29 06:57] henkelmax commented on #24
That's really rude. We are spending our whole day helping everyone we can on that discord!

[2021-06-30 03:07] Apprisco opened #236 "Refuses to work, but packets are receieved."
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Purpur, latest version, on pterodactyl.
Made sure player ips are probably passed through, forwarded the ports and added allocations.

**Expected behavior**
Voice chat should be enabled, but it isn't.

**Log files**
![image](https://user-images.githubusercontent.com/34324909/12

[2021-06-30 06:47] henkelmax commented on #236
This is not a bug.
For help with the voice chat, please visit the discord.

[2021-06-30 06:47] #236 closed, assigned to henkelmax

[2021-06-30 19:38] jakobii opened #237 "Verify User Identity"
**Bug description**
This is more of a question than a bug. im new to Java development and more specifically Minecraft mod development.

Is it possible for a client to claim to be a user they are not?

**Steps to reproduce the issue**
1. reverse engineer the binary protocol.
2. send the user id of a user i would like to masquerade as.
3. communicate with other users on the Minecraft server.

**Expe

[2021-06-30 19:40] henkelmax commented on #237
The secret is like the name says a SECRET, so no client can connect to the voice chat if it hasn't got the secret that's associated to this player.
You also can't find it out since everything is encrypted over network.

[2021-06-30 19:40] #237 closed, assigned to henkelmax

[2021-06-30 22:30] iMcFly commented on #24
I'm using MultiMC on Java 16 with Fabric (not Forge) and whether I run it via the app or through terminal, I cannot get it to request access to the mic. When I do it with the vanilla launcher, it works with the terminal workaround. So even with Terminal now appearing in the microphone permission list, MultiMC appears to work slightly differently in that regard and it won't pick up my microphone's

[2021-07-01 05:05] ShilohMC opened #238 "Server Port"
So I installed the mod and I saw you had to set up your server port with it, I use shockbyte (yes ik possibly the worst server hosting) and I'm not sure if I am able to use this mod with it. When I have the mod installed it says "Voice chat not available".

[2021-07-01 07:01] henkelmax commented on #238
https://shockbyte.com/billing/knowledgebase/269/How-to-Setup-Simple-Voice-Chat-on-your-Minecraft-Server.html

[2021-07-01 07:01] #238 closed, assigned to henkelmax

[2021-07-02 03:04] DDR-Khat opened #239 "GL ERROR @Render"
**Bug description**
Game client logs is getting repeatedly spammed with Render thread errors. Keys all seem to function fine with my configuration but the error happens still? Maybe it's due to me un-binding a few keys, as it is reporting INVALID KEY -1

**Steps to reproduce the issue**
1. Install the Mod with the mentioned version of Minecraft and Fabric
2. Boot up the game and load into any (sin

[2021-07-02 07:21] henkelmax commented on #239
You are using and old 1.17 version of the mod for 1.17.1-rc1.
Please use the mod version that was made for that MC version: https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat/files/3373055

[2021-07-02 07:21] #239 closed, assigned to henkelmax

[2021-07-02 07:59] DDR-Khat commented on #239
Well, I am dense! I could've sworn I'd grabbed the latest version. Must've only grabbed the most recently updated _(not what I normally do, kinda embarrassing)_
Sorry, and thanks!

[2021-07-02 08:17] DDR-Khat commented on #239
Unfortunately, I've grabbed the latest version that you linked to and the issue **also** exists there. And it is indeed what I confirmed.

The moment you specifically unbind a key to have no input, it'll begin spamming the console with that log.

![image](https://user-images.githubusercontent.com/66983153/124243912-4ea2fd00-db16-11eb-86a8-932da2160854.png)

[2021-07-02 10:35] henkelmax commented on #239
I am not able to reproduce these issues. This is most likely caused by another mod.

[2021-07-02 12:02] DDR-Khat commented on #239
https://gist.github.com/DDR-Khat/7b1c909870c7194724eba1eac541e70f I can confirm it is DEFINITELY this mod and not caused by a seperate one. And is explicitly because of unbinding a key. This is done by picking a key in the configuration menu and pressing ESC, as you can see in the screenshot above with the "push to talk" key.
If I re-bind that key, the error goes.

[2021-07-02 12:11] henkelmax commented on #239
Then please remove every mod except voice chat and Fabric API, use the vanilla launcher and try it again.
I did exactly what you said and nothing happens.

[2021-07-02 12:12] DDR-Khat commented on #239
If you look at the GIST I linked above, that is exactly what I have done in that log. I have explicitly booted the game with only Fabric and simple voice chat. The issue still occurs. I am otherwise not sure what I am doing differently from yourself.

[2021-07-02 12:13] henkelmax commented on #239
Then just remove also the voice chat and try it again. Maybe this is a general issue with fabric API or even MC itself.

[2021-07-02 12:16] DDR-Khat commented on #239
https://gist.github.com/DDR-Khat/a7222b0768c4753cf548bc4547899a8a As requested.

[2021-07-02 12:19] henkelmax commented on #239
Please check if this also occurs in 1.17.

[2021-07-02 12:26] DDR-Khat commented on #239
https://gist.github.com/DDR-Khat/5908464229475b8813b6585b6c94b5ab -- Vanilla log [1.17.1]

https://gist.github.com/DDR-Khat/b968fe071b004241eb7097e8ca97925b -- MultiMC log [1.17]

Both with the exact same problem still, sorry to say.

[2021-07-02 12:31] henkelmax commented on #239
Which OS are you using?

[2021-07-02 12:31] DDR-Khat commented on #239
![image](https://user-images.githubusercontent.com/66983153/124274972-d0f0e880-db39-11eb-84e3-9f3d27dc284b.png)

[2021-07-02 12:32] henkelmax commented on #239
Sorry, but I'm not able to reproduce this error. Does it have any effect of the ability to play this mod?

[2021-07-02 12:38] DDR-Khat commented on #239
It doesn't make any gameplay problems, the alerts still come up and I can just bind it to a key I wouldn't use I guess, but ideally having those buttons unbound would be nice as otherwise I'm gonna end up with a bunch of log files with tons of this entry making looking through them really difficult if I need to find out previous things.

I suppose I could grab a copy of the git, throw it into Inte

[2021-07-02 12:42] henkelmax commented on #239
Yeah, I tried unbinding. No errors...
Would be nice if you can test it in the dev environment

[2021-07-02 12:57] DDR-Khat commented on #239
I believe I may have narrowed down what is causing the problem.
I did infact run in the development enviroment, and those GL errors did not occur.
I've noticed the one thing that appears to be different...

``"C:\Program Files\Java\jdk-16.0.1\bin\java.exe"`` is the dev enviroment.

``"C:\Program Files\Java\jdk-16.0.1\bin\javaw.exe"`` seems to be everywhere else.

[Edit] This is a false positive. T

[2021-07-02 13:00] henkelmax commented on #239
Good to know. I will test it without dev environment too.

[2021-07-02 13:04] DDR-Khat commented on #239
I should clarify that these occurs do not occur at the title screen or menus. Only when you are in any world.

[2021-07-02 13:34] henkelmax commented on #239
Yeah I tried it in a non dev environment and also when in a world. Still no error.

What GPU are you using?

Would also be worth a try testing to reset a keybind created by another fabric mod.

[2021-07-02 13:56] DDR-Khat commented on #239
![image](https://user-images.githubusercontent.com/66983153/124285155-91c89480-db45-11eb-908a-54e822d588f4.png)
Any other fabric mod happily allows binding to any keys, this is the first time I've ever had such an OpenGL error before which has left me rather confused as to why your mod is having this problem -- Especially as from a casual glance over the code I don't see why it would provide a REN

[2021-07-02 13:58] henkelmax commented on #239
That's so weird... Does this happen if you try to reset a keybinding that has no key by default or for keybinds that have a default key?

[2021-07-02 14:01] DDR-Khat commented on #239
I have identified it more specifically! It is a null binding on the Push-to-Talk !! I sat and unbound each and every key carefuilly. And the error suddenly occurs on having Push-to-talk null.

[2021-07-02 15:47] henkelmax commented on #239
So it only happens with the push to talk key?
I think I have a hunch what it could be! Thank you!

[2021-07-02 15:56] henkelmax commented on #239
The issue should be fixed in the upcoming version.

[2021-07-03 19:46] EpicnessTwo opened #240 "Unhandled exception occured in onPacketReceiving(PacketEvent) for voicechat"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
When a player joins the server, an error is shown in the server's console. And players with the mod installed can't hear eachother.

**Steps to reproduce the issue**
1. Join the server with the latest fabric mod and spigot plugin installed.
2. Error is shown

**Expected behavi

[2021-07-03 19:53] henkelmax commented on #240
This happens if some other application sends data to the voice chat port.
Consider switching to another port.

I'm assuming you are using BungeeCord, since you have BungeeTabListPlus installed. When using a proxy, the compatibility check is being suppressed. This means players with an incompatible version can join. This can also cause this exception.

Please try updating to this version: [voicecha

[2021-07-03 19:53] #240 closed, assigned to henkelmax

[2021-07-03 20:20] EpicnessTwo commented on #240
Updated the plugin to the version you've specified and whilst there's no longer an error when a user joins, the client is now stating that "Voice chat unavailable".

Yes, we are using Bungeecord (Waterfall) as we operate a network.

We are using a custom port as we have multiple servers on the network, all with their own Voice Chat port assigned (In this case, we are using 30001). I've also checke

[2021-07-03 20:25] henkelmax commented on #240
Try setting the `voice_host` option to the IP this specific MC server is running on.
For more help I would recommend joining the Discord server.

[2021-07-03 20:30] EpicnessTwo commented on #240
Joined the Discord a few mins ago. I've set the `voice_host` to the public IP of our server and nothing has changed.

For reference, this is the config for the server we are testing it on atm:

[code]

[2021-07-04 00:24] TechnicProblem opened #241 "Swedish translation"
**Locale code**
sv_se

**Translation**
https://gist.github.com/TechnicProblem/de3dfc4c3aea6fe7d56efb10d0530ab2

[2021-07-04 07:15] #241 closed, assigned to henkelmax

[2021-07-04 07:15] henkelmax commented on #241
Thank you!

[2021-07-04 15:38] Moocow9m opened #242 "BadPaddingException occurs randomly"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Randomly, while voice activation is on, it will throw this exception and sometimes crash the client. It has not been tested without krypton, but is random enough to be hard to replicate, so a test could not be conducted. Player can also be alone on the server and exception wil

[2021-07-04 16:44] henkelmax commented on #242
Please update to the latest mod version

[2021-07-04 16:44] #242 closed, assigned to henkelmax

[2021-07-05 03:41] Moocow9m commented on #242
Latest version gives same error

[2021-07-05 05:02] Moocow9m opened #243 "BadPaddingException"
Please read the FAQ before submitting a bug report!

Bug description
Randomly, while voice activation is on, it will throw this exception and sometimes crash the client. It has not been tested without krypton, but is random enough to be hard to replicate, so a test could not be conducted. Player can also be alone on the server and exception will still happen.

Steps to reproduce the issue
Unknown

[2021-07-05 07:19] henkelmax commented on #243
Please provide the full log files of your client and server.

[2021-07-07 04:32] Xicad commented on #243
I'm having the same issue as Moocow9m, here are my log files.
Server: https://gist.github.com/Xicad/36b8cbc49f0e849480cda37850c3e978
Client: https://gist.github.com/Xicad/a9da82e646df258505432d228cc6a443

[2021-07-07 06:40] henkelmax commented on #243
This happens if traffic from another application arrives on the server.
Sometimes this is caused by using VPNs or other stuff that can mess with UDP packets.
But it seems to work for you and if there are only occasionally errors, you can ignore them.
If these errors occur very regularly, I would advise switching the port or in some cases the MC hoster.

[2021-07-07 06:40] #243 closed, assigned to henkelmax

[2021-07-07 23:37] fooeyround opened #244 "I see why you would do this but"
I am on 1.17.1 because I made and have mods for it and it is more stable than 1.17 but the server I play on is 1.17 and when I connect I cant join because the version on the server is older and I cant get it on 1.17.1 because of obvious reasons, I have multiconnect to join servers, its by earthcomputer.

[2021-07-08 06:10] #244 closed, assigned to henkelmax

[2021-07-08 20:58] JackTGG commented on #244
Its fine that it is but why is it invalid?

[2021-07-08 20:59] fooeyround commented on #244
okay neverminded bye

[2021-07-09 18:24] HermitCree opened #245 "Client Disconnects from Server"
Every time I join my server with simple voice chat enabled, I stay on the server for about twenty seconds and then crash. Every time, I am given the error "Internal Exception: java.IOException: An existing connection was forcibly closed by the remote host". This only happens on the server when Simple Voice Chat is installed, when I uninstall it the problem goes away. I've tried as many things as I

[2021-07-09 18:24] #245 closed, assigned to nobody

[2021-07-09 18:31] HermitCree opened #246 "Client Disconnects from Server"
**Bug description**
Every time I join my server with simple voice chat enabled, I stay on the server for about twenty seconds and then crash. This only happens on the server when Simple Voice Chat is installed, when I uninstall it the problem goes away.

**Steps to reproduce the issue**
1. Join a server with Simple Voice Chat
2. Wait about 20 seconds
3. Crash

**Expected behavior**
I expected to b

[2021-07-09 18:38] henkelmax commented on #246
I need the server logs.

[2021-07-09 18:45] HermitCree commented on #246
Gotcha!
https://gist.github.com/HermitCree/93dd58821116c4c89d9a8747a692423e

[2021-07-09 18:45] henkelmax commented on #246
The full logs

[2021-07-09 18:46] HermitCree commented on #246
Okay! Sorry!
[latest.log](https://github.com/henkelmax/simple-voice-chat/files/6793359/latest.log)

[2021-07-09 18:52] jason-green-io opened #247 "opus class load errors on client when starting and connecting to server Apple Silicon M1"
Minecraft 1.17.1
fabric API 0.361+17
version 1.17.1-1.0.0

java:
openjdk version "16.0.1" 2021-04-20
OpenJDK Runtime Environment (build 16.0.1+10)
OpenJDK 64-Bit Server VM (build 16.0.1+10, mixed mode)

If you don't have the hardware, I'm willing to jump through hoops for you if it's just a matter of getting it to recognize the architecture.

I get this when I join a server:

[code]

[2021-07-09 18:53] #247 closed, assigned to nobody

[2021-07-09 19:05] henkelmax commented on #246
This does not seem to be an issue of the voice chat mod.
`HermitCree lost connection: Timed out`

Please try if this happens without the mod installed.

[2021-07-09 19:13] jason-green-io opened #248 "opus class not found on Apple Silicon M1 native aarm64 jdk client"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Plugin on Apple Silicon M1 Macs using a native aarm64 jdk doesn't find opus class.

**Steps to reproduce the issue**
Connect to server with a  native aarm64 client.
Logs complain about not finding opus.

**Expected behavior**
Plugin works as expected

**Log files**

https://gi

[2021-07-09 19:31] HermitCree commented on #246
When I uninstall the mod from the server and my client, the crash does not happen.

[2021-07-09 19:35] henkelmax commented on #248
There are currently no natives for Apple silicon. You need to run Minecraft with Rosetta.

[2021-07-09 19:35] #248 closed, assigned to henkelmax

[2021-07-09 19:37] henkelmax commented on #246
There are no crashes or errors.
Is this happening to every player on the server or just you?
I also need the full logs of the client.

[2021-07-09 19:40] HermitCree commented on #246
It is only happening to me. And here are the full client logs.
[2021-07-09-1.log.gz](https://github.com/henkelmax/simple-voice-chat/files/6793612/2021-07-09-1.log.gz)

[2021-07-10 07:17] henkelmax commented on #246
Sorry, but I can't find any crash or similar. It might be just an issue of your system.

[2021-07-10 08:35] iT3g4n opened #249 "My friend keeps getting kicked for "Badly compressed packet - size of 2 is below server threshold of 256" when the mod is installed."
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
When my friend joins my server, he cannot join with voicechat mod installed and it gives this error: `Badly compressed packet - size of 2 is below server threshold of 256`

**Steps to reproduce the issue**
1. Install all the mods

**Expected behaviour**
He should be able to pl

[2021-07-10 08:37] henkelmax commented on #249
This happens if you are in offline mode. Please set `online-mode=true`

[2021-07-10 08:37] #249 closed, assigned to henkelmax

[2021-07-10 08:41] iT3g4n commented on #249
thank you but i don't think i can do that, another friend of mine doesn't have premium minecraft yet. Oh well. Thank you anyway :(

[2021-07-10 12:02] HermitCree commented on #246
Okay. Thank you for your help! I guess it's back to work lol.

On Sat, Jul 10, 2021, 3:17 AM Max Henkel ***@***.***> wrote:

[2021-07-10 12:02] #246 closed, assigned to henkelmax

[2021-07-11 14:02] Harold-Brooks commented on #24
hi, I tried this option and it worked completely fine for me, and on another mac I tried it on. I strongly encourage anyone to try this. it adds Minecraft to the microphone panel in security and privacy settings, now when I open Minecraft through the vanilla launcher I can play totally normally with this mod (great mod btw) I have found no issues yet, it seems to be working fine

OS: macOS Mojave;

[2021-07-11 15:56] BrekiTomasson opened #251 "Crashing on launch"
Minecraft 1.17.1 running on MacOS, using Voicechat Fabric 1.17.1-1.0.3. Everything else is updated and up to date, and disabling the voice chat mod fixes all issues. It might still be a conflict with another mod, as I haven't tried running *only* the voice chat mod, however.

Here's the crash log:

[code]

[2021-07-11 15:59] henkelmax commented on #251
Please fill out the full bug template.

Are you using an ARM based mac?

[2021-07-11 16:44] BrekiTomasson commented on #251
**Bug description**
See above.

**Steps to reproduce the issue**
1. Launch the game.
2. Wait for it to finish loading.
3. See it crash before being presented with the main menu.

**Expected behavior**
I expect it not to crash...

**Log files**
Here's the log file: https://gist.githubusercontent.com/natanfudge/58a9ba247a838bc3fbfb1d86a54d3d43/raw/33d71381aafdb9afe0d8946a6c15d977587c3f5c/crash.txt

[2021-07-11 16:46] henkelmax commented on #251
Can you also please try if this happens without any other mods installed?

[2021-07-11 16:59] BrekiTomasson commented on #251
And you obviously did not read the crashlog.

**Operating System: Mac OS X (x86_64) version 10.16
Processor Name: Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz
Identifier: Intel64 Family 6 Model 158 Stepping 9**

And yes, the problem remains even if `voicechat` and `fabric-api` are the only things being loaded:

[code]

[2021-07-11 17:00] henkelmax commented on #251
Can you send me the full log of the crash when no other mods are loaded?
And please send the actual log and not the crash report.

Can you also try just loading Minecraft with just fabric API and without the voice chat mod.

[2021-07-11 17:15] BrekiTomasson commented on #251
Here's the log with just Fabric API and the voice chat mod: [latest.log](https://github.com/henkelmax/simple-voice-chat/files/6797320/latest.log)

And there are no problem with any combinations of mods, whether that be only `fabric-api` or `fabric-api` and any combination of all the other mods in the modpack. It's only when I add `voicechat` when it crashes.

[2021-07-11 17:30] henkelmax commented on #251
Can you try if this also happens with the 1.16.5 version of the mod?

[2021-07-11 17:41] pliposquirrel commented on #251
i have the same problem...

[2021-07-11 17:42] henkelmax commented on #251
Just saying that you have the same problem is not helpful at all.

[2021-07-11 18:21] BrekiTomasson commented on #251
It was working fine back in 1.17 and - I believe - also in 1.16.5. The problems began after upgrading to 1.17.1.

[2021-07-11 18:23] henkelmax commented on #251
Can you try if it happens with fabric loader 0.11.3?

[2021-07-11 18:28] BrekiTomasson commented on #251
Not really, `Could not find required mod: voicechat requires {fabricloader @ [>=0.11.6]}`

[2021-07-11 18:31] henkelmax commented on #251
Ah, right... You need to try the latest 1.16.5 version for that

[2021-07-11 18:40] BrekiTomasson commented on #251
Yup; `fabric 0.11.3`, `minecraft 1.16.5`, `fabric-api 0.36.0+1.16.5` and `voicechat 1.16.5-1.8.7` works fine. Again; I was using the mod just fine with all the latest versions of everything under Minecraft 1.17, but it started crashing after the update to 1.17.1.

[2021-07-11 18:42] henkelmax commented on #251
Alright, it seems that the new fabric loader version somehow messes with jna...

[2021-07-11 18:44] BrekiTomasson commented on #251
Could be .. but that would mean that none of the other 100+ mods in my modpack use JNA, and that `voicechat` is the only mod affected by changes in the new fabric loader?

[2021-07-11 19:30] brawaru commented on #249
Try setting `network-compression-threshold` to `0` in `server.properties`.

[2021-07-11 19:32] henkelmax commented on #251
Why would they use JNA?

[2021-07-11 19:51] henkelmax commented on #251
@BrekiTomasson can you please test this version:

[voicechat-fabric-1.17.1-1.0.4.zip](https://github.com/henkelmax/simple-voice-chat/files/6797574/voicechat-fabric-1.17.1-1.0.4.zip)

Don't forget to unzip the jar.

[2021-07-11 20:27] BrekiTomasson commented on #251
That seems to have fixed it, even running with all the other mods in my modpack under `fabric 0.11.6` and `fabric-api 0.36.1`. Interesting that the JAR is about 1.5 megabytes smaller than the previous release, `v1.17.1-1.0.3`.

[2021-07-12 03:58] Vidhin05 commented on #251
[code]

[2021-07-12 04:03] Vidhin05 commented on #251
Works fine using the jar you attached earlier.

[2021-07-12 05:55] henkelmax commented on #251
Yeah, I removed the shaded JNA version, since it seems to be included in the latest fabric loader versions.

[2021-07-12 06:02] #251 closed, assigned to henkelmax

[2021-07-12 06:19] Vidhin05 commented on #251
However, I am unable to do voice chat even though the launcher is not crashing on restart. I am unable to listen to others/speak

[2021-07-12 06:24] henkelmax commented on #251
This is completely unrelated. Take a look at #24

[2021-07-12 06:30] henkelmax commented on #251
The fix is now up on CurseForge.

[2021-07-12 20:38] kubus1472 opened #252 "Is there a possibility to turn off voice chat recording for everyone?"
Hello.
I want to ask if there is a possibility to turn off voice recording for everyone in the server or not?
I also want to ask for all commands and permissions.

[2021-07-12 20:39] henkelmax commented on #252
No. Recording is completely client side.

[2021-07-12 20:39] #252 closed, assigned to henkelmax

[2021-07-13 00:29] SquirrelCraft commented on #24
@Harold-Brooks

I also found this however this could be pretty dangerous if you typo something. Also stuff like this could void your Apple Support if you start mucking around and break something. Technically this is the database that gets updated when an app registers with OS with the microphone entitlement, then you can toggle in on/off.

Just for fun I will grab a spare Mac and see what happens

[2021-07-13 00:46] SquirrelCraft commented on #24
Also for those you see this and want to try the hack above. There be dragons! At least let me explain what you are doing and the risks you take.

What you are doing is first using the `csrutil` command in safe mode to disable the system Integrity protection. This allows you to make the changes (manually add Minecraft to that window). With this system disabled malware could also do some things as w

[2021-07-13 05:30] wolten65 opened #253 "Microphone not working in Windows 10 OS"
So when i install the mod on my aternos server and i download forge 1.16.5 same version also, i also have another mod called Mr.Crafish's Gun Mod adn Obfucate the mod works its just that we cant hear eachother, we also put the port of the server in the voicechat file. It sometimes also tells voice chat unavailable but if we rejoin it will come, we just cant hear eachother.Please someone help me, T

[2021-07-13 06:40] henkelmax commented on #253
Please fill out the bug template.

[2021-07-13 06:40] #253 closed, assigned to henkelmax

[2021-07-13 08:13] SplendidAlakey opened #254 "Is there a command to stop the voice chat server?"
MC version 1.17.1
SVC version 1.0.6
Fabric API version 0.37.0

I am running my MC server on a Ubuntu screen, when I stop the server it does not stop the voice chat server, and I am forced to detach the screen, kill it and start a new one. This makes sure the voice chat server restarts as well, otherwise it will crash the server due to being unable to be bound to 0.0.0.0, since the previous session

[2021-07-13 08:17] henkelmax commented on #254
The voice chat server automatically starts and stops with the minecraft server. No additional commands needed.

[2021-07-13 08:17] #254 closed, assigned to henkelmax

[2021-07-17 03:11] XiaoHuiHui233 opened #255 "BadPaddingException in every seconds after player login"
**Bug description**
I installed and set up this mod on both the server and the client. But any player connecting to this server cannot use the voice function normally. Even worse, when a player who installs this mod on the client enters the server, the server will report a BadPaddingException every second.

I also see #242 #243 . I tried several unbind ports, but it still reports exceptions. And I

[2021-07-17 05:04] XiaoHuiHui233 commented on #255
I found that I was running an older version, the latest version is 1.8.9. Therefore, I updated both the client and server mods to 1.8.9. The problem still occurs, and the client still keeps `trying to authenticate voice connection`. The server no longer explicitly reports an exception, but prompts a warning:
[code]

[2021-07-17 05:42] XiaoHuiHui233 commented on #255
In addition, I conducted some new tests, and the tests showed that when I directly connected to the server (without through BC proxy) everything was functioning normally. And when I connect to the server through BC, this problem occurs. Does this mean that the mod does not support BC group servers?

[2021-07-17 07:17] henkelmax commented on #255
You most likely get these errors, because you are using an incompatible mod version on your client. Normally you will get kicked when trying to connect with an outdated version, but bungee prevents the login networking packets to get sent to the server.

If you have the same mod version, this issue is still not related to the error messages.
If you need help configuring and setting up the mod, ple

[2021-07-17 07:17] #255 closed, assigned to henkelmax

[2021-07-17 13:26] CommandCracker8 opened #256 "Help"
Hi! I need some help. I have two questions:

1: How do I use the Bukkit/Spigot/Paper versions of the mod found [Here](https://www.curseforge.com/minecraft/bukkit-plugins/simple-voice-chat/files/all)? Do I just install it and then the players who connect to my server still use the mod? This would be good, as it would mean I don't need a Fabric server and I can then install plugins. Plus I could use

[2021-07-17 13:26] #256 closed, assigned to nobody

[2021-07-17 13:27] CommandCracker8 commented on #256
None of the templates applied.

[2021-07-17 13:32] CommandCracker8 opened #257 "Help Please"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Ok well I had my ticket closed because I didn't use a template but none of the templates applied!
Here is what my issue said:

Hi! I need some help. I have two questions:

1: How do I use the Bukkit/Spigot/Paper versions of the mod found [Here](https://www.curseforge.com/minec

[2021-07-17 13:42] henkelmax commented on #257
Please visit the discord for help

[2021-07-17 13:42] #257 closed, assigned to henkelmax

[2021-07-17 14:07] CommandCracker8 commented on #257
OK!

[2021-07-17 14:20] Electro192006 opened #258 "it WORKS two times AND then IT doesn't WORK i HAVE TO reinstall IT to WORK two times"
I have FABRIC and EVERYTHING is PERFECT
it doesn't TELL me VOICE chat UNAVAILABLE
and NO mute MIC or SPEAKER
I don-t KNOW what TO do?

[2021-07-17 14:35] CommandCracker8 commented on #257
Could you reply to my message please @henkelmax ? It's https://discord.com/channels/854659575324344340/858034045564878858/865957051179335741

[2021-07-17 14:49] #258 closed, assigned to henkelmax

[2021-07-17 15:29] sdarkwell opened #259 ""Mute Microphone" control does not work when bound to Mouse 4"
**Bug description**
When the "Mute Microphone" control is bound to Mouse 4, it does not work. It appears to bind correctly, but neither pressing and releasing or pressing and holding the Mouse 4 button has any effect. Mouse 4 _does_, however, work as the "Push To Talk" button.

Note: Mouse 4, by default, is the Microsoft Windows "Back" button, but does normally does not have that functionality wit

[2021-07-17 15:54] henkelmax commented on #259
I tested it and it works perfectly fine. Please make sure you are actually using voice activation. PTT has no mute button.

[2021-07-17 16:11] sdarkwell commented on #259
**Hello @henkelmax,**

Apologies for re-opening the issue, but I have confirmed that I am in fact using Voice Activation, not Push to Talk. Keyboard keys work without issue, but mouse buttons do not.

Having tested it further, it seems that pressing the mouse button _does_ toggle the mute state, but it is not refreshed until a keyboard key is pressed. So, if you press the mute button on the mouse

[2021-07-17 16:16] henkelmax commented on #259
Sorry, I just noticed that you are using the Forge version of the mod.

[2021-07-17 16:21] henkelmax commented on #259
It should be fixed in the latest version now.

[2021-07-17 16:21] #259 closed, assigned to henkelmax

[2021-07-19 06:09] dragonfax commented on #24
does work on Big Sur. I thought a log would help. The missing native library for macos is suspicious.

[code]

[2021-07-19 06:50] yebanme commented on #249
Have you found a suitable solution, because I also have this problem

[2021-07-19 09:41] iT3g4n commented on #249
no its just the plugin. thanks anyway

[2021-07-19 17:49] PhysicalProblems commented on #24
please stop tagging me it hurts my brain

On Mon, Jul 19, 2021 at 2:10 AM Jason Stillwell ***@***.***>
wrote:

[2021-07-20 06:04] DarkOleks commented on #24
Hello all! So I have MacOS High Sierra and i have the same issue. I'm using CurseForge with some other mods. My "Enable microphone testing" button is not available, it is darker then others. Anyone found the solution?

[2021-07-20 12:49] TaianRmos opened #260 "Mod not working on a server with OmgServ"
Good morning,
I've been trying to install the simple voice chat mod on my OmgServ server, and the mod keep failling when I install it.

I use the Fabric version of the mod, I have first installed Fabric on my pc, with FrabicAPI, Optifine and Optifabric for the 1.17.1 version of minecraft. I then installed the simple voice chat mod for fabric 1.17.1 by putting it in the 'mod' folder of minecraft.

[2021-07-20 13:11] henkelmax commented on #260
This is not a bug.
For help, please visit the discord server.

[2021-07-20 13:11] #260 closed, assigned to henkelmax

[2021-07-20 21:02] sonjah45 opened #261 "Voice Chat Not Connected"
**Bug description**
I'm not really sure what the bug is but the voice chat won't connect for anyone who joins the server and  I know for a fact that I'm on the right port, my console said that it started the mod on port 24454. So I'm confused as to what the problem is. I am using shockbyte server hosting (I know it's not a great host). I've followed the steps to setting everything up. I'm not real

[2021-07-20 21:11] henkelmax commented on #261
This is not a bug.
Visit the discord for support.

[2021-07-20 21:11] #261 closed, assigned to henkelmax

[2021-07-21 17:15] greener-dot-ca commented on #248
opus supports Apple Silicon, how difficult is it for you to create the required native? I may be able to create a universal dyld that includes aarm64 and x86 .. worse case, if I replace the native with a universal one in the jar, would that "just work"?

[2021-07-21 17:17] henkelmax commented on #248
If you are able to compile opus for darwin-arm, I can include it in the mod.

[2021-07-21 17:33] greener-dot-ca commented on #248
How would you like me to send you the dylib?

Edit:
How about I create a pull request over at opus4j with an appropriately named native?

[2021-07-21 17:36] henkelmax commented on #248
I think the best thing would be if you can join our discord server:

https://discord.gg/4dH2zwTmyX

[2021-07-25 08:03] FionaM007 commented on #24
My friends have an SMP server and we tried to have proximity chat. I have my Mac to the latest version, but no one could hear me even when I was talking. My mic was on and my headset is still in really good condition. So it was either something with the mod, the server or something else entirely. My friends could talk with each other with prox chat, so it’s not a server issue. I’ve tried tweaking

[2021-07-25 12:52] SmallPepperZ commented on #24
@FionaM007, you have 2 options for getting this to work, you can either manually add Minecraft to the macOS TCC database by disabling System Integrity Protection with [these instructions](https://docs.google.com/document/d/1DvRBN11Dl-ClJ7T-fpYyPBfk39TYott33biHYsLXaTM), but you should read [SquirrelCraft's comment](https://github.com/henkelmax/simple-voice-chat/issues/24#issuecomment-878692209) and

[2021-07-26 21:32] Greenwolf20 opened #262 "Whispering and maybe shouting"
**Is your feature request related to a problem? Please describe.**
There are many times when using this mod on a sort of RP server that we feel that you can't chat about secrets when others are nearby either just by coincidence or that they just have their house nearby and "live/work there". Another thing is sometimes someone might want to announce something to everyone and therefore wants to shou

[2021-07-27 07:06] henkelmax commented on #262
Duplicate of #149

[2021-07-27 07:06] #262 closed, assigned to henkelmax

[2021-07-27 16:44] Fourmisain opened #263 "Broken Encryption"
## Problem

I had a gander at this project's encryption code and the symmetric key encryption using AES looked fine to me, so the next question was how client and server are sharing their secret key used for said encryption.
I was pretty shocked (and a bit amused) to see that secret key is simply sent as "plaintext", unencrypted over the wire.

It completely defeats the point of using symmetric ke

[2021-07-27 16:46] henkelmax commented on #263
Minecraft packets are encrypted.

[2021-07-27 16:53] Fourmisain commented on #263
I don't think you understood what I am saying.

Here's the piece of code that is sending the "secret" from the server to the client - this is completely unencrypted, so anyone listening the the connection can read it:
https://github.com/henkelmax/simple-voice-chat/blob/1a7c30c3c421b3151668ddf9fcf31f52b0e80f1b/src/main/java/de/maxhenkel/voicechat/voice/server/ServerVoiceEvents.java#L50-L58

[2021-07-27 16:55] henkelmax commented on #263
You don't understand what I mean. This is a piece of code sending a packet via Minecrafts networking. Not mine. And Minecrafts networking is encrypted.

[2021-07-27 17:10] Fourmisain commented on #263
I was under the impression that *only* the login packets are encrypted while the actual gameplay packets which Fabric API's `ServerPlayNetworking` sends aren't.

But I also have trouble finding a good source for either claim.

One random forum post here says:
https://www.spigotmc.org/threads/enable-protocol-encryption-for-offline.211631/?__cf_chl_jschl_tk__=pmd_b83b4daaeab8215eff06cb7e2e0886792ee5

[2021-07-27 17:13] henkelmax commented on #263
This would make absolutely no sense. Only servers running in offline mode are unencrypted.

What should be broken there?

It is also not another "layer". The voice chat itself doesn't use Minecraft networking.

[2021-07-27 17:24] Fourmisain commented on #263
Oh, right, it's using a separate UDP connection for that - I was missing that entirely!
So it all comes down to whether _all_ Minecraft packets are encrypted or not.

Only login information is crucial to protect, it would make sense to not encrypt gameplay packets for increased performance.

I'll probably be looking into this to check whether this is true or not, because this probably applies to e

[2021-07-27 17:28] henkelmax commented on #263
https://wiki.vg/Protocol_Encryption

[code]

The encryption keys are exchanged in the login networking. The only packet encrypted in the login phase is the login success packet. This implies that all other traffic from then on is encrypted. I doubt Minecraft only encrypts one packet xD

[2021-07-27 17:28] #263 closed, assigned to henkelmax

[2021-07-27 17:41] Fourmisain commented on #263
You were right!

Inside `ClientLoginNetworkHandler.onHello()`, there's
[code]
which, on response, executes inside `ClientConnection`:
[code]
This is never undone, so it really is *all* packets being encrypted.

That's actually really good to know, I'm glad we had this talk!

[2021-07-27 17:44] henkelmax commented on #263
Let me know if you find any other potential flaws in my encryption.
I always appreciate people looking into the code to find potential bugs.

[2021-07-27 17:56] Fourmisain commented on #263
I will, though I'll keep it short next time to not totally embarass myself again 😄

[2021-07-27 18:06] henkelmax commented on #263
That happened too many times to me as well. It is always a chance to learn something, so no worries :)

[2021-07-30 23:21] sixwheeledbeast opened #264 "Releases in Github"
Just a simple request for having release jars here on github.
This would be so helpful as dealing with downloads on curseforge is a pain.
Many thanks for your work.

[2021-07-31 06:43] henkelmax commented on #264
There is no way to order different releases for different mc versions. I also can't pack them into a single release. This would be a complete mess to find the correct jar file.
You can compile the jar yourself, but I won't publish anything here on GitHub.

[2021-07-31 06:43] #264 closed, assigned to henkelmax

[2021-07-31 08:29] sixwheeledbeast commented on #264
That is a shame.
I can understand a single release being an issue. Other fabric mods including the API deal with this as having one release but separate jars per version. Which seems to work logically https://github.com/gnembon/fabric-carpet/releases for example. This may not work for yourself but just a suggestion.

The download links on curseforge are not possible to use when setting up on a hea

[2021-07-31 08:35] henkelmax commented on #264
Of course this is possible. You can either upload it to your server via SCP or FTP or you can just copy the download link (https://media.forgecdn.net/files/...) with the browser of your local machine.
There is also a rest API with direct download links, which makes it possible to completely automate the downloading of the latest version or any other version: https://addons-ecs.forgesvc.net/api/v2/

[2021-07-31 09:02] sixwheeledbeast commented on #264
I was not aware of these. The all link locations provided on the site 403, there is no BS intended...
I shall look into those, thanks.

[2021-07-31 09:04] henkelmax commented on #264
Which site?

[2021-07-31 09:11] K0-RR commented on #264
What about [Modrinth](https://modrinth.com)?

[2021-07-31 09:12] henkelmax commented on #264
I already have an account there, but I'm waiting for them to enable monetization.

[2021-08-01 13:53] 1746813083 opened #265 "Is there a microphone that supports 1.16.5 spigot?"
Is there a microphone that supports 1.16.5 spigot?

[2021-08-01 13:54] henkelmax commented on #265
For questions visit the discord.

[2021-08-01 13:54] #265 closed, assigned to henkelmax

[2021-08-02 12:24] 14jjbeddoes opened #266 "microphone not connecting"
I am using fabric 0.11.6 on 1.17 on a server.
I connect on my client and my mic doesn't connect
I found this in my log
Mic unavailable javax.sound.sampled.LineUnavailableException: line with format PCM_SIGNED 48000.0 Hz, 16 bit, mono, 2 bytes/frame, little-endian not supported.

[2021-08-02 14:11] henkelmax commented on #266
This is not a bug. Your microphone is not supported or used by another process.
Visit the discord for more help.

[2021-08-02 14:11] #266 closed, assigned to henkelmax

[2021-08-07 00:33] GamerSupreme1 opened #267 "Aternos Server Crashing"
I recently put the mod on my aternos server, but as soon as I try to start it, the server crashes. What do i do?

[2021-08-07 00:33] #267 closed, assigned to nobody

[2021-08-09 08:28] edwloef opened #268 "Microphone not working in Linux"
I can't correctly select which microphone to use while running on Pop!_OS. The choices given to me are [default]. [plugw:0,0], [plugw:1,0] and [plugw:2,0]

Minecraft version 1.17
Mod version: voicechat-fabric-1.17.1-1.1.6

[2021-08-09 08:35] edwloef commented on #268
I can, however, set the input correctly using pavucontrol.

[2021-08-09 16:24] henkelmax commented on #268
Please visit the discord for help.

[2021-08-09 16:24] #268 closed, assigned to henkelmax

[2021-08-11 15:51] PyTexa247 opened #269 "Server crash"
Hello, when i start my server with the mod the server crashes, this is what comes out on the console when crashing
11.08 15:48:40 [Server] Server thread/INFO Preparing level "MundoForge"
11.08 15:48:40 [Server] Server thread/INFO Preparing start region for dimension minecraft:overworld
11.08 15:48:41 [Server] Server thread/INFO Preparing spawn area: 0%
11.08 15:48:41 [Server] Server thread/INFO Pr

[2021-08-11 16:31] PyTexa247 commented on #269
I tried a oldest forge and SimpleVoiceMod and same

[2021-08-11 16:53] henkelmax commented on #269
This is not a bug.
Please read the wiki before reporting anything.
Also please follow the provided issue template.

[2021-08-11 16:53] #269 closed, assigned to henkelmax

[2021-08-15 00:39] GameParrot commented on #24
A workaround without having to launch using terminal every time is at https://github.com/GameParrot/minecraft-mac-window-fix

[2021-08-20 04:07] joex92 opened #270 "Kicked from server when logged in"
**Bug description**
The server kicked me out even when having the mod version on client on login.

**Steps to reproduce the issue**
just add it to a 1.17.1 paper fork server

**Expected behavior**
being able to use the mod with the server

<details>
<summary>Logs</summary>

Without mod on client
[code]
with mod on client
[code]
</details>

**Versions**
- Minecraft version latest Paper fork Tuinity

[2021-08-20 07:27] henkelmax commented on #270
Please send me the full logs of the client and server.
Please also update protocollib.
Please also test if this happens with vanilla Paper, since we don't support Tuinity.

[2021-08-20 14:00] Vlnicius opened #271 "Microphone Unvalible"
So I'm making a modpack with some friends that uses the simple voice chat, however whenever I join to the sever there is a mensage saying that my microphone is unvalible try restart your computer, but it only happens to me, my microphone is working in other apps like discord and zoom. I can hear the other but I can even test my mic 'cause its unvalible. What I have to do?

[2021-08-20 14:00] #271 closed, assigned to nobody

[2021-08-20 14:17] Vlnicius opened #272 "Microphone unavailable"
**Bug description**
So I'm making a modpack with some friends that uses the simple voice chat, however whenever I join to the sever there is a mensage saying that my microphone is unvalible try restart your computer, but it only happens to me, my microphone is working in other apps like discord and zoom. I can hear the other but I can even test my mic 'cause its unvalible. What I have to do?

**St

[2021-08-20 14:40] henkelmax commented on #272
This is not a bug. Please read the wiki and join the Discord server if you have questions.

[2021-08-20 14:40] #272 closed, assigned to henkelmax

[2021-08-20 22:49] joex92 commented on #270
Server Logs
[Without the voicechat mod client-side](https://github.com/henkelmax/simple-voice-chat/files/7024323/2021-08-17-3.log)
[With the voicechat mod client-side](https://github.com/henkelmax/simple-voice-chat/files/7024327/2021-08-18-2.log)
Client Logs
[Without the voicechat mod at timestamp at line 57302](https://github.com/henkelmax/simple-voice-chat/files/7024399/2021-08-16-1.log)
[With t

[2021-08-21 07:22] henkelmax commented on #270
This is not a voice chat issue. It seems that protocollib is not compatible with your server or something.

If it would be the same, there would be no reason to use it.

[2021-08-21 07:22] #270 closed, assigned to henkelmax

[2021-08-21 14:10] joex92 commented on #270
ok, I just rechecked everything and redownloaded the proper plugins again and it worked fine, no errors with or without the mod client-side, with Tuinity... so maybe the issue was with 1 of the 2 plugins i was testing at the same time with VoiceChat... anyways thanks...

actually yeah, Tuinity is optimized for servers that have a lot of player online...

[2021-08-23 22:25] Caty15 opened #273 "A Weird Pattern when somebody connects locally"
**Bug Description**
This error occurs when another computer connects locally to the server. I'm hosting the server from my PC. both me and the other computer connect with the IPV6 address, (everyone else with the IPV4). my computer (the host) connects and works fine. but the other PC doesn't. when they press V, it says "voice chat unavailable." even though everyone else works. they are on the corr

[2021-08-24 05:38] henkelmax commented on #273
This is not a bug.
Please join the discord for help.

[2021-08-24 05:38] #273 closed, assigned to henkelmax

[2021-08-31 16:16] FBDKPlus opened #274 "Badly compressed packet size of 2 is below server threshold of 256"
Badly compressed packet size of 2 is below server threshold of 256

[00:08:57] [Server thread/INFO]: SuperMenu lost connection: Internal Exception: io.netty.handler.codec.DecoderException: Badly compressed packet - size of 2 is below server threshold of 256

After installing this plug-in, it is difficult to connect to the server. Always remind the above

[2021-08-31 16:30] henkelmax commented on #274
This is an issue when the server is in offline mode.
This bug won't get fixed as we don't support pirating the game.

[2021-08-31 16:30] #274 closed, assigned to henkelmax

[2021-09-04 21:23] buttowskii commented on #249
I also have this problem. Same mods, and I can't put it online=true :/

[2021-09-04 21:44] henkelmax commented on #249
We don't support pirating the game. There won't be a fix.

[2021-09-05 10:16] brawaru commented on #249
Thing is, `online-mode` is a **built-in** feature that was not meant for pirating the game per se, but rather to be able to play Minecraft in offline conditions (like LAN parties). So while you might think you're supporting anti-piracy by WONT-FIXing this issue, you're take away the real world case. I remember also Bungeecord requires all the servers to be offline, does the plugin work there? More

[2021-09-05 10:22] henkelmax commented on #249
LAN worlds don't work with the voice chat anyways.
If you are on a LAN party, you don't need the voice chat anyways.

Bungeecord and velocity actually works with the voice chat.

You are quoting a tweet from 2012, by a person that is not at all associated to the game anymore.

Additionally the network traffic is not encrypted at all when using offline mode, meaning everyone can hijack your voice c

[2021-09-05 10:41] brawaru commented on #249
Why? You can sit pretty much at different PCs, far from each other to hear — LAN parties aren't limited to sitting next to each other, it can be a mass event too.

Nobody would need to hijack and fake someone's voice chat in a blocky game, unless it's some Hacking 101 class. Plus with going to `offline-mode` you're agreeing with that risk, you then get a prompt at each start of the server.

It's a

[2021-09-05 10:43] henkelmax commented on #249
You can argue as long as you want. I won't fix it. If it is so important to you, you can create a pull request fixing it and I will happily merge it. But I have better stuff to do than fixing an issue that 99% affects people pirating the game.

[2021-09-05 11:45] brawaru commented on #249
I didn't want to argue, sorry, just to get other point across.

This is fine. I unfortunately don't have experience with modded Minecraft, but others might — so this is a good thing to hear. Also, I couldn't reproduce this issue in latest version of the mod/plugin for 1.17.1.

[2021-09-06 10:48] iT3g4n commented on #249
If somebody does this I love u

[2021-09-06 23:47] nfitzen commented on #196
@henkelmax if you don't add a license, no one can make modifications without risk of takedowns and lawsuits, and, if you accept contributions from anyone, ["nobody" starts including you, too](https://choosealicense.com/no-permission/).

If you care about sharing improvements, and are afraid someone might not contribute their modifications back, [the GNU GPL version 3 or later][1] might be a good l

[2021-09-07 06:32] henkelmax commented on #196
Without a license people can still fork the repository and make PRs.

Source: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/licensing-a-repository

[2021-09-08 07:00] nfitzen commented on #196
@henkelmax a few things:

1. choosealicense (the link I cited for "nobody starts including you, too") is [literally made by GitHub](https://github.com/github/choosealicense.com), so I'd consider that a decent authoritative source.
2. "view and fork" does not include PRs, modification, download, redistribution, or use in a YouTube video, among any other monopoly that copyright holders have.

[2021-09-08 07:04] henkelmax commented on #196
Sorry, but I will not include a license. I had too many bad experiences with people just reuploading the mod and making money off of it.

[2021-09-08 07:21] nfitzen commented on #196
@henkelmax hmm. Yeah. That's a tricky one. It's definitely scummy. I can see where you're coming from.

The only thing I can say is that the GNU GPL requires any re-uploaders to give source code and give credit if they do make money off of the mod (via a copyright notice), and I doubt any of those reuploaders will do that. (It has to be in the exact same page from which users download the re-uploa

[2021-09-08 15:28] AVisannoying commented on #10
So I recently switched to windows 11 and all of a sudden my simple voice chat mod stop recognizing my mic and it is only happening with me not the other members of the server

[2021-09-09 09:16] shonkei opened #275 "Japanese translation"
**Locale code**
ja_jp

**Translation**
https://gist.github.com/shonkei/4b2596090e73b7175b4dc3483704bf6c

[2021-09-09 09:21] #275 closed, assigned to henkelmax

[2021-09-09 09:37] henkelmax commented on #275
Thank you very much! The translation is available in the latest version of the mod.

[2021-09-12 03:32] YehiaSharawy commented on #24
Hello, I tried every possible solution in this thread to make my microphone have permission from disabling SIP (System Integrity Protection) to using the commands in terminal and I still can't work out why the mod can't let me "Enable Microphone Testing"
Minecraft version: 1.16.5 , Mod version: 1.9.10
macOS version: Big Sur 11.2.2 running apple silicon

[2021-09-13 12:23] shonkei opened #277 "Updated Japnese transation (Added new translation, change some words to make it easier for more people to understand.)"
Local code
ja_jp

translation
https://gist.github.com/shonkei/dfc1c56acdbcb6182bf0a98a9360ec15

Thank you for adding noise suppression!

[2021-09-13 12:30] #277 closed, assigned to henkelmax

[2021-09-13 12:34] henkelmax commented on #277
Thank you!

[2021-09-13 21:05] laontme commented on #274
@henkelmax, can you explain why is this happening?

[2021-09-14 06:29] henkelmax commented on #274
This is the login networking of MC:
https://wiki.vg/Protocol#Login

The voice chat login packet is sent when [Login Start](https://wiki.vg/Protocol#Login_Start) is sent.
Normally there is enough time until [Set Compression](https://wiki.vg/Protocol#Set_Compression) is sent, but because offline mode does not send the [Encryption Request](https://wiki.vg/Protocol#Encryption_Request) packet because o

[2021-09-14 18:02] #182 closed

[2021-09-26 21:40] ghost opened #278 "Server Config file Properties Description"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I'm trying to setup the server side of a Fabric server.  I couldn't find any description of the various options, especially the networking parts.

**Describe the solution you'd like**
A clear and concise description of what you want to happ

[2021-09-26 21:58] henkelmax commented on #278
The java properties configuration implementation does not allow for comments above entries. Thus I created the descriptions in the wiki

[2021-09-26 21:58] #278 closed, assigned to henkelmax

[2021-09-28 17:21] t0mtee opened #279 "Modrinth page?"
**Is your feature request related to a problem? Please describe.**
Nope, I just think Modrinth is a lot better than Curseforge and update notifications would be nice

**Describe the solution you'd like**
A page on Modrinth for this mod

[2021-09-28 17:37] henkelmax commented on #279
I will add the mod to modrinth once they implemented monetization.

[2021-09-28 17:37] #279 closed, assigned to henkelmax

[2021-10-01 07:35] MrConfuzled commented on #104
**Me and my friend are using https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat/download/3459642 for Minecraft on a free minecraft server hosting website called aternos.org and we are having issues that when pressing "v" or "m" it says "Voice chat unavailable"**

[2021-10-01 07:37] henkelmax commented on #104
Visit the discord for help. This is not a bug.

[2021-10-01 09:36] Binair-Dev opened #281 "Crashes on custom Minecraft launchers"
**Bug description**
When i click disconnect from server or normal world, i got an exception ("java.lang.NullPointerException: mouseClicked event handler").

**Steps to reproduce the issue**
1. Launch minecraft using a custom made launcher
2. Create a world/Join a server
3. Wait a few seconds
4. Disconnect, try to get back to the Main menu
5. And here is the error, the Minecraft client crash and re

[2021-10-01 12:17] henkelmax commented on #281
Does this happen without optifine?

[2021-10-01 13:19] Binair-Dev commented on #281
Yeah, i tried even with just the voice chat mod, and still the same issue, no problems with other mods :/

[2021-10-01 13:20] henkelmax commented on #281
Please send me the logs of the crash without any other mods.
I also need to have the source code of your launcher.

EDIT: It might be cause by your game profile not having a UUID. You might be missing the command line parameter to set your players UUID.

[2021-10-01 14:05] Binair-Dev commented on #281
I added you on discord to make it easyer (B_nair#5982)

[2021-10-01 14:07] henkelmax commented on #281
Join the discord server of the mod then.

[2021-10-01 14:45] #281 closed, assigned to henkelmax

[2021-10-01 22:39] MissGamerz opened #282 "[Feature Request] disable mod for servers with strict packet limiting settings"
**Is your feature request related to a problem? Please describe.**
When joining packet limiting servers like my own or hypixel we stop packets from being sent and kick players (hypixel sends them to a limbo server) this means when changing servers from a voice mod server to hypixel you have to close the client disable the mod and restart but then moving back you have to enable it again this is not

[2021-10-02 07:16] henkelmax commented on #282
The mod only sends one packet to the server to check if voice chat is installed. Does this really get you kicked from Hypixel?

[2021-10-02 09:33] MissGamerz commented on #282
you get sent to limbo until you disable the mod, on our vanilla network we do similar things

[2021-10-02 10:35] henkelmax commented on #282
Unfortunately there is no other way to detect if a server uses voice chat. It seems pretty dumb to not let a player join a server just because of one packet...

[2021-10-02 10:42] MissGamerz commented on #282
I'm aware of this this is why I suggested what I did

[2021-10-02 19:21] MissGamerz commented on #282
Just a extra note it may seem dumb that's security for you we have no way of telling what packets are for outside of normal Minecraft behaviour, bearing in mind we have to deal with things like packet aura, nuker, duping, and so on without creating exceptions for each and every mod in existence that would be dumb

Plus most of this packet limit stuff is built right into paper spigot and enabled by

[2021-10-02 19:29] henkelmax commented on #282
I don't know what you mean with that. There are no packets spammed by this mod, so I don't know what you mean with packet limit.
Voice chat sends one packet to check if the server has the voice chat mod installed.
This mod uses minecrafts vanilla plugin messaging system, so servers that don't understand the voice chat packets just ignore them.

[2021-10-03 15:11] ghost opened #283 ""Connection Lost""
Im using the fabric simple voicechat, & when me & my friend join the 1.17.1 server with the plugin, it says connection lost. Can you help

[2021-10-03 15:12] ghost commented on #283
Me and my friend are using the regular minecraft launcher

[2021-10-03 15:27] henkelmax commented on #283
Please use the bug template.

[2021-10-03 15:27] #283 closed, assigned to henkelmax

[2021-10-03 15:55] ghost opened #284 "Connection Lost"
**Bug description**
When I try to join a server with the mod, it says connection lost

**Steps to reproduce the issue**
1. Open Minecraft 1.17.1
2. Click on Multiplayer
3. Join a server with the plugin
4. See the error: Connection Lost

**Expected behavior**
Im supposed to be able to join with no problems

**Log files**
https://gist.github.com/SkeppyFan123/93a1d3619ff8fc85b6342b55c0401f16
**Versio

[2021-10-03 16:09] henkelmax commented on #284
Please provide the correct log files. (From the server `logs/latest.log`)

Does it happen without voice chat?

Are you using the bukkit version of the mod on your server or fabric?

[2021-10-03 22:45] aidanashman08 opened #285 "Status in Tab List"
I can never tell if someone is online in voice chat when I log in. I have to find the person, see if they are AFK or not, and if not, invite them to a group or talk through proximity.

I suggest an indicator that shows up in the tab list that will show the current status of the player. If they are online, show the speaking symbol (the one that appears on the side of their nametag), if they are mut

[2021-10-04 08:15] henkelmax commented on #285
I understand why you want this feature, but unfortunately this would conflict with https://github.com/henkelmax/status.
You can check the connection of a player with the `/voicechat test <name>` command.
I also don't think most people want more icons in their tablist.

[2021-10-04 08:15] #285 closed, assigned to henkelmax

[2021-10-07 00:56] zaBees opened #286 "Incompatible Version"
It said that I have the wrong version, even though it is the same as the server.

1.Start mc with multimc
2. Try to join the server
3. Get the error message

I expect to join the server and play on it.

https://gist.github.com/Txnix/877a0404d0b4f3585822376d1a27654f

1.16.5
Fabric 0.11.7
1.9.9

FabricAPI
Origins

![image](https://user-images.githubusercontent.com/45898130/136303689-0c16e064-a285-43

[2021-10-07 01:04] #286 closed, assigned to henkelmax

[2021-10-07 03:23] Zyro48 commented on #24
I do not know if the solution has already been answered, but the one I found is to go to applications and open the contents of the package and run the terminal launcher from the MacOs folder and with that it asked me for the permissions for the microphone and I could speak. (sorry for the writing I don't speak English)

[2021-10-09 02:24] lyk0 opened #287 "Voice chat unavailable"
If i join my own server my simple voice chat works but when my friends joined it says voice chat unavailable I already configure the port still the same I did other test used my other laptop using the same wifi still saay voice chat unavailable

port:56280
Server console logs
09.10 10:22:06 [Server] VoiceChatPacketProcessingThread/WARN Failed to read packet from /180.190..........:24393
09.10 10:2

[2021-10-09 06:50] henkelmax commented on #287
This is not a bug. If you need help, visit the discord.

[2021-10-09 06:50] #287 closed, assigned to henkelmax

[2021-10-11 15:57] InfinityZ25 opened #288 "Better Documentation"
It is extremely difficult to read the code and try to interpret what does what. I'm trying to add new functionalities (such as server-side silencing, real-time adjustable voice reach, and custom GUI icons to symbolize more data) and I'm finding it difficult to keep track of what does what or where to begin looking at things. Your mod is cool, the code however is a bit hectic.

Better documentation

[2021-10-11 16:02] henkelmax commented on #288
I'm not intending to add documentation to the code.
The code is only on GitHub for people that want to look into it (To ensure for people that there are no hidden features or backdoors/To check if the encryption is actually secure/...).
It is not intended for adding features or even republishing it. Thus also the license "All Rights Reserved".

[2021-10-11 16:02] #288 closed, assigned to henkelmax

[2021-10-11 16:04] InfinityZ25 commented on #288
Did not see a license file anywhere

[2021-10-11 16:07] henkelmax commented on #288
![image](https://user-images.githubusercontent.com/13237524/136821533-8096000f-85eb-4472-a691-20495c4a2b7b.png)
It is also All Rights Reserverd by default on GitHub

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository
![image](https://user-images.githubusercontent.com/13237524/136821706-e35ea663-0a96-400d-96df-4

[2021-10-11 16:08] henkelmax commented on #288
Also this for reference:
https://github.com/henkelmax/simple-voice-chat/issues/196#issuecomment-914975648

[2021-10-11 16:09] henkelmax commented on #284
Closed due to inactivitay

[2021-10-11 16:09] #284 closed, assigned to henkelmax

[2021-10-11 16:09] henkelmax commented on #282
Closed due to inactivity

[2021-10-11 16:09] #282 closed, assigned to henkelmax

[2021-10-11 16:55] MissGamerz commented on #282
Wymmm I've explained the problem with a solution

Am I supposed to fix it???

I'm waiting on you

[2021-10-11 16:57] henkelmax commented on #282
If you want to join servers with this weird way of handling plugin messaging, go and disable the mod before joining the server.

[2021-10-11 17:00] MissGamerz commented on #282
All I asked for was a way to blacklist some servers so the mod wouldn't interact with them.......

[2021-10-12 06:27] StoraAS opened #289 "Simple Voice Chat, cut outs"
Hi,

This is mor a help needed request, but bug was the closest.
I´m having problem  with cut outs on my set up.
(Java 17.1, Fabrics)
I have read the Wiki, and searched for information.
I think it might be a connection problem, we are a family playing on the same connection, and I would like to try to lower the bit rate.
However, I cant find this setting anywhere and no reference in the Wiki.

Is

[2021-10-12 06:29] henkelmax commented on #289
Visit the discord for help. Bug reports are the wrong place.

[2021-10-12 06:29] #289 closed, assigned to henkelmax

[2021-10-13 08:41] EvaRaud opened #290 "(PacketPlayInDifficultyChange) Error"
Hello guys
Some players on our server can't join after moving to new hosting

log
![image](https://user-images.githubusercontent.com/92093142/137098527-8624e34d-e1b3-46a6-9644-df6d69b82c7e.png)

We see in chat that he joins but server kicks him in 1 second.

80% off all players can join easily from 1st attempt
But other 20% nope

They see that on their screen
![image](https://user-images.githubuse

[2021-10-13 08:43] henkelmax commented on #290
Please fill out the issue template correctly.
You are missing the logs and the mod/loader/minecraft versions.

Is your server running in offline mode?

[2021-10-13 08:44] EvaRaud commented on #290
Yes
offine mode

[2021-10-13 08:44] henkelmax commented on #290
We don't support pirating the game.

[2021-10-13 08:44] #290 closed, assigned to henkelmax

[2021-10-13 08:45] EvaRaud commented on #290
We're using official minecraft

[2021-10-13 08:46] henkelmax commented on #290
Then enable online mode and it will work.

[2021-10-13 08:46] EvaRaud commented on #290
That problem is still here without offline mode

[2021-10-13 08:46] EvaRaud commented on #290
We tried that

[2021-10-13 08:47] henkelmax commented on #290
Then enable online mode and send me the logs and fill out the but template like already stated.

[2021-10-14 22:53] QuickFreeze opened #292 "Not working on newest snapshot"
nothing is working on the newest version

[2021-10-15 07:01] #292 closed, assigned to henkelmax

[2021-10-15 07:01] henkelmax commented on #292
Please fill out the bug template.

[2021-10-16 00:21] jagarbhan06 opened #293 "Mic not working on a server"
I am on windows 10, playing on a mc server, and the other players are using vc j fine. When I try to talk it doesn't say anything. In settings when I test it, it works fine, in game it doesn't. Please help!

[2021-10-16 00:21] #293 closed, assigned to nobody

[2021-10-16 16:56] teunjojo opened #294 "BungeeCord compatibility"
# BungeeCord compatibility
### The problem
When using a Spigot server with Simple Voice Chat it works wonderfully, but when you add Bungeecord on top off it, the voice chat stops working.

### The solution
The solution would be to make the plugin compatible with Bungeecord

### Alternative
You could also make it so that the plugin bypasses bungee.

[2021-10-16 16:58] henkelmax commented on #294
The mod is already compatible with bungeecord and velocity. Read the wiki for more information. If you have more questions visit the discord server.

[2021-10-16 16:58] #294 closed, assigned to henkelmax

[2021-10-18 16:21] HGLuz opened #295 "Macos download"
I have been trying to download Simple voice chat for a while now on mac, anyone mind helping? i need it for an smp i made

[2021-10-18 16:25] henkelmax commented on #295
This is not a bug. If you need help visit the discord.

[2021-10-18 16:25] #295 closed, assigned to henkelmax

[2021-10-19 18:18] Thesnake66six commented on #24
Does any previously mentioned solution work for modded launchers (specifically ATLauncher)? I'm pretty sure that it's done correctly server-side, but client-side isn't as good. Enabling mic testing doesn't get any input, everything else works fine (I assume).
Thanks for help.

[2021-10-19 18:19] henkelmax commented on #24
We are currently working on a solution.

[2021-10-19 18:21] Thesnake66six commented on #24
Brill, Thanks!

[2021-10-20 21:11] henkelmax commented on #24
Alright, the new workaround solution is being tested. If you want to try it, join the discord and visit the `#beta-testing` channel.

EDIT: It is now released on CurseForge (Version 2.1.6+)

[2021-10-26 04:48] NaiNonTH opened #296 "Causes Internal Server Error with Hypixel Server"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
It took almost forever to find the cause of this issue. So when you installed the Simple Voice Chat mod and play the Hypixel Server, It will send you to a limbo. with the Internal Server Error.

**Steps to reproduce the issue**
1. Install Simple Voice Chat
2. Launch the game
3

[2021-10-26 06:33] henkelmax commented on #296
This is 100% Hypixels fault. They just send every client sending custom plugin messages to limbo.
I have no intention on fixing it, since sending plugin messages is completely within the vanilla minecraft specification.
Every minecraft server is supposed to ignore plugin messages that they don't know.

[2021-10-26 06:33] #296 closed, assigned to henkelmax

[2021-10-26 12:50] NaiNonTH commented on #296
Ok. Maybe I'll try reporting this issue to Hypixel and see if they're going to fix this thing here

[2021-10-26 12:51] henkelmax commented on #296
Don't get your hopes too high, they most likely did that on purpose.

[2021-10-28 20:58] cursefroge opened #297 "Can't start Minecraft Launcher once patched on MacOS"
When patching launcher on MacOS, keychain requests are spammed.
When using the newest version of the mod, it opens a patching window to drop your Minecraft launcher. I did this, and it spammed "Minecraft wants to use your confidential information stored in "mojangTokenService" in your keychain." How do I unpatch the launcher? It appears this problem is caused by Minecraft retrieving the token from

[2021-10-28 21:00] cursefroge commented on #297
Also, I did try reinstalling the launcher.

[2021-10-28 21:04] mjwells2002 commented on #297
reinstalling the launcher does undo the patch but this prompt will still show as the launcher signature has changed before

it went from
mojang signature -> unsigned
this prompts this popup to appear the next time you load
then when you reinstalled it it went from
unsigned -> mojang signature
this prompts the popup to show again

to stop it from showing just enter your login password and click alw

[2021-10-30 21:53] #297 closed, assigned to henkelmax

[2021-10-31 13:11] Brona13 opened #298 "Binding of "M" key deactivates it for Xaero Map"
Hi there, I'd love to use your mod as on my little server we lack voice chat. We've tried to use Discord, but sometimes it is so lagging that there is no fun in using it. Can you point me to where I can possibly change the binding?

[2021-10-31 13:11] #298 closed, assigned to nobody

[2021-10-31 13:14] Brona13 opened #299 "Key binding "M" collides with Xaero's Map"
Problem:
Key binding "M" collides with Xaero's Map.

Possible solution:
Possibility to create own mappings, for ex. in config file.

Hi there, I'd love to use your mod as on my little server we lack voice chat. We've tried to use Discord, but sometimes it is so lagging that there is no fun in using it. Can you point me to where I can possibly change the binding?

[2021-10-31 13:20] henkelmax commented on #299
Just rebind the key, whats the issue??

[2021-10-31 13:20] #299 closed, assigned to henkelmax

[2021-10-31 15:26] Brona13 commented on #299
Ha, never need to change this in particullar. Didn't know key bindings actually apend at the end of that list. Just did it and it works. Sorry for too easy question and thank you for kicking me in the right direction. Cheers.

[2021-10-31 17:07] DarkDrag0nYT opened #300 "I cant hear my friend, I'm on MacOS Big Sur 11.1 minecraft 1.17.1 forge aternos"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log files**
Please provide log

[2021-10-31 17:55] #300 closed, assigned to henkelmax

[2021-11-05 22:29] pmmer2 opened #301 "On macos curseforge while patching I am getting exit code 1 what is that?"
I am using Curse Forge, and when I try to patch I come up with exit code 1 how I followed the directions what is exit code 1?

[2021-11-05 22:56] pmmer2 commented on #301
11.6 macOS big sur

[2021-11-06 07:53] henkelmax commented on #301
Please fill out the bug template

[2021-11-06 07:53] #301 closed, assigned to henkelmax

[2021-11-10 16:23] henkelmax commented on #24
There is also a standalone version of the workaround now: https://github.com/henkelmax/simple-voice-chat/blob/1.17.1/macos/readme.md#standalone-version

[2021-11-11 03:26] TheLasMods opened #302 "Mic not working & Newer versions of the mods (2.1.6&2.1.7) crashes on startup of my minecraft (im on MacOS)"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
So when i join with version 2.0.0 it works but my mic doesnt get detected and when i use 2.1.6 or 2.1.7 it crashes and has this message but i dont think this count as a crash (btw i use azul java bc my mac java doesnt have a java 16 and im using multimc to lauch the minecraft)

[2021-11-11 07:22] henkelmax commented on #302
Are you using the vanilla minecraft launcher or are you using another launcher?
Are you using any third party software to make it work on M1?
Is it working with 2.1.5?

[2021-11-11 19:43] greener-dot-ca commented on #302
For users on M1 using the native lwjgl wrapper script in MultiMC, with 1.17.1-2.1.8 and disabling the microphone workaround in the config, launching the instance via command line using MultiMC's `--launch <instance>` flag will get Terminal to request microphone access. It's a lot of hoops, but it works.

[2021-11-11 19:44] #302 closed, assigned to henkelmax

[2021-11-14 08:57] ToxicAesthetic opened #303 "MY LAUNCHER IS GONE"
Hello, im writing this cause i tried out the mod, and i know it said that use at your own risk, but i love this mod so much, is there any way to fix the signature on mac? please please please help me out, im having a horrible panic moment right now

[2021-11-14 08:58] ToxicAesthetic commented on #303
Quick more info, i downloaded the launcher twice and redid it, but i logged back in and it did not open the microsoft login

[2021-11-14 08:58] henkelmax commented on #303
Please fill out the bug template.

[2021-11-14 14:39] brawaru opened #304 "Crowdin for localisation & licence-related questions"
**Is your feature request related to a problem? Please describe.**

Localisation / internalisation is an important aspect of software development. It allows more people to enjoy your creation without need to learn unfamiliar languages. I find your mod absolutely amazing and it certainly deserves more attention! I see that you made the mod localisable, but to do so you have to create pull requests.

[2021-11-14 14:43] henkelmax commented on #304
I already stated why this project does not have an open source license (https://github.com/henkelmax/simple-voice-chat/issues/196#issuecomment-914975648).
If people want to translate it, they can create a pull request. But I will not change the license just because of crowdin.

[2021-11-14 14:43] #304 closed, assigned to henkelmax

[2021-11-14 14:43] #303 closed, assigned to henkelmax

[2021-11-14 15:14] brawaru commented on #304
Whoops, my bad for not looking up the licence issue, sorry. Regards Crowdin — welp, that's unfortunate. As a translator I find it irritating to have to edit raw JSON/YAML files for translations and submitting them via patches. But well, your project — your rules, somebody will align to them, and in fact [already did for Russian](https://github.com/henkelmax/simple-voice-chat/blob/1.17.1/common/src

[2021-11-16 11:56] Zjaun opened #305 "Not working when bundled with FastLogin"
**Bug description**

The mod doesn't work well when bundled with FastLogin Plugin in servers. Removing FastLogin will restore things back to normal.

**Steps to reproduce the issue**
1. Install both ProtocolLib and SimpleVoiceChat in your server
2. Works fine
3. Install FastLogin
4. Error

**Expected behavior**
Will work perfectly fine.

**Versions**

Minecraft Version: 1.17.1
Fabric Version: 0.11

[2021-11-16 12:37] henkelmax commented on #305
This has already been fixed in 2.1.11:
https://www.curseforge.com/minecraft/bukkit-plugins/simple-voice-chat/files/3527532

[2021-11-16 12:37] #305 closed, assigned to henkelmax

[2021-11-22 02:42] CMYKarma opened #306 "Music should fade out if people are talking"

[2021-11-22 08:16] henkelmax commented on #306
Sorry, but I don't plan on adding such a feature.

[2021-11-22 08:16] #306 closed, assigned to henkelmax

[2021-11-25 01:23] XiaoHuiHui233 opened #307 "Are you considering adapting to cross-version group servers?"
This mod is awesome, and it works very well on our server. But our servers are group servers, and there are multiple servers of different mc versions. So a problem arises. Since this mod will forcefully kick out the player with incompatible mod version, when the player switches to a different mc version of the server, he must restart the game and switch the client version, which is very inconvenie

[2021-11-25 05:30] powerpcme opened #308 "Voice chat overloading"
Hey, I'm running a server on a host with 5gbs of ram, The server itself has minimal mods and is a near vanilla experience. When I have more than 5 people on it, the console says voice chat is overloading and the voice chat completely doesn't work. Wondering if maybe upgrade the ram would help it.

[2021-11-25 05:30] #308 closed, assigned to nobody

[2021-11-25 08:02] henkelmax commented on #307
It seems that you are using an outdated versions. You won't get kicked with an incompatible client anymore.

Cross version compatibility is theoretically a thing, but the 1.16.5 version is not under development anymore, so it will only work on 1.17+

[2021-11-25 08:02] #307 closed, assigned to henkelmax

[2021-11-25 14:57] XiaoHuiHui233 commented on #307
So if my group server contains 1.16.5 and 1.17.1, 1.16.5 will not have the ability to cross versions, but 1.17.1 has this ability, even if there is a 1.18 server in the future, it will be compatible at that time?

[2021-11-25 14:59] henkelmax commented on #307
Technically yes, but I won't promise anything.

[2021-11-25 15:06] XiaoHuiHui233 commented on #307
So is there some possibility to put the latest version of the code in the past version (such as 1.16.5) for manual compilation, and then the generated mod can successfully interact with the latest cross-version mod. What I mean is that if the mod itself does not modify the original features, is such a modification possible?

[2021-11-25 15:08] henkelmax commented on #307
Nope, I dropped 1.16.5, since it doesn't work with the new project structure and build toolchain of version 2.x.x.

[2021-11-25 15:10] XiaoHuiHui233 commented on #307
It seems that this is not good news for our 1.16.5 players, but thank you very much for your answers.

[2021-11-25 15:11] henkelmax commented on #307
No problems. If you have more questions about the technical stuff, you can visit the Discord server.

[2021-11-26 14:05] dw235 opened #309 "MacOS microphone permission patch Error: Exit code -1"
I have solved my issue and hope this helps others.

Initially the microphone permission patcher ([MacApplication.java](https://github.com/henkelmax/simple-voice-chat/blob/1.17.1/macos/src/main/java/de/maxhenkel/voicechat/macos/MacApplication.java)) with the Vanilla Minecraft launcher was resulting in an IOException, 'Exit code -1'.

It would appear the command `codesign --deep --remove-signature /

[2021-11-26 14:18] henkelmax commented on #309
Please post this on #24

[2021-11-26 14:18] #309 closed, assigned to henkelmax

[2021-11-26 17:40] Pinkhron opened #310 "Console Warning Spam"
**Bug description**
When I start up the server it starts spitting out this warning "[voicechat] Failed to read packet from [server ip]" every ~30 seconds. The plugin still works, but I want this warning to stop flooding my console.

**Steps to reproduce the issue**
1. Start the server up

**Log files**
[WARNING]  [voicechat] Failed to read packet from /[server ip] (Sends over and over)

**Versions

[2021-11-26 18:23] henkelmax commented on #310
This is completely intended. There is traffic arriving at your server from another application. Please change your port or find out what is causing this.

[2021-11-26 18:23] #310 closed, assigned to henkelmax

[2021-11-27 02:10] yurisuika opened #311 "Separate Speaker Off icon for GUI and Display Name uses."
It would be nice if you could have different textures be used for these two cases. No other icons are used in two different situations like this (perhaps the Disconnected is as well; I have not experienced it and have not checked the code).

In my use case in particular, I make the display name look like it is some Unicode symbol extension of the username string with a 25% black transparent backgr

[2021-11-27 08:19] henkelmax commented on #311
Can you please explain which cases you mean?

[2021-11-27 10:06] caoimhebyrne commented on #24
To add to this, when using an arm64 build of LWJGL 3 and an arm64 JDK, the app fails to launch completely.
[code]

[2021-11-27 11:36] henkelmax commented on #24
ARM/M1 is not officially supported by Minecraft. Either run it with rosetta or disable the workaround in the config.

[2021-11-27 11:46] mjwells2002 commented on #24
To add onto the response you already got while this is unsupported it still shouldn't happen.

if you have an understanding of objective c and java please hop into the discord and ping me BreadLoaf#4627 in the #development channel

If not please just disable the macos workaround in the config like @henkelmax said

edit:

it would also be quite useful in figuring out what went wrong here if you cou

[2021-11-27 16:20] caoimhebyrne commented on #24
I do have a great understanding of objective c and java, I will join the discord later, I've forked the project but due to my bad internet it will take me a while to import and get it setup.

[2021-11-29 06:27] yurisuika commented on #311
The file being speaker_off.png which is shown in two different places; one being next to the display name of the character when the player has their voice chat disabled, and the other being shown in the lower left corner when you have your own voice chat disabled.

[2021-11-29 10:07] henkelmax commented on #311
If I would change that, all existing resource packs would break. It is also not nice having the same texture twice.
I could add an event to the voice chat API to hide these icons.

[2021-11-29 10:07] #311 closed, assigned to henkelmax

[2021-11-30 15:15] Shinigami92 opened #312 "Missing 1.18 release for Fabric :smile:"
https://twitter.com/Mega_Spud/status/1465700640827445252

<img src="https://c.tenor.com/3isDqTPIAzAAAAAd/cat-ball.gif"/>

[2021-11-30 15:19] Shinigami92 commented on #312
Damnd, that's the Bedrock edition 😭

[2021-11-30 15:46] #312 closed

[2021-11-30 20:53] EysseW opened #313 "Compatibility for sound physics mods"
I think it would be great to have compatibility with sound physics mods like
[https://www.curseforge.com/minecraft/mc-mods/sound-physics-fabric](url) or [https://www.curseforge.com/minecraft/mc-mods/dynamic-sound-filters](url) or [https://www.curseforge.com/minecraft/mc-mods/dynamic-surroundings](url)
I mean, just imagine being in a cave with somebody and hearing his voice echo around it or hear p

[2021-11-30 20:55] henkelmax commented on #313
There already is compatibility

[2021-11-30 20:55] #313 closed, assigned to henkelmax

[2021-11-30 20:57] EysseW commented on #313
Mod compatibilty, but the sound physics aren't used on the voice chat sounds, right? If so, please tell me how to set it up!

[2021-11-30 20:57] henkelmax commented on #313
Of course it is. It just works.

[2021-11-30 20:58] EysseW commented on #313
you guys are fucking amazing. Thanks!

[2021-12-02 21:16] mjwells2002 commented on #24
@cbyrneee
that would be great if you could as we cant really solve this due to not having a m1 mac we can of course make random guesses but that is not a good way to solve a problem

https://discord.gg/4dH2zwTmyX

[2021-12-02 21:16] caoimhebyrne commented on #24
@mjwells2002 ill take a look at it over the next few days

[2021-12-02 21:17] mjwells2002 commented on #24
if you would join the discord it would be nice i have my own hunch on the solution but need someone with more knowledge of objective c to ask

[2021-12-03 16:09] N1lzh opened #314 "Voicechat not working [1.18]"
Hi, I tried to install the plugin yesterday and joined with the mod in Fabric 1.18, everything worked perfectly but now its just saying "Voice Chat not connected" and the console gets spammed. This happens to every Player who joins the server.
Console:
[code]

- Minecraft Version: 1.18
- Fabric Version: 0.12.6
- Mod Version: 1.18-2.1.17
- Plugin Version: 1.18-2.1.16

[2021-12-03 16:41] henkelmax commented on #314
This is not a bug. Please visit the discord if you need help setting it up.

[2021-12-03 16:41] #314 closed, assigned to henkelmax

[2021-12-03 22:23] mjwells2002 commented on #24
With the release of voicechat version 2.1.18 this issue is fixed
a workaround is now included in the mod and m1 compatibility has been fixed

[2021-12-03 22:23] #24 closed

[2021-12-04 14:15] hamzagp1 opened #316 "Voice chat unavailable"
whenever i join my server which has the same mod installed on my fabric which is
1.16.5 - 1.9.9 . it can detect the mod but when i join and click for example mute microphone or settings it says "Voice chat unavailable"

[2021-12-04 14:15] #316 closed, assigned to henkelmax

[2021-12-04 17:32] yurisuika commented on #311
It would give more flexibility to resource packs, though. Just because you may desire the same icon being used in two different situations does not mean it fits the stylization of various resource packs. One is on a player's nameplate hovering over them, the other pops up statically in the HUD. In what I am to achieve, making the nameplate appear as though it is not an image but rather a text exte

[2021-12-05 13:15] Treetalk1 opened #317 "Friends cannot hear me while using Simple Voice Chat"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Friends cannot hear me while using Simple Voice Chat, but I can hear them.

**Steps to reproduce the issue**
1. Attempt to speak
2. Friends will not hear you
3. You can hear them.
4. When you check the mod options, and test the mic, the green bar flashes.

**Expected behavior*

[2021-12-05 13:17] henkelmax commented on #317
I think that's not a bug. It is most likely something that's not configured correctly.
Please join the discord for help.

[2021-12-05 13:17] #317 closed, assigned to henkelmax

[2021-12-06 01:31] Cloudknight419 opened #318 "Still getting the "Voice chat unavailable" message"
**Bug description**
The Voice chat unavailable and crossed out plug sign icon on fabric
with Aternos

**Steps to reproduce the issue**
1. Download 'Mod version 1.10.0 for fabric'
2. Set up 'Port etc as on the wiki'
3. Enter server
4. Press keybound button 'Voice chat unavailable'

**Expected behavior**
All of my other friends voice chat is working mine is the only one not working
so I expected it

[2021-12-06 08:49] henkelmax commented on #318
This is not a bug. Visit the discord if you want help setting it up.

[2021-12-06 08:49] #318 closed, assigned to henkelmax

[2021-12-06 23:20] rhystedstone opened #319 "[Bukkit] Add a "help" command"
**Is your feature request related to a problem? Please describe.**
It's almost impossible to guess what subcommands have been made for SimpleVoiceChat - all you receive is "Invalid command syntax".

**Describe the solution you'd like**
A `/voicechat help` subcommand would allow anyone to see valid subcommands and syntax, rather than an unhelpful message.

**Describe alternatives you've considered*

[2021-12-07 07:59] henkelmax commented on #319
Please read the wiki for commands.
But I won't add any other commands to bukkit, since it is a pain to do with the bukkit API.

[2021-12-07 07:59] #319 closed, assigned to henkelmax

[2021-12-08 23:44] naliuj opened #320 "Microphone Permission Issue on MacOS"
**Bug description**

Microphone permission dialogue doesn't work for MacOS. I tried both MultiMC and the default launcher with no luck. It results in an exit code 1.

**Steps to reproduce the issue**
1. Launch minecraft
2. Drag the launcher to the microphone permission window.
3. Results in exit code 1

**Expected behavior**

It should grant microphone permission and launch the game.

**Log files*

[2021-12-08 23:46] henkelmax commented on #320
Duplicate of #24.
Please add your issue to that and if its valid, I will reopen it.

[2021-12-08 23:47] #320 closed, assigned to henkelmax

[2021-12-09 19:08] GhostIsBeHere opened #321 "MacOS Patcher support for ATLauncher"
**Is your feature request related to a problem? Please describe.**
I am attempting to patch ATLauncher on MacOS with the built-in patcher, but I'm unsure of how to use it.

**Describe the solution you'd like**
Provide instructions for patching ATLauncher

**Describe alternatives you've considered**
Add a disclaimer that ATLauncher cannot be patched

**Additional context**
I attempted to patch ATLa

[2021-12-09 19:11] henkelmax commented on #321
It should work as every other launcher. If it doesn't I don't know how to patch it either. And I don't own a mac.

[2021-12-09 19:12] #321 closed, assigned to henkelmax

[2021-12-09 19:15] GhostIsBeHere commented on #321
I can probably just use MultiMC. Thanks anyways!

[2021-12-09 19:15] henkelmax commented on #321
Yeah I would recommend using multimc anyways.

[2021-12-10 09:18] stormer2019 opened #322 "not a bug need help"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
there was no option for not getting it to work so here i am.

**Steps to reproduce the issue**
dont know how the port opening workfs oon mcprohosting with this mod. doesnt seem to work.

**Expected behavior**
cant connect

**Log files**
-

**Versions**
1.18

**Other mods**
fab

[2021-12-10 09:19] henkelmax commented on #322
Please visit the discord if you need help. This is the wrong place.

[2021-12-10 09:19] #322 closed, assigned to henkelmax

[2021-12-10 15:18] devqcf commented on #24
Is the new version available for 1.16.5?

[2021-12-10 15:19] henkelmax commented on #24
Nope. 1.16 is not actively updated anymore. You need to use the standalone patcher for that.

[2021-12-10 16:26] devqcf commented on #24
I just tried using it, it throws errors like these:
`Exception in thread "AppKit Thread" java.lang.NoSuchMethodError: accessibilityHitTest
	at java.desktop/sun.lwawt.macosx.LWCToolkit.doAWTRunLoopImpl(Native Method)
	at java.desktop/sun.lwawt.macosx.LWCToolkit.doAWTRunLoop(LWCToolkit.java:931)
`

I'm on m1 Mac. MultiMC launcher

[2021-12-10 16:27] henkelmax commented on #24
You can only run the patcher with java 17. If you need help with it visit the discord.

[2021-12-11 10:44] stormer2019 commented on #322
dicord told me to hopen something here first
.....
great

[2021-12-11 10:45] henkelmax commented on #322
What?

[2021-12-11 16:00] EysseW opened #323 "Sound physics remastered works with simple voice chat EVEN beter"
I really love the fact I can hear my friend echo in caves and realisticly and stuff, but could you guys add the feature to be able to hear yourself echo and such as well? I think it would really add to the emmersiveness.

[2021-12-11 16:02] henkelmax commented on #323
This is not possible without major modifications. It would also be really annoying having a delay in your own sound. I Really don't think anyone would use this practically.

[2021-12-11 16:02] #323 closed, assigned to henkelmax

[2021-12-13 03:25] gyular opened #325 "Korean Translation"
**Locale code**
ko_kr

**Translation**
https://gist.github.com/gyular/22753658fbc5f9a4983861b173b1aa9b

[2021-12-13 08:21] #325 closed, assigned to henkelmax

[2021-12-13 08:23] henkelmax commented on #325
Thank you!

[2021-12-14 04:28] Dr3mmy opened #326 "1.16.5-1.7.8 caused issues with server"
We added the 1.16.5-1.7.8 jar to my Vault Hunters mod and the server wouldn't connect.
Admin removed the mod and was able to show the server connected in the server list screen.
I removed it from my instance folder and also was able to reconnect to the server.

[2021-12-14 07:44] henkelmax commented on #326
1. Fill out the bug template
2. Did you read the wiki?
3. If you are just not able to connect to the voicechat, this isn't a bug. Visit the discord if you need help.

[2021-12-14 07:45] #326 closed, assigned to henkelmax

[2021-12-14 08:34] Dr3mmy commented on #326
It wasn’t that we couldn’t connect to voice chat, the jar was not allowing us to connect to the server.

We literally could not get on the server until the jar was removed from the mods list.

Sent from my iPhone

[2021-12-14 08:35] henkelmax commented on #326
Most likely, because the mod was not installed on all clients.

[2021-12-14 13:24] Dr3mmy commented on #326
It was on the server and client side for myself and at least one other person and neither of us could see the server be able to connect.

I’ll try the next older version and see if that one works.

Sent from my iPhone

[2021-12-14 23:50] Khodyn opened #327 "Dynamic Surroundings Sound Processing Support"
There's a [fully functional PR porting Dynamic Surroundings to 1.18.x here, which I actively use.](https://github.com/OreCruncher/DynamicSurroundingsFabric/pull/14) This mod doesn't seem to get the enhanced sound processing, presumably on the 1.17 version as well.

[2021-12-15 00:19] alejamt00 opened #328 "Visual bug on multiplayer (?)"

[2021-12-15 00:19] #328 closed, assigned to nobody

[2021-12-15 00:24] alejamt00 opened #329 "Visual bug in groups interface"
**Bug description**
Idk why but when I'm on my server, groups members are not shown in the list:
Idk if I'm doing something wrong or what but the voice chat works fine, just this visual bug :s

**Steps to reproduce the issue**
1. Go multiplayer on a server with the mod installed and the port opened
2. Create a group
3. It works but the interface looks like this:
![image](https://user-images.github

[2021-12-15 07:47] henkelmax commented on #329
I need your logs.

[2021-12-15 07:50] henkelmax commented on #327
Simple Voice Chat only has support for sound physics.

[2021-12-15 07:50] #327 closed, assigned to henkelmax

[2021-12-15 12:27] alejamt00 commented on #329
Server log:
https://gist.github.com/alejamt00/e43acbde3df5e59d3d2b2c1603a7801e
My log:
https://gist.github.com/alejamt00/dcfe7a8767782b931946065ff0a470c8

[2021-12-15 12:42] henkelmax commented on #329
Can you test if this happens without any other mods installed?

[2021-12-15 13:33] alejamt00 commented on #329
Ok, i will try that this afternoon :)

[2021-12-15 14:11] alejamt00 commented on #329
Em... I just tried it on a local server, just the voicechat mod and it looks fine. Then i tried a local server with the exact same mods i have on the other server and it looks fine too :s Maybe it is a server.pro bug? On server.pro the voice chat works fine but looks like the screenshot i posted before :ss
Anyway, sorry for bothering you, ill try asking server.pro customer service :(

[2021-12-15 23:23] #329 closed, assigned to henkelmax

[2021-12-16 22:14] rex706 opened #330 "Unavailable if no valid UUID"
**Bug description**
I run a server with custom database authentication that does not use Microsoft/Mojang auth (offline mode). Joining the server in this fashion does not allow voice chat to initialize and the plug with the red line through shows in the bottom left. If the server is joined with the normal Minecraft launcher with normal authentication the mod works as expected. This seems to be cau

[2021-12-17 07:59] henkelmax commented on #330
Simple voice chat heavily relies on the players real UUID.
We do not support pirating the game in any way.
There will never be a fix for this, because it only affects people pirating the game.

[2021-12-17 07:59] #330 closed, assigned to henkelmax

[2021-12-20 17:45] LittleEnvie opened #333 "hearing your own voice playback"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
My friend hears his voice with 1s delay after he speaks based on my position and my player' rotation. I won't see him for 2 weeks so I can't really tell how to reproduce the issue and if it's something related to his laptop or smth. I just want to know if it's something that h

[2021-12-20 20:03] henkelmax commented on #333
Please fill out the complete bug template including logs and steps to reproduce.
Also remove all other mods and check if it still happens.
Make sure to select the correct microphone in the settings.
If you are creating another bug report, please also include the list of audio devices of your PC.

[2021-12-20 20:03] #333 closed, assigned to henkelmax

[2021-12-21 00:44] Niteturfs opened #334 "It broke my Minecraft"
This application gave a warning in the beginning but it also said u could revert these issues by reinstalling mc, when I did it didn;t work and all it says is: "something went wrong in the login process"

[2021-12-21 20:24] c1oneman opened #335 "Add PlaceholdersAPI support for Bukkit/Spigot"
**Is your feature request related to a problem? Please describe.**
I would love to be able to use talking status in the TAB list on my server or use it in scripting to send players without voicechat installed notifications to get it installed. PlaceholderAPI is a great system and used widely on spigot servers.

**Describe the solution you'd like**
I would like a few placeholders.
%player_isChattin

[2021-12-22 18:50] henkelmax commented on #335
I added PlaceholderAPI support.
But not the way you suggested it:
Placeholders are like the name suggests **placeholders**, so boolean values like `ismuted` would make no sense here.

I added:
- `voicechat_prefix_uses_voicechat`
- `voicechat_prefix_no_voicechat`
- `voicechat_prefix_disabled`

These are prefixes to change the color of a text. You can change the default colors in the `translations.y

[2021-12-22 18:50] #335 closed, assigned to henkelmax

[2021-12-23 12:32] ux92 commented on #329
@alejamt00 Hi! Did you ever solve this issue? We're facing the same problem and we don't know where to look.

[2021-12-23 12:36] henkelmax commented on #329
This seems to only happen for cracked (offline mode) servers (which we don't support).
If you are encountering this issue with an online mode server, let me know.

[2021-12-23 19:22] Ecorous opened #336 "Modrinth Support"

[2021-12-23 19:43] #336 closed, assigned to henkelmax

[2021-12-23 20:15] K0-RR commented on #336
@ExoPlant the reason was given here https://github.com/henkelmax/simple-voice-chat/issues/279

[2021-12-23 20:32] Ecorous commented on #336
Okay

[2021-12-25 13:52] henkelmax commented on #330
We fixed another issue that was related with UUIDs. So this might also fix your issue. I'm still in no way supporting pirating the game, so if it didn't fix the issue I won't actively try to fix it.

You can find the new version in the `#beta-testing` channel of the Discord.

[2021-12-25 13:54] henkelmax commented on #329
@alejamt00 @ux92

It seems that this issue was also affecting some BungeeCord setups without offline mode, so we went ahead and fixed it.

You can find the new version in the `#beta-testing` channel of the Discord.

[2021-12-26 10:53] BitsCraft1 opened #337 "Voice Chat Mod Showing VoiceChatPacketProcessingThread/WARN Failed to read packet from In Console"
**Expected behavior**
I expected it to work instantly but it seems there was an error

**Log files**
[10:32:02] [VoiceChatServerThread/INFO]: Server started at port (port)
[10:32:03] [VoiceChatPacketProcessingThread/WARN]: Failed to read packet from / (ip)

**Versions**
- 1.18.1
- Fabric 1.18.1 (Latest)
- voicechat-fabric-1.18.1-2.1.28.jar

**Other mods**
Bobby
Sodium
Lithium
Fabric API

[2021-12-26 11:42] henkelmax commented on #337
This already has been fixed in 2.2.0-pre1. Please visit the discord in channel `#beta-testing` for the prerelease version.

[2021-12-26 11:42] #337 closed, assigned to henkelmax

[2021-12-26 16:11] GhoperFX opened #338 "Mojang Token Service"
Hello.

A query, why in the Mac version when patching the launcher comes up a warning regarding the Mojang service token requesting permissions ?.

The window is constantly displayed.

Greetings.

[2021-12-26 17:22] henkelmax commented on #338
This popup comes up because the launchers signature changed. You just need to click the option to always accept and it works.

[2021-12-26 17:22] #338 closed, assigned to henkelmax, mjwells2002

[2021-12-27 11:35] lightjakee commented on #337
It Still Does Not Work After Downloading The Newest Version

[2021-12-27 11:38] henkelmax commented on #337
This fix is only for some rare case when you are using bungeecord.
This error is not a bug it just indicates that another application is sending data to the UDP connection. This is mostly caused by bad DDoS protections or bad networking of the hoster. In some rare cases its just another application that just happens to send data to that port.

[2021-12-27 11:54] lightjakee commented on #337
Is There Any Way To Fix This?

[2021-12-27 11:58] henkelmax commented on #337
Switching the port.

[2021-12-28 02:32] Embro674 opened #339 "Mic recognized but not producing sound"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Im playing with the latest version of simple-voice-chat and whenever I talk with my mic, it cant hear me...like no sound it produced. The mic itself works, I use it for discord as I am typing this, and I know the mod itself works as I have another mic that works.

**Steps to r

[2021-12-28 08:18] henkelmax commented on #339
This is not a bug. Visit the discord if you need help.

[2021-12-28 08:18] #339 closed, assigned to henkelmax

[2021-12-28 15:29] srnyx commented on #94
When you said this, I thought you meant *launchers* (like GDLauncher). 🤦‍♂️

[2021-12-28 19:06] kruthers opened #340 "Using UUID in commands is not possible"
**Bug description**
Where the group management commands have been updated to use a uuid there is no way to get the uuid and the invite command, click compleation uses the name not the uuid.

There does not either seam to be a way to get the uuid of a group, it would be best if they used names to allow for easy use.

**Steps to reproduce the issue**
1. Create a group with any name
2. Get a 2nd pers

[2021-12-30 16:50] BowTieDaniels opened #341 "Audio Device Name c"
**Bug description**

When selecting the audio devices for the microphone and speakers, the full names of certain audio devices are not displayed. This does not appear to be an issue with name length since several of the impacted devices have a shorter name than others that do display correctly. For some reason the name have the beginning cut off and only the end is shown making it impossible to se

[2021-12-30 17:11] henkelmax commented on #341
Are the device names the same when selecting them in the vanilla minecraft audio settings?

[2021-12-30 17:24] BowTieDaniels commented on #341
The full device names appear in the vanilla sound options. Screenshots for verification.

![image](https://user-images.githubusercontent.com/36642261/147774321-30755c27-5f47-4407-a727-fc75e645b4d8.png)

![image](https://user-images.githubusercontent.com/36642261/147774336-be52bc95-7a71-4f3f-958b-20d9805956ea.png)

[2021-12-30 19:36] #341 closed, assigned to henkelmax

[2021-12-30 21:14] rhystedstone opened #342 "There is no command guide on the wiki"
## Bug description
There is no mention of commands on the wiki.

Related to #319

## Screenshots (Optional)
No mention in the Wiki
![image](https://user-images.githubusercontent.com/12123847/147788291-c7cf6e50-442a-46e5-aa7f-89e64e4665b3.png)

Or FAQ:
![image](https://user-images.githubusercontent.com/12123847/147788322-c0935389-014c-4fee-b984-8e7c2ffc06f8.png)

Original comment:
![image](https://

[2021-12-30 21:21] henkelmax commented on #342
The only officialy documented command is the test command. It is documented in the wiki.
All other commands are not official/subject to change.

[2021-12-30 21:22] henkelmax commented on #342
This bug tracker is also only meant for the mod itself and not the documentation.

[2021-12-30 21:22] #342 closed, assigned to henkelmax

[2021-12-31 10:18] #340 closed, assigned to henkelmax

[2021-12-31 10:20] henkelmax commented on #340
UUIDs work now, but @ selectors will never work in bukkit.

[2022-01-02 18:31] arizotaz opened #343 "Proxy Chat will not connect on BungeeCord Server"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
When running the plugin on a server connected by the bungeecord server proxy, I keep getting an error that the plugin could not read the clients traffic.  I saw that a reply on the spigotmc page stated that you need to pass the voice chat traffic through the proxy.  Though how

[2022-01-02 18:41] henkelmax commented on #343
If you want help setting up voicechat, visit the discord.
You should also try the latest beta version in the #beta-testing channel.

[2022-01-02 18:42] #343 closed, assigned to henkelmax

[2022-01-05 17:53] Kimapr opened #344 "Can't hear other players"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Cannot hear other players.
Looking into the logs, `javax.sound.sampled.LineUnavailableException: line with format PCM_SIGNED 48000.0 Hz, 16 bit, stereo, 4 bytes/frame, little-endian not supported.` seems to be the issue. That line appears whenever i enable microphone testing (

[2022-01-06 12:54] SirObby opened #345 "Without UDP support."
**Is your feature request related to a problem? Please describe.**
I have a problem, I'm tunneling the server via ngrok, but it doesn't support tunneling UDP.

**Describe the solution you'd like**
A sort of backend server for simple-voice-chat or something, that has the voice server so no UDP port is required.

**Describe alternatives you've considered**
Finding another tunneling system.

**Additi

[2022-01-06 12:57] henkelmax commented on #345
You don't need a tunneling software. Just open the port in your network. There is really no reason to do that. There are also alternatives like playit.gg or hamachi.

[2022-01-06 12:57] #345 closed, assigned to henkelmax

[2022-01-06 12:57] SirObby commented on #345
I don't have portforwarding on my router.

[2022-01-06 12:59] SirObby commented on #345
I don't think those alternatives work for me,
we're just gonna stick to Discord VC chats.

[2022-01-07 12:04] Aditeya commented on #185
Alright I've got it working. The problem seems to be with pulseaudio, so I installed pipwire instead and used it as a replacement for pulseaudio, alsa and jack. Then from the settings I select default speaker and it works as expected (I get audio from the other side). Only problem is if i want to select a different speaker I wouldn't be able to. I should also mention that i switched from manjaro l

[2022-01-07 17:36] kruthers commented on #340
This has fixed the invite command but the join command still does not work as your not able to get a group name or use it in commands (it would be best if you could for automation in commands).

[2022-01-07 17:40] henkelmax commented on #340
The join command is used exclusively to accept invites. There is only the UUID option for that command, since the group name is not unique.

[2022-01-09 15:13] SleepyCatten opened #346 "Unexpected error messages when restarting/stopping Paper server"
**Bug description**
The plugin seems to be encountering a bug on restarting/stopping a server.

**Steps to reproduce the issue**
1. Set up a Paper MC server (version 133 was used in this case).
2. Use voicechat-bukkit-1.18.1-2.2.1
3. Start up the server and let it fully load.
4. Restart or stop server, then check the log/console.

**Expected behavior**
No error messages.

**Log files**
Here is the

[2022-01-09 15:15] henkelmax commented on #346
Please post the full logs.
Please also try if this happens without any other plugins.

[2022-01-09 15:18] SleepyCatten commented on #346
Full log as requested. I'll see if the issue occurs without other plugins and post back.

https://gist.github.com/SleepyCatten/9595bd5fef697f45b80782f74eb6d91e

[2022-01-09 15:19] henkelmax commented on #346
I tested running the voice chat plugin with Paper 133 and nothing happens, so it must be a combination with another plugin causing this.

[2022-01-09 15:23] SleepyCatten commented on #346
In that case, please close this issue, as it won't be something your plugin is doing. Thank you kindly for the quick responses.

[2022-01-09 15:31] henkelmax commented on #346
It might still be an issue with voicechat. Let me know if you find out which plugin causes it.

[2022-01-10 17:31] MidGame1 opened #347 "Crash when exiting to title screen with no audio device"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**
I read the relevant FAQ

**Bug description**
Crash when quitting to title if you do not have an audio device connected. I disabled every device other than my headphones, and had my headphones unplugged (hence no devices) when it crashed. Looks like it doesn't check to see if soundManager is null w

[2022-01-10 19:07] #347 closed, assigned to henkelmax

[2022-01-10 19:08] henkelmax commented on #347
Thanks for reporting this issue. It will be fixed in the next version.

[2022-01-11 03:46] BillionsPorg opened #348 "I am on macOS and when ever i try to drag the launcher into the box it give me "Error code 1""
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log files**
Please provide log

[2022-01-11 03:47] BillionsPorg opened #349 "I am on macOS and when ever i try to drag the launcher into the box it gives me "Error code 1" so uhhhhhh what it mean?"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log files**
Please provide log

[2022-01-12 21:56] shotah opened #351 "Release type is not being updated in Forge"
**Bug description**
Release to Forge are marked as Alpha

**Expected**
Release to CurseForge are marked as Release

**Impact**
Unable to filter files properly when implementing automatically pulling from the Forge API.

**Current Output***
[code]

**Expected Output***
[code]

*** Forge API Documentation ***
https://docs.curseforge.com/#tocS_FileReleaseType

[2022-01-13 01:11] srnyx opened #352 "Backward/forward version support"
Could it be possible for you to add backward/forward support? Mainly for the mod.
Currently, you have to be on the **same exact** version of the server. This makes it virtually impossible to update the plugin because if you do, the entire playerbase has to reinstall/update the mod on their client, which can be confusing for some people.
It would be amazing if a player using a mod version older tha

[2022-01-13 06:23] henkelmax commented on #352
What you say is not true at all. Please read the wiki (Compatibility tab)

[2022-01-13 06:23] #352 closed, assigned to henkelmax

[2022-01-13 06:25] henkelmax commented on #351
I have no idea what you mean. No curseforge release has ever been marked as release.

No Release on CurseForge at all:
![image](https://user-images.githubusercontent.com/13237524/149277229-e5771df8-fcca-44cf-8d3e-677f44c95c4c.png)

The file you mentioned is clearly alpha;
![image](https://user-images.githubusercontent.com/13237524/149277427-820dcf0a-4737-47b8-9811-a6c797922120.png)

What you menti

[2022-01-13 06:31] #351 closed, assigned to henkelmax

[2022-01-13 16:42] shotah commented on #351
Oh this is showing only Beta and Alpha. I was looking for the actual words somewhere. But yes your files are not marked as release. Here is an example from Fabric API.
![image](https://user-images.githubusercontent.com/8572809/149371568-6bf0e1b2-8c44-4d6d-8a1f-b78e4b475639.png)

Here is Voice Mod(Which is all B for beta):
![image](https://user-images.githubusercontent.com/8572809/149371700-92f0a04

[2022-01-13 16:43] henkelmax commented on #351
Yes, but where's the bug?

[2022-01-13 16:47] shotah commented on #351
Wanted to say again that this is an awesome mod. It's why I'm here looking at it! :)

I was enabling user of itzg/minecraft-server to supply projectIds to have it pull mods, but I wasn't wanting to include Beta or Alpha. Which we yes can make as an option, but in reviewing this none of the mods are marked as release.

Shell script to parse the files and return the Latest Release for the Version Qu

[2022-01-13 16:48] shotah commented on #351
Bug isn't in the mod, maybe that is the confusion. Or is this mod still in Beta and my confusion?

[2022-01-13 16:49] henkelmax commented on #351
Yes this mod is still in beta.

[2022-01-13 17:07] SleepyCatten commented on #346
Hi. I found out which plugin is causing the issue, but I do not know why.
https://github.com/lucypoulton/ProNouns

If this plugin is enabled, it causes the error message each time on shutting the server down. It also causes a warning message with AngelChest.
https://github.com/JEFF-Media-GbR/issue-tracker

[2022-01-13 17:08] henkelmax commented on #346
Can you send me the logs with just voicechat and pronouns?

[2022-01-13 17:11] SleepyCatten commented on #346
Here you go. Thank you again for looking at this 💟
https://gist.github.com/SleepyCatten/eb6f733c6f6acec624fcc4af89fbd473

[2022-01-13 17:40] lucyydotp commented on #346
turns out this is my fault. working on a fix for pronouns, should be out tomorrow

[2022-01-13 17:41] henkelmax commented on #346
Thank you!

[2022-01-13 17:41] #346 closed, assigned to henkelmax

[2022-01-16 19:03] SleepyCatten opened #353 "Leaving a group crashes the game (client)"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Leaving a group voice chat crashes the game (client).

**Steps to reproduce the issue**
1. Install a Paper server and use the plugin - version 1.18.1-2.2.4.
2. Connect via the client using the Fabric plugin - version 1.18.1-2.2.4.
3. Enter a group chat.
4. Get multiple people

[2022-01-16 19:04] henkelmax commented on #353
Can you please send me the full logs?

[2022-01-16 19:09] henkelmax commented on #353
Also please install the latest version of the mod and test if it still happens.

[2022-01-16 19:10] henkelmax commented on #353
![image](https://user-images.githubusercontent.com/13237524/149674347-d196b27f-96be-4a18-bdb8-93ca5b99c06a.png)
It has already been fixed in 1.2.8

[2022-01-16 19:10] #353 closed, assigned to henkelmax

[2022-01-18 00:13] MrBigScary opened #354 "MAC ISSUES"
The work around isnt working on my pc either, it just constantly asks me for my keychain password, and before it can load once ive put it in, it asks me to put it in again and again and eventually just somehow signs me out of my minecraft account, the mod works and my microphone is connected on my end yet the little plug in the bottom left corner with the cross is still there telling me my mic isn

[2022-01-18 00:13] #354 closed, assigned to nobody

[2022-01-18 05:04] yijiazz opened #355 "max/min_distance or max/min_voice_distance?"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
There seems to be a discrepancy between the documented configuration keys and actually used keys for "max voice distance" and "min voice distance". Which pair should we use for server config?

[Documented:](https://modrepo.de/minecraft/voicechat/wiki?t=configuration)
![image](

[2022-01-18 06:48] henkelmax commented on #355
Works perfectly fine. The sound fades in a sigmoid curve, so it is almost not hearable at 48 blocks.

[2022-01-18 06:48] #355 closed, assigned to henkelmax

[2022-01-18 18:40] yijiazz commented on #355
@henkelmax Could you please confirm if you have with `max_distance`/`min_distance` or with `max_voice_distance`/`min_voice_distance` in `voicechat-server.properties`?

[2022-01-18 18:44] henkelmax commented on #355
Oh, I'm so sorry, I thought you were actually talking about the values not doing anything.
I will fix that.

Next time please report errors of the wiki to https://github.com/henkelmax/modrepo

[2022-01-19 03:43] notkirb commented on #24
I am trying to patch my MultiMC launcher on macOS to use voice chat, but when I drag MultiMC.app to the window and press yes, I get an error: "Exit code 1"

[2022-01-19 03:51] notkirb commented on #24
ok, i fixed the first error by closing MultiMC and trying again, but now it spits out a new error: "Exit code 141"

[2022-01-19 08:39] kakigorimochi opened #356 "translation.yml not working"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
I tried modifying the translation.yml file and the changes applied doesn't seem to be working

**Steps to reproduce the issue**
1. Go to '/plugins/voichat/translation.yml' with voicechat (2.2.8)
2. Edit the not compatible message and check if my yml is valid on yamllint.com, s

[2022-01-19 08:50] henkelmax commented on #356
The custom message will only appear if there is no matching translation on the client.

https://github.com/henkelmax/simple-voice-chat/blob/dfc7ea2e363c7e27185d47b5bb4cb96bf403d6c0/bukkit/src/main/java/de/maxhenkel/voicechat/voice/server/ServerVoiceEvents.java#L64-L66

[2022-01-19 08:50] #356 closed, assigned to henkelmax

[2022-01-19 20:58] srnyx opened #357 "Mute command for staff"
**Is your feature request related to a problem? Please describe.**
Swearing isn't allowed on my server. When someone is muted for swearing, they can just use voice chat to scream their lungs off.

**Describe the solution you'd like**
A `/voicechat mute <player> [duration] [reason]` command that will mute the user's voice for everyone on the server.

**Describe alternatives you've considered**
Bann

[2022-01-19 20:59] henkelmax commented on #357
Muting is completely client side.
You can revoke the talk permission from a player with the bukkit plugin.

[2022-01-19 21:00] #357 closed, assigned to henkelmax

[2022-01-19 21:01] srnyx commented on #357
How can I do that? Can't find a command for it.

[2022-01-19 21:01] srnyx commented on #357
Ohhhhh, permission, gotcha.

[2022-01-21 04:12] shotah commented on #351
Was able to get this implemented. Your mod was a great help in getting this fleshed out a bit further. :) https://github.com/itzg/docker-minecraft-server#forgeapi-usage-to-use-non-version-specific-projects

[2022-01-24 19:30] ceiri opened #358 "Mac issues"
**Bug description**
I know many have reported this same issue, but I just can't get the microphone to work with Voice Chat. I've tried the built-in Launcher patcher but the only thing that did was change the icon to a folder, and make tens of annoying authentication pop-ups show up.

**Steps to reproduce the issue**
1. Open a Fabric installation of Minecraft (1.18.1) with Simple Voice Chat - on Ma

[2022-01-24 19:33] henkelmax commented on #358
The crash you are getting is not from voice chat.

If you need help patching your launcher visit the discord.

[2022-01-24 19:33] #358 closed, assigned to henkelmax

[2022-01-25 02:49] ChristianKilduff opened #359 "Make voice chat louder"
make the master volume go higher than 200% because even with 200% + 300% individual volume and my computer volume max some people are nearly impossible to hear while others r just quiet

[2022-01-25 06:34] henkelmax commented on #359
If you need to crank up your volume that much I would advise you to look into the audio level of the OS.
Making it even louder through the mod would result in audio clipping.

[2022-01-25 06:34] #359 closed, assigned to henkelmax

[2022-01-25 13:19] notdev27 commented on #359
fair enough i just get much much louder sound out of discord without issue while prox I have my volume at max and even turn down discord master in settings to like 15-30% just so I dont blasted when entering vc, I just find that the sound does not get that loud and many ppl on my server have mentioned similar issues.

Didnt mean to be on two accounts this browser was just logged in different and i

[2022-01-26 15:43] KKotik opened #361 "Quark adjustable chat option conflict with mod UI."
**Bug description**
Quark have option to adjust chat position, when position adjusted microphone icon seems to be duplicated.

**Steps to reproduce the issue**
1. Go to Quark config.
2. Find adjustable chat option.
3. Set vertical shift to -20 for example.
4. Turn on UI icons in Voice chat mod and see the issue.

**Versions**
- Minecraft 1.18.1
- Forge version
- 2.2.13

**Screenshots (Optional)**

[2022-01-26 17:32] #361 closed, assigned to henkelmax

[2022-01-26 17:34] henkelmax commented on #361
Thanks for reporting this issue

[2022-01-27 20:02] KKotik commented on #361
Still exist with latest alpha versions as well.

[2022-01-27 20:09] henkelmax commented on #361
![image](https://user-images.githubusercontent.com/13237524/151435762-18984afc-176d-4f4b-a9ee-e39b76567649.png)

Works perfectly fine.

[2022-01-30 02:29] Anproyo opened #362 "server crashes when it starts and tells me that it cant bind to address '0.0.0.0'"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log files**
Please provide log

[2022-01-30 09:11] arch-user-france1 opened #363 "Can't hear my friend on Linux"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
He is able to hear me (he's on Windows) but I'm not able to hear him (connection works, and I can see that he is talking, his mic isn't the problem.

**Steps to reproduce the issue**

**Expected behavior**
It works

**Log files**
Nothing on the server log, can I find a client

[2022-01-30 09:13] henkelmax commented on #363
1.16.5 is not actively developed anymore. These issues are fixed in later versions.

[2022-01-30 09:13] #363 closed, assigned to henkelmax

[2022-01-30 10:34] arch-user-france1 commented on #363
Is it possible to simply change the version from 1.17/18 but install it or would it not work?

[2022-01-30 10:35] henkelmax commented on #363
Nope, that's not how mods work.
It will only work for the MC version the mod is for.

[2022-01-30 12:01] arch-user-france1 commented on #363
Do you at least know what the issue is?

[2022-01-30 12:03] henkelmax commented on #363
Yes, it has been fixed in later versions, as already stated.

[2022-01-30 12:05] arch-user-france1 commented on #363
Can I fix it by myself?

[2022-01-30 12:06] henkelmax commented on #363
There might be other workarounds, but please visit the discord for that.

[2022-01-31 09:42] NotKapani opened #364 "Problem with proximity voicechat"
The sound doesn't move or change volume as other players move away or around me (this is the situation for all of us), is there any setting or option I'm missing?

The mod should work as proximity voicechat does, voices moving along with the players

Minecraft Fabric 1.18.1 voicechat version 2.2.8

(mods being used at the same time)
Origins, Origins Classes, Advanced Netherite

[2022-01-31 09:48] henkelmax commented on #364
Please visit the Discord if you need help. I'm pretty sure this is not a bug.

[2022-01-31 09:48] #364 closed, assigned to henkelmax

[2022-02-02 05:26] Windscar267 opened #365 "disconnecting players"
Hi my name is windscar267 im running a server and im seeing my players disconnect from the server randomly and this error comes up before they disconnect can you make a fix for this please and thanks

Fabric version 0.10.2
- Mod version: 1.18.1-2.2.16
[22:14:09] [VoiceChatPacketProcessingThread/INFO]: Player f551fd5e-33bb-47d9-a495-df8221f34a92 timed out
[22:14:09] [VoiceChatPacketProcessingThread

[2022-02-02 05:30] Windscar267 commented on #365
also when players reconnect it doesn't let others hear them the other players have to disconnect too to hear each other

[2022-02-02 06:54] henkelmax commented on #365
Please visit the Discord if you need help setting up the mod. This is not a bug.

[2022-02-02 06:54] #365 closed, assigned to henkelmax

[2022-02-04 17:28] NiklasSlunce opened #366 "how to make voice chat work on forge server?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-04 17:28] NiklasSlunce commented on #366
voice mod is not working on my forge server

[2022-02-04 17:29] henkelmax commented on #366
Please visit the discord for help.

[2022-02-04 17:29] #366 closed, assigned to henkelmax

[2022-02-05 22:48] hens50 opened #367 "MacOS Microphone Permission Doesn't actually patch launcher"
**Bug description**
When I installed simple voice chat, i launched forge with it and it showed the popup window "Simple Voice Chat MacOS Microphone Permission" (pictured below) where it asked me to drag my launcher into the box below. I did so, and it asked if I was sure to patch my launcher, and I accepted. I relaunched and the same popup shows. This keeps happening over and over.

**Steps to rep

[2022-02-06 07:54] henkelmax commented on #367
Sometimes the setup requires a little more for it to work, but this completely depends on your system. Please visit the Discord, so we can help you with that.

[2022-02-06 07:54] #367 closed, assigned to henkelmax

[2022-02-12 22:22] TheCiROMG opened #368 "Unsupported API version 1.18"
**Bug description**
Unsupported API version 1.18 (https://paste.gg/p/anonymous/0070c8b4a9b54f30bffcbed1ebf6962c)

**Steps to reproduce the issue**
1. Put the latest version of the plugin (curseforge) in the plugins folder and open the server

**Log files**
https://paste.gg/p/anonymous/0070c8b4a9b54f30bffcbed1ebf6962c

**Versions**
- Minecraft version : 1.18.1
- Purpur version : 1.18.1
- Mod versio

[2022-02-13 02:18] mjwells2002 commented on #368
Your server is version 1.17.1 use the 1.17.1 plugin version

[2022-02-13 02:18] #368 closed, assigned to henkelmax

[2022-02-14 23:44] 0nlyRich opened #370 "Server cant start with the mod and the Forge Client sais: "needs language provider javafml:30 or above to load" if started"
This isnt a bug in general but its not working for me...

I use Forge Version 38.0.16 (not the newest but its 1.18.1) and the Server is on 1.18.1, im hosting the Server on Sparked Host (www.sparkedhost.com), on the Server is: More Villagers, Entchantments Descriptions, Skin Swapper, World Edit, Balm, JEI, Wonderful Enchantments, More Axelotles Variants Mod, waystones, gravestone mod, Emotecraft an

[2022-02-15 06:43] henkelmax commented on #370
Forge 38 is for 1.18 and not 1.18.1

[2022-02-15 06:43] #370 closed, assigned to henkelmax

[2022-02-17 12:38] SzczurekYT opened #371 "Players with invisibility can be seen."
**Bug description**
When player is invisible the mute / microfophone icon near nametag is visible, revealing him.

**Steps to reproduce the issue**
1. Drink invisibility potion.
2. Other players can see you icon near nametag.

**Expected behavior**
The micorphone / mute icon near nametag shoud be hidde so invisibility makes sense.

**Log files**
It's not really bug, but a lack of feature so there

[2022-02-17 12:43] henkelmax commented on #371
Please test if it happens with just the voice chat installed.

EDIT: Tested it and it also happens without any other mods.

[2022-02-17 16:04] SzczurekYT commented on #371
Yeah it's just a simple thing no one thinked of. Not sure but I think there should be some kind of check in https://github.com/henkelmax/simple-voice-chat/blob/1.18.1/forge/src/main/java/de/maxhenkel/voicechat/intercompatibility/ForgeClientCompatibilityManager.java around line 63

Edit: Wrong word, grammar fix

[2022-02-17 16:21] henkelmax commented on #371
Yeah, I know the cause, the issue is already fixed. I'm just testing a couple of things.

It's just weird that Forge fires the render nameplate event, even if it isn't even rendered...

[2022-02-17 16:33] SzczurekYT commented on #371
When I was reading the code I tought so too.
In programming it's pretty common that there's something you don't expect and than you have some weird behavior.

Cool, thanks for your work. I was looking for proximity voice chat for few years ( especially for spigot), and there was nothig for long time. While now I have forge server the best thing is that your mod also works on spigot.

Thanks

[2022-02-18 17:46] Hozq opened #372 "Version 2.2.21 is non downloadable"
Really have no idea when it was released but the curseforge app downloads the version 2.2.21, so does Aternos but its not possible to download it manually so I have players that can't join my server because the version required for this mod is unavailable.

[2022-02-18 17:55] henkelmax commented on #372
https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat/files/3638504

https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat/files/3638505

[2022-02-18 17:55] #372 closed, assigned to henkelmax

[2022-02-18 18:01] Hozq commented on #372
Oh okay weird, I can't see those in the file list

[2022-02-18 22:23] roomfullofcommits opened #373 "Crash when adjusting volume"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
The game crashes when adjusting the voice chat volume.
I didn't really see a pattern in the behaviour, sometimes it takes a few seconds of quickly adjusting the volume.
I also noticed that it didn't happen on Auto GUI scale, I tried for over 30 seconds. I changed to GUI scale

[2022-02-19 09:24] roomfullofcommits commented on #373
So that's weird. I tried updating Forge to 39.0.79 just to check if it was the Forge beta and couldn't recreate it. When I changed back to a profile with Forge 39.0.75, the exact one where the log is from that I never updated, I couldn't recreate it either. On any GUI scale.

[2022-02-20 14:07] #371 closed, assigned to henkelmax

[2022-02-21 08:48] roomfullofcommits commented on #373
I think I wasn't very clear with my comment. What I meant to convey was that the issue seems to be kind of random. It happened multiple times with and without other mods, on different days, with restarts of my PC in between. I think my comment made it seem like it isn't an issue anymore, it definitly is.
I just tried it again it crashed pretty much instantly after adjusting the volume. I think I w

[2022-02-21 09:17] henkelmax commented on #373
Oh, sorry I misunderstood you

[2022-02-21 09:19] henkelmax commented on #373
Log: https://pastebin.com/iQHMDKaE

Can you please send me the crash logs. The logs you sent don't contain any crash.

[2022-02-21 09:28] roomfullofcommits commented on #373
Of course, sorry. I sent the completely wrong thing. I updated the original comment.

[2022-02-21 15:04] #373 closed, assigned to henkelmax

[2022-02-23 00:08] Colin-J-Wood opened #374 "[1.16.5- 2.x backport regression] JNA version too new, crashes Vivecraft."
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
when the game launches vivecraft on the newest version of voice chat mod, it will crash whilst loading libraries.

**Steps to reproduce the issue**
1. Install vivecraft (headset not required to reproduce the crash)
2. Install simple voice chat mod in the mods folder
3. launch

[2022-02-23 11:00] henkelmax commented on #374
Thanks for reporting this issue. It should be fixed in the latest version.

[2022-02-23 11:00] #374 closed, assigned to henkelmax

[2022-02-23 17:12] B0spammed opened #375 "Microphone Not Working On macOS"
**Bug description**
Whenever I try to make the start up window of Simple Voice Chat scan MultiMC and allow microphone access to MultiMC it gives me an error.

**Steps to reproduce the issue**
1. Launch an MultiMC Instance
2. Drag the MultiMC in Applications into the window
3. Click Yes
4. See the error

**Expected behavior**
I expected the window to scan MultiMC and automatically close the window,

[2022-02-23 17:32] henkelmax commented on #375
This is not a bug. Please visit the Discord if you need help.

[2022-02-23 17:32] #375 closed, assigned to henkelmax

[2022-02-23 18:15] B0spammed commented on #375
Where is the patch of this glitch? Thanks

[2022-02-24 07:11] ilfarpro opened #376 "[Feature Request] Voice activation permission"
**Is your feature request related to a problem? Please describe.**
Unfortanetly in my server a large amount of people with poor quality cheap microphones and they prefer to use voice activation instead of Push to Talk. And as a server owner and as a streamer I want to prevent them from using voice activation option.
It would be great to have permission to do that. Also if it possible, I really nee

[2022-02-24 07:13] henkelmax commented on #376
There already is a permission for generally sending audio.

https://modrepo.de/minecraft/voicechat/wiki?t=permissions

But differentiating between the activation types is definitely not possible, since it is purely client side.

[2022-02-24 07:13] #376 closed, assigned to henkelmax

[2022-02-24 19:34] SkullDiamond opened #377 "[1.16.5]Server crash on startup"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
server crash on start up

**Steps to reproduce the issue**
1. use the last version of the mod (2.2.23) and start the server

**Expected behavior**

**Log files**
crash.log: https://pastebin.com/NbGVyrG1

**Versions**
- Minecraft version: 1.16.5
- Forge/Fabric version: Forge
-

[2022-02-24 20:30] #377 closed, assigned to henkelmax

[2022-02-25 18:50] SkullDiamond commented on #377
is fix on the last update?

[2022-02-25 18:51] henkelmax commented on #377
No it hasn't been released yet.

[2022-02-25 23:11] Colin-J-Wood opened #378 "[1.16.5 backport regression] Multiplayer Server crash on startup, com/sun/jna/Platform class not found"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Dedicated servers fail to load on startup due to jna issues.  Please make sure your code is working on jna 4 for dedicated servers.

**Steps to reproduce the issue**
1. Install on dedicated server
2. Attempt to load

**Expected behavior**
The codebase should adhere to the JNA4

[2022-02-26 07:42] henkelmax commented on #378
Duplicate of #377

[2022-02-26 07:42] #378 closed, assigned to henkelmax

[2022-02-26 11:43] ghost opened #379 "Using QuestCraft I Get A Microphone Unavailable Message"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
My Server does have the Simple Voice Chat Plugin But When I Join Using Questcraft (Minecraft Vr On Oculus Quest Standalone) It Says Microphone Unavailable

**Steps to reproduce the issue**
1. Go to Youtube And Find A Tutorial on how to get QuestCraft
2. Then Launch The fabric-

[2022-02-26 13:08] henkelmax commented on #379
This mod only supports the platforms that Mojang also officially supports.
We already contacted the devs of the Pojav launcher, but they were not interested in a fix.

[2022-02-26 13:08] #379 closed, assigned to henkelmax

[2022-02-26 23:54] TVince0 opened #380 "Voicechat server crashing"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Hi! I made a server on fabric using bukkit and only added the voicechat mod (+ the fabric api). My server crashed with an error what I think is related to this mod.

**Log files**
https://gist.github.com/TVince0/6a5c774f952a7152d77fbfdc7ae57a3f

**Versions**
- 1.18.1
- 0.13.3

[2022-02-27 10:49] henkelmax commented on #380
This crash is not caused by the voice chat mod.
I also don't know what you mean with "server with fabric using bukkit".

[2022-02-27 10:49] #380 closed, assigned to henkelmax

[2022-02-28 18:53] braxtonhall opened #381 "Doppler Effect"
Considering the audio output is built on top of OpenAL, which automatically calculates the Doppler Effect, it would be simple to add the Doppler effect just by adding a player's current velocity in addition to their position.

`ALSpeaker::setPositionSync` might look something like this
[code]
To make the doppler effect slightly more noticeable, say on horseback on in a minecart, `ALSpeaker::openSy

[2022-02-28 19:07] henkelmax commented on #381
I deliberately decided against the doppler effect, since it doesn't fit into the game and also not in the voicechat.

[2022-02-28 19:07] #381 closed, assigned to henkelmax

[2022-02-28 19:16] braxtonhall commented on #381
Oh! Are you against making this a config? I could put a PR together with a config defaulting to `OFF`

[2022-02-28 19:37] henkelmax commented on #381
I would consider putting it into Sound Physics Remastered.

[2022-03-07 05:40] drewburr opened #382 "Doc update: MacOS Microphone"
Relates to the [MacOS Microphone Permission Hack](https://github.com/henkelmax/simple-voice-chat/tree/1.18.2/macos#macos-microphone-permission-hack) documentation/process.

Today I helped someone patch their Minecraft launcher on MacOS and I wanted to provide some feedback since it seems that historically this has been a pain point for you guys (Looking at you, #24).

**Additional context**
MacOS

[2022-03-07 15:21] drewburr commented on #382
![Screen Shot 2021-11-23 at 7 36 08 AM](https://user-images.githubusercontent.com/29960267/157062931-83c724b2-772e-47a6-9b8a-7c716abfb33d.png)

[2022-03-07 15:23] drewburr commented on #382
![2022-03-07_09-23-27](https://user-images.githubusercontent.com/29960267/157063476-0eaa8d7a-7710-433f-ae53-ce9d0218a916.png)

[2022-03-08 08:22] henkelmax commented on #382
Thank you for letting us know. We will try this command if people have issues with the patcher. If it works for them, we'll add it to the patcher.

[2022-03-11 16:10] Mr-Aerod opened #383 "Bug: Can't join Hypixel with this mod on, it sends me to Limbo everytime."
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log files**
Please provide log

[2022-03-11 16:12] henkelmax commented on #383
Duplicate of #296

[2022-03-11 16:12] #383 closed, assigned to henkelmax

[2022-03-13 19:01] gitnixpie opened #384 "Patching SKlauncher macOS microphone permissions"
I get the message about microphone permission when joining a world, but the patch GUI does not open, even if I open via terminal.

I downloaded the [standalone version](https://github.com/henkelmax/simple-voice-chat/tree/1.18.1/macos#standalone-version) of the workaround. When I try to patch SKlauncher 3-beta.20.jar it tells me it's not an app. There is no .app with this launcher, so can it be pat

[2022-03-13 19:03] henkelmax commented on #384
We only support the launchers that are documented on this page:
https://github.com/henkelmax/simple-voice-chat/tree/1.18.2/macos

We also won't ever support cracked launchers.

[2022-03-13 19:03] #384 closed, assigned to henkelmax

[2022-03-14 14:05] Goten87 opened #385 "docker-minecraft-server bug or fail"
im trying to use the mod with https://github.com/itzg/docker-minecraft-server
and i cannot connect to the server i have opened the port on the container but it will not connect
keep getting this massage on client ```[VoiceChatAuthenticationThread/INFO]: Trying to authenticate voice connection```
can you help me in testing it as well or tell me what to do

sorry did not know where to posted this

[2022-03-14 14:06] henkelmax commented on #385
Please visit the discord if you need help

[2022-03-14 14:06] #385 closed, assigned to henkelmax

[2022-03-20 02:07] LuckyNova44 opened #386 "I cant connect to the voice mod server but others can"
This is a help wanted post but it didn't give me an option to do that...

This is the first time downloaded and used fabric on my computer. I downloaded everything and I set up voice mod on the server right and others can connect and talk to each other on it. but whenever I join I just get the plug with a cross? I have tried changing the server port to a better one. I have tried changing the confi

[2022-03-20 07:56] henkelmax commented on #386
you want help, visit the discord.

[2022-03-20 07:56] #386 closed, assigned to henkelmax

[2022-03-21 09:13] xanders0907 opened #387 "client not connected"
**Bug description**
I have a smp with my friends on pebble host.
but al my friends including me have a issue with the mod.
it says the the client issent connected when we talk.
pebble host dit the setup for the mod and plugin but i still dident work.

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
i was expecting that i

[2022-03-21 09:25] henkelmax commented on #387
If you need help, visit the discord.

[2022-03-21 09:25] #387 closed, assigned to henkelmax

[2022-03-21 09:56] MidyGamy opened #388 "Discord bot link"
Hi.
Is it possible to implement a functionality to link a public group to a discord bot, to voice chat with Discord users whithout them to launch Minecraft
It will be great, and we already did that with text chat, why not voice ?

[2022-03-21 09:57] henkelmax commented on #388
It is possible with the [Plugin API](https://github.com/henkelmax/simple-voice-chat/blob/1.18.2/api/readme.md). But you would need to implement it yourself.

[2022-03-21 09:57] #388 closed, assigned to henkelmax

[2022-03-24 07:32] ravenmoon312 opened #389 "Volume Adjustment settings not working correctly"
**Bug description**

When player volumes are adjusted (client side) they have no effect when talking in a group chat. Once players are in proximity of each other, the volume settings then take effect correctly.

Eg. I can mute someone and I will still hear them talking when in a group chat. However, when I am next to them in game, they are muted, even if the group chat is still active.

**Versions

[2022-03-24 07:50] #389 closed, assigned to henkelmax

[2022-03-24 07:51] henkelmax commented on #389
Thanks for reporting this issue!

[2022-03-25 17:05] MikeMM70 opened #390 "Use voicechat-server.properties settings when running as /publish or "open to lan""
Hi Henkelmax,
   If I'm playing Minecraft single player and I "Open to LAN" from settings, or I "/publish <port>" my game to get a static port number, Simple-Voice-Chat picks a random port # to open for its server service. I haven't really tried your mod yet because of this, though the general settings look easy to understand. I like the idea that it works with SoundPhysicsRemastered, and that it

[2022-03-25 17:07] henkelmax commented on #390
This was done on purpose, since Minecraft also does not use its server port for LAN worlds.

[2022-03-25 17:07] #390 closed, assigned to henkelmax

[2022-03-28 19:04] Taknax opened #391 "Issue in the serverconsole."
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.
Issue in the serverconsole

**Steps to reproduce the issue**
1. Install voicechat-forge-1.16.5-2.2.31.jar on a server with the Forge 36.2.33
2. Run the server
3. After the world is loadet the issue occure in the server consol

[2022-03-28 19:06] henkelmax commented on #391
This error is not related to the voice chat mod itself.

[2022-03-28 19:06] #391 closed, assigned to henkelmax

[2022-03-28 19:08] henkelmax commented on #391
Also please don't open bug reports, just because you don't want to fill out the support template on the discord.

[2022-03-29 12:18] iceyrazor opened #392 "force_voice_chat = false users still get kicked"
**Bug description**
when you set force_voice_chat = false in the mod version listed below. users still get kicked

**Steps to reproduce the issue**
-download and setup a basic forge server.
-put the mod on the server and not the client
-make sure force_voice_chat = false
-join the server with the client
-get disconnected

**Expected behavior**
-to be able to join without the mod on client

**Log f

[2022-03-29 12:29] henkelmax commented on #392
This only happens if the server has forge + voicechat and the client has forge without voicechat.
This is a forge limitation we can't prevent. If you would join with a fabric client or a vanilla client, this won't happen.

[2022-03-29 12:29] #392 closed, assigned to henkelmax

[2022-03-29 12:32] iceyrazor commented on #392
how come does this not happen for say, world edit? that can be on the server with forge clients. and clients dont need to download the mod

[2022-03-29 12:49] henkelmax commented on #392
Because world edit is a server only mod. Voice chat is client + server

[2022-03-29 14:09] iceyrazor commented on #392
ah ok. thanks for the info :). hope this helps other people too

[2022-03-29 16:55] Devnol commented on #382
Hello, Monterey user here too, running MultiMC. Tried the xattr suggestion above and then running the patcher (with Java 18) but it didn't seem to work. Anything else I can try?
(I'm using the plasmo-voice mod which points to your patcher for use too). Running the launcher from the terminal which has mic perms and then the game works but that's far from ideal.

[2022-03-30 14:50] Devnol commented on #382
Tried it with simple-voice-chat as well, the NSMicrophoneUsageDescription permission does get added in MultiMC's info.plist but I never get a prompt to allow access to the microphone, not even after clicking on Enable microphone testing. What else can I try?

[2022-03-30 15:46] nity0814 opened #393 "Mic touch doesnt work"

[2022-03-30 15:46] nity0814 commented on #393
so ye idk

[2022-04-01 06:33] benjaminelwoods commented on #24
I'm not gonna read all these comments so this may have already been suggested BUT my solution was to use @IanSmith1337 's proposed solution and instead of creating a file I created a shortcut (Run Shell Script) and copied the code into it, now I can ask siri to open Minecraft aswell :)

[2022-04-07 10:46] topsyandpip56 opened #394 "Native crash in opus_encoder_ctl"
**Bug description**
The game launches fine with the mod installed, and the mod successfully establishes a connection with the server. However, upon holding the key to talk the game will eventually crash. Upon attempting to test the microphone, I will hear it very briefly before the game will crash.

**Steps to reproduce the issue**
1. Run the game
2. Join a server with the mod enabled
3. Attempt t

[2022-04-07 10:50] henkelmax commented on #394
Please try if this happens without any other mods.
Please also try if this also happens without MultiMC, since you can change the OpenGL and OpenAL version with that launcher, which might cause issues.

EDIT: Please also provide the latest.log file of that crash.

[2022-04-07 10:54] topsyandpip56 commented on #394
I will test without other mods, testing without MultiMC may take some time but will attempt to do so also. A Java 8 log is already included, please see the third log listed.

Here is the latest.log:
https://gist.github.com/topsyandpip56/6d9762e3e5b8ceaa896efadefac056d2

[2022-04-07 10:55] henkelmax commented on #394
I know that's why I edited it out.

Which OS and CPU architecture are you using?

[2022-04-07 11:02] topsyandpip56 commented on #394
Ah sorry, I replied looking at the email github sent out on original post!

Fedora 35 (5.16.18-lqx1.0.fc35.x86_64)
Standard x64 / amd64 architecture.

[2022-04-07 11:04] henkelmax commented on #394
Alright, thanks.
Just to make sure it isn't JNA 4.4, could you test running voice chat with Minecraft 1.18.2?

[2022-04-07 11:19] topsyandpip56 commented on #394
Minecraft 1.18.2, Java 18 - same crash:
https://gist.github.com/topsyandpip56/27a596ae48b806bd30f0cae6d4ae8d2d

Minecraft 1.16.5, Java 11 - no other mods had same crash

In both cases, MultiMC was instructed to use the same LWJGL and OpenAL versions as stock though will still test later without MultiMC

[2022-04-07 11:21] henkelmax commented on #394
Alright, thank you!

We had similar issues with Linux in the past, but these issues were all resolved, so this seems to be something different...

I will also do some testing and will get back to you one I've found something.

[2022-04-07 11:40] mjwells2002 commented on #394
At the top of each of your log files there is a line starting with `Core dump written` please provide these files

[2022-04-07 12:20] mjwells2002 commented on #394
also please try and cause this crash without talking at all (use push to talk and dont press ptt) and provide logs & core dump files

[2022-04-07 14:07] topsyandpip56 commented on #394
These files are 3.2GiB each, would one suffice? It will take a long time to make this file available via my connection.