[2022-04-07 14:08] topsyandpip56 commented on #394
I am not able to replicate the issue without trying to talk, as it turns out. At least, not in one hour of playtime.

[2022-04-07 14:09] mjwells2002 commented on #394
yes one will do can you please provide one from 1.18.2

[2022-04-07 14:40] topsyandpip56 commented on #394
Coredump taken from 1.18.2 with Java 18.
https://drive.google.com/file/d/1p2JlJa5Vmxd5KpRY1rV8wnjrkAzvN8jM/view?usp=sharing
Compressed 7z, will unpack to around 3.8GiB. Please let me know when you have it, so I can delete it.

[2022-04-07 15:33] mjwells2002 commented on #394
can you provide the hs_err_pid_xxx log that goes along side this coredump?

[2022-04-07 15:41] topsyandpip56 commented on #394
https://gist.github.com/topsyandpip56/f0e763ff80fdfee29a6bb2741d9e95d1

[2022-04-07 15:52] topsyandpip56 commented on #394
I've just noticed something which looks particularly pertinent in the log;
[code]
Does the mod expect these natives to be present on my system, or should they be included in the mod?

Edit: Actually I see that these files are indeed present in the jar file, so this issue just became especially strange.

[2022-04-07 16:43] topsyandpip56 commented on #394
I have made a version of the jar file which works on my system, by replacing libopus.so and rmnoise.so with the most recent version of libopus.so from my OS, and the most recent version of rmnoise.so from github. It appears to be a version problem(?)

Working version of libopus is from opus-1.3.1-9.fc35.src.rpm, working version of rmnoise from v0.91.

[2022-04-07 16:44] mjwells2002 commented on #394
please run the game with `-Djna.debug_load=true` JVM argument

[2022-04-07 16:47] henkelmax commented on #394
Please send me the logs of that run. My hunch is that your libs just break on loading opus and our software opus encoder is kicking in.

[2022-04-07 16:56] topsyandpip56 commented on #394
https://gist.github.com/topsyandpip56/e3dea892946e07d6a299980f03f29b91

Verified working in-game with another player running Ubuntu 21.10 with me on Fedora 35.

[code]

[2022-04-07 16:58] henkelmax commented on #394
Oh, nice, then the issue is the opus native version. I will look into that. Thanks for your help so far.

[2022-04-07 17:01] topsyandpip56 commented on #394
No problem, it was worth the effort - it's a great mod! Do you want a copy of the patched jar for reference?

[2022-04-07 17:02] mjwells2002 commented on #394
sorry to be a bother but could you still do this? with the version that crashes i have a hunch your update is only a workaround for your setup

[2022-04-07 17:14] topsyandpip56 commented on #394
As requested:
https://gist.github.com/topsyandpip56/94f1527be401b26891ddee90f3ef6582

[2022-04-07 17:15] mjwells2002 commented on #394
and the log output from the console in multimc if you can

[2022-04-07 17:40] topsyandpip56 commented on #394
https://gist.github.com/topsyandpip56/c64f0be4cca079f0d0ff1268d88de165

[2022-04-07 17:43] SirOMGitsYOU opened #395 "Crash when muting another player in a group (also unable to hear other player(s) in the group)"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
When pressing the mute sound button the game client produced a crash, the person involved in the crash was unable to hear the other party in the group prior to pressing mute

**Steps to reproduce the issue**
1. Invite someone to party
2. press mute button

**Expected behavior*

[2022-04-07 17:45] henkelmax commented on #395
Please send me the full logs

[2022-04-07 17:51] henkelmax commented on #395
Also this works perfectly fine for me.
![image](https://user-images.githubusercontent.com/13237524/162265806-523ff84e-c3df-4f50-baff-69bf49c657f9.png)
![image](https://user-images.githubusercontent.com/13237524/162266263-d43d25a1-1c62-4f23-b623-1a4aac1ba27d.png)

Please check if this happens for you without any other mods.

[2022-04-07 17:57] SirOMGitsYOU commented on #395
https://transfer.sh/SkXy5S/latest.log

I will test on my end with no mods as this was submitted by another user

EDIT: I have checked on my end with no mods and it works fine so it may be a combination of a mod conflicting somewhere hopefully the latestlogs can help

[2022-04-07 17:59] henkelmax commented on #395
This file is 50MB. Please restart the game and get fresh logs that are shorter.

Thanks

[2022-04-07 18:02] SirOMGitsYOU commented on #395
I'll request them to send a new log that's smaller

Tested on my end with no mods can't reproduce so waiting on the new logs

[2022-04-07 18:23] SirOMGitsYOU commented on #395
Here's another crash report they sent through - https://crashy.net/0faejwf5tzBRt9pJ2uRy.

They've just tried it again and it's working again so it seems like it's potentially an issue that only occurs after long game play or a one-off issue. Sorry to bother you in this, I'll leave the crash reports above etc and if we get any further updates on this issue and can re-produce with a smaller log file

[2022-04-07 18:24] henkelmax commented on #395
That's not a log. Please send me the actual log.

[2022-04-07 18:26] SirOMGitsYOU commented on #395
They weren't able to have it crash again after restarting the game so it was likely a one-off issue thus they weren't able to send the log through. I will update the issue if it happens again with a new log

[2022-04-07 18:28] henkelmax commented on #395
Alright, I will close the issue for now. Please feel free to reopen it once it happens again.

[2022-04-07 18:28] #395 closed, assigned to henkelmax

[2022-04-10 20:12] henkelmax commented on #394
@topsyandpip56 please test this version of the mod and send me the logs:
[voicechat-fabric-1.18.2-2.2.33-pre1.zip](https://github.com/henkelmax/simple-voice-chat/files/8459828/voicechat-fabric-1.18.2-2.2.33-pre1.zip)

[2022-04-11 11:48] topsyandpip56 commented on #394
https://gist.github.com/topsyandpip56/6eb2f0a02b4cb3f2818ee8d538a2977a

Confirmed working!

[2022-04-11 11:49] henkelmax commented on #394
Perfect, thanks for helping us with this!

[2022-04-11 14:06] topsyandpip56 commented on #394
No problem - thanks for fixing it! There's plenty of devs out there who will assign a Linux specific bug the lowest possible priority or simply throw out a "you're on your own".

[2022-04-11 15:17] henkelmax commented on #394
@mjwells2002 is using linux, so linux issues are treated equally to windows.
I also think linux is a great operating system and with neglecting these issues, the current linux desktop situation won't improve :D

[2022-04-11 15:30] Xhenos119 opened #396 "One player cannot be heard, everyone else can."
No one is able to hear one of the players, she can hear everyone. Everything else works fine.
I used /voicechat test and it worked for me, but not for her. Any fix for this?

[2022-04-11 15:30] #396 closed, assigned to nobody

[2022-04-11 15:48] henkelmax commented on #396
Please visit the discord for help.

[2022-04-11 15:52] #394 closed, assigned to henkelmax, mjwells2002

[2022-04-11 18:26] henkelmax commented on #382
@drewburr unfortunately, this command didn't work for the people having issues with the patcher.

[2022-04-11 19:04] drewburr commented on #382
Thanks for the heads up @henkelmax. I think it might be worth working with @Devnol rather than deleting their messages every time feedback is left :)

[2022-04-11 19:09] henkelmax commented on #382
I marked these messages as off topic since their messages are support related and didn't add to the actual topic.
GitHub is only for bugs and enhancements, not for getting support.
It was also not feedback it was just a support request.

[2022-04-11 19:11] #382 closed, assigned to henkelmax

[2022-04-11 19:11] Devnol commented on #382
Hi, I'm not trying to provide support, I'm reporting my findings as I do not know how to fix it myself because I find that it might be of help to someone who does

Edit: Ah yes that "what else can I try" does seem like asking for support, yeah that makes sense but still I find that the feedback could be of help to developers

[2022-04-11 22:09] Bro-11 opened #397 "Cannot log-in to launcher now."
I can't login to the launcher after the simple voice chat mod (forge) "fixed" my game. Im on MacOS btw.

[2022-04-11 22:09] #397 closed, assigned to nobody

[2022-04-12 10:48] mjwells2002 commented on #394
this is also the second time we have seen this exact same crash & we were not able to solve it that time sadly

[2022-04-14 04:08] theofficialgman opened #398 "Native Opus Update Breaks GLIBC compatibility with Debian buster and Ubuntu Bionic and other distros"
**Bug description**
The update native opus libraries included in the jar at the same time as commit: https://github.com/henkelmax/simple-voice-chat/commit/ef0a76dbe4b193ebd4fc0ca0dd7fb70894058d1a is built on a newer version of glibc than the older distros support. Up until now they worked without issue.

**Log files**
[code]

[2022-04-14 05:48] henkelmax commented on #398
Please provide the full logs like described in the bug template.

[2022-04-14 15:11] theofficialgman commented on #398
I have already fully described the issue, but I will provide the full gamelog as requested. You need to acquire or build your opus binaries on ubuntu bionic (or another suitable system with older glibc)

https://paste.ee/p/gbeJ6

like I already said, the previous version of opus provided only required `GLIBC_2.17`. you can run an `objdump -T libopus.so | grep "GLIBC"` and see for yourself

[2022-04-14 15:17] henkelmax commented on #398
That's the crash log. I need the normal log file (`.minecraft/logs/latest.log`)

[2022-04-14 15:18] theofficialgman commented on #398
thats the full log
latest.log is just a subset of that file
https://paste.ee/p/B1QzC

where have you acquired your native binaries from? are you building them yourself?

[2022-04-14 15:21] henkelmax commented on #398
If the natives fail to load, our Java implementation of Opus should be used.

[2022-04-14 15:28] henkelmax commented on #398
Does the game crash after that error or does it just continue working?

[2022-04-14 15:33] theofficialgman commented on #398
it doesn't crash. The microphone tests continue to work. I guess its using openal as a fallback then?

[2022-04-14 15:35] henkelmax commented on #398
As I said it is using our java Opus implementation. This is completely intended to happen if natives for that platform don't exist or are incompatible as in your case.

[2022-04-14 15:35] #398 closed, assigned to henkelmax

[2022-04-14 15:36] theofficialgman commented on #398
@henkelmax could you please inform me where you have acquired your natives for opus? building on a compatible system like before in your previous releases should be a non-issue.

[2022-04-14 15:40] henkelmax commented on #398
We build the natives ourselves (https://github.com/mjwells2002/libopus-bin)
@mjwells2002 will try to compile against an older libc version.
But generally its completely fine if the natives fail, as there always is a fallback.

[2022-04-14 15:41] theofficialgman commented on #398
ah, I see, you swapped to using github actions for builds now.

can you try using `ubuntu-18.04` in your actions and see if it still succeeds?

[2022-04-14 15:42] henkelmax commented on #398
We always did

That's the plan

[2022-04-14 15:44] theofficialgman commented on #398
interesting... I guess it was at a different repo then? since this one was only created 4 days ago.
anyway I'll leave this up to you, thanks

[2022-04-24 08:18] UntalentedAmateur commented on #394
We encountered a similar problem running the mod on an OS X system that is limited to OS X 10.13.  We happily run the mod across a variety of architecture, but this particular system kept throwing an error related to opus, despite the system trundling along happily playing 1.18.2, Fabric, and pretty much every other mod we throw at it.

Our solution has been to revert that one computer to 2.2.32 (

[2022-04-24 08:25] henkelmax commented on #394
The problem you are describing is not related to this issue. It's this one: #398

You can completely ignore that error, since the mod is falling back to a non-native opus implementation.
Unfortunately we can't build opus for an older MacOS version, since the GitHub runners don't have any older versions.

[2022-04-24 08:32] UntalentedAmateur commented on #394
Ah, didn't see that bug, but that does look more like it.  Thanks for the quick response.

[2022-04-25 23:57] Sanadriell opened #399 "Brazilian Portuguese (Full Translation)"
pt_br

[Translation](https://gist.github.com/Sanadriell/da9d872ba875157da32e803abe70351e)

[2022-04-26 06:18] henkelmax commented on #399
You are missing  `message.voicechat.other_volume`, `message.voicechat.other_volume.description` and I think one other translation.

[2022-04-26 12:54] Sanadriell commented on #399
It's done.
I had used some old version of this file and that's why I was missing these ones.
The other translation I was also missing `message.voicechat.invite_player´.
And I've fixed some part where I made a mistake.
Thank you for letting me now!

[2022-04-26 14:15] #399 closed, assigned to henkelmax

[2022-04-26 14:15] henkelmax commented on #399
Thank you!

[2022-04-26 14:43] Sanadriell opened #400 "Brazilian Portuguese Translation (Fixed)"
pt_br

Fixed some missing parts of the translation
(https://gist.github.com/Sanadriell/da9d872ba875157da32e803abe70351e)

I'm am so sorry for this
It happened that I let something pass me by
Please forgive me for this

[2022-04-26 14:54] #400 closed, assigned to henkelmax

[2022-04-26 14:54] henkelmax commented on #400
Thanks

[2022-04-28 03:29] Sanadriell opened #401 "Updated Translation"
pt_br

https://gist.github.com/Sanadriell/a09d7dd1016540e3afb404cd5fa115bd
I've made some adjustments.

And I'd like to ask if it's possible to remove the fork I unintentionally created

[2022-04-28 05:26] #401 closed, assigned to henkelmax

[2022-04-28 05:28] henkelmax commented on #401
I hope this is the last time updating the translation.
Please double check your translations before submitting them, next time.

Anyways. Thank you for your contribution.

[2022-04-28 11:35] Sanadriell commented on #401
Sure
I'll pay more and more attention to this

Thank you for your comprehension

[2022-05-01 06:29] EltoCode opened #402 "Audio Playing Bot"
A way to stream music from the local machine/streaming service for everybody in a group is something that would be useful.

I'm aware of the companion mod that lets you add music one at a time to minecraft. But that's mainly for adding music that's likely to be constantly used. Not for having a quick listen, or for playing many songs back to back, quickly.

Perhaps there could be an option to add

[2022-05-01 06:31] henkelmax commented on #402
Such things won't be added to this mod. There is an API that is capable of doing that.
If you want such a feature, you can implementit yourself as an addon to the mod.

[2022-05-01 06:31] #402 closed, assigned to henkelmax

[2022-05-14 06:47] SuperSerferNow opened #404 "Not working on PloudOS server hoster"
I upload the mod to the server i put in the correct ports all of my mods worked with it on another server hoster (aternos) but i put in the port and I do everything but it still doesn't work.

[2022-05-14 06:57] henkelmax commented on #404
Please visit the discord if you need help. This is the wrong place.

[2022-05-14 06:57] #404 closed

[2022-05-15 12:58] RustyBot572 opened #405 "Cant hear others"
Yesterday I joined a server using the voice chat and at first it worked fine but then later stopped working and I couldn't hear anyone. I could still talk just not hear. Can you help?

[2022-05-15 13:17] henkelmax commented on #405
Please visit the discord for help.

[2022-05-15 13:17] #405 closed, assigned to henkelmax

[2022-05-23 15:13] netcore10 opened #406 "[Mod compatibility] voice animation support for Customizable Player Models"
**Is your feature request related to a problem? Please describe.**
Customizable Player Models has an API to animate when the player speaks
Can you please add compatibility with this mod?

**Describe alternatives you've considered**
No voice mod has added functionality yet, sinse simple voice chat is the simplest and most approachable, i thought i'd request it.

**Additional context**
API documenta

[2022-05-23 16:01] henkelmax commented on #406
Simple Voice Chat generally doesn't add compatibility with other mods. You can either contact the devs of the custom player models mod to add compatibility, or you can create a compatibility mod.
Because of this, Simple Voice Chat has an API: https://github.com/henkelmax/simple-voice-chat/tree/1.18.2/api

[2022-05-23 16:01] #406 closed, assigned to henkelmax

[2022-05-25 23:44] TheButterbrotMan opened #407 "You need Simple Voice Chat to play on this server"
**Bug description**
Simple Voice Chat does not work on server. ![Screenshot](https://user-images.githubusercontent.com/64548098/170386960-971eb03c-ecf5-4d34-b028-3c1eb31bc748.png)

**Steps to reproduce the issue**
1. Download https://www.curseforge.com/minecraft/modpacks/deathdusk (2.0.5 & 2.0.6)
2. Make a server
3. Try to join

**Expected behavior**
I want to connect without problems

**Versions*

[2022-05-25 23:44] TheButterbrotMan commented on #407
Also when i disable forceVoicechat, it doesnt work on server. When i type in commands i get
![image](https://user-images.githubusercontent.com/64548098/170387105-b52e9903-4559-4c48-ade8-eb90def13853.png)

[2022-05-25 23:46] TheButterbrotMan commented on #407
The mod is 100% installed on the server and i dont know why it dont work.

[2022-05-25 23:47] henkelmax commented on #407
Please visit the discord if you have issues setting up the mod.
This is not a bug.

[2022-05-25 23:47] #407 closed, assigned to henkelmax

[2022-05-25 23:57] TheButterbrotMan commented on #407
I dont think its a setup problem, because it was working and just stopped working without a update or any changes directly to it.

[2022-05-27 12:08] Lapiukas6 opened #408 "Random crash while talking to players"
**Bug description**
Randomly appears when someone joins or you join a group, you cant hear anyone. If you press the settings the game crashes also dont know if this is related to the issue but all textures from Simple Voice Chat are corrupted textures

**Steps to reproduce the issue**
1. Make someone join or join (you) a group
2. If you cant hear anyone it worked
3. Go into the settings tab
4. And

[2022-05-27 14:10] amsam0 opened #409 "Possible geyser support"
**Is your feature request related to a problem? Please describe.**

Currently players connected via GeyserMC behave like vanilla Java clients and the voice chat is not supported for them.

**Describe the solution you'd like**

Allow geyser players to connect and speak. One idea is a discord bot that would 1. stream the audio for the Geyser player into a voice channel and 2. get the audio for the p

[2022-05-27 15:03] henkelmax commented on #409
This could be done with a plugin, but we won't implement that. The API is completely public and pretty well documented.

[2022-05-27 15:04] #409 closed, assigned to henkelmax

[2022-05-30 15:44] henkelmax commented on #408
Please update the mod to the latest version and send me the latest.log and not the crash report.

[2022-05-31 03:27] WowWhatAName opened #410 "Server shuts down when I have both GeyserMC and Simple Voice Chat"
**Bug description**
When I run my small Paper 1.18.2 (Shockbyte Hosting) server it shuts down. The errors say "Failed to run voice chat at UDP port, make sure no other application is running at that port" and "Voice chat server error Address already in use"

I was wondering if theres a way to fix this, or if it's just not compatable with Geyser.

**Steps to reproduce the issue**
1. Run GeyserMC an

[2022-05-31 06:47] henkelmax commented on #410
This is completely intended and not a bug. If you need help setting up the mod, visit the discord.

[2022-05-31 06:48] #410 closed, assigned to henkelmax

[2022-06-02 09:18] liebl00m opened #411 "Cannot get this to work (MacOS Microphone Permission Hack) - MacOS Monterey vers 12.4"
I've been trying to load this mod for a minecraft server I just joined, but have been completely unsuccessful for hours now.

The guide I've been referring to is [this one ](https://github.com/henkelmax/simple-voice-chat/tree/1.18.2/macos)

I started by installing it through Curseforge, got to the drag-n-drop microphone perm GUI, dragged my curseforge launcher instillation (as per the guide). Clos

[2022-06-02 09:18] #411 closed, assigned to nobody

[2022-06-02 09:43] liebl00m opened #412 "Can't get launcher to gain Mic permissions (macOS Monterery)"
Referring to [this guide](https://github.com/henkelmax/simple-voice-chat/tree/1.18.2/macos), I've been unable to allocate my minecraft launcher the necessary microphone permissions for the simple voice chat mod. I'd like to preface this by saying that I'm not a computer person in any way, all my knowledge about this is gained from google searches and wikihow.

After following the instructions in t

[2022-06-02 09:44] henkelmax commented on #411
Please join the discord if you need help with the patcher

[2022-06-02 10:17] henkelmax commented on #412
As already said. If you need help patching the launcher, visit the discord.

[2022-06-02 10:18] #412 closed, assigned to henkelmax

[2022-06-02 21:55] TheHackerYTB opened #413 "Reconecting Voice chat to player"
Trying to solve the reconecting issue and client not connected
I switched the port like my host telled me and was good and now this
Yesterday it worked but now not
And i get rendomly get kicked of server with disconected

1.16.5
Forge
2.2.44

**Other mods**
Useful backpacks
Camera Mod
Never Enough Curency 2
MrCrayFish Furniture/Car mod
SecurityCraft
JEI
Sit

[2022-06-02 22:09] henkelmax commented on #413
If you need help setting up the mod, please visit the discord.

[2022-06-02 22:09] #413 closed, assigned to henkelmax

[2022-06-08 01:29] peeruzxe opened #414 "Voice Not Connected"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
It's probably an easy fix but I've never used this mod before and I'm doing everything I can to fix the issue. It's saying voice not connected to me and my friends, and the config I believe I set up properly. Help appreciated

**Expected behavior**
Working voice chat

**Versio

[2022-06-08 02:14] Metarock commented on #414
Receiving the same issue "voice chat not connected". Config is properly setup and have contacted my hoster to properly setup and open the ports.

[2022-06-08 04:46] peeruzxe commented on #414
let me know if you ever fix it

[2022-06-08 06:11] henkelmax commented on #408
Closed due to inactivity

[2022-06-08 06:11] #408 closed, assigned to henkelmax

[2022-06-08 18:12] kraken5567 opened #415 "Fabric 1.19 Spigot Plugin not working"
The server log displayes the following when trying to load the plugin:

[Server thread/ERROR]: Could not load 'plugins\voicechat-fabric-1.19-rc2-2.2.44.jar' in folder 'plugins'
org.bukkit.plugin.InvalidDescriptionException: Invalid plugin.yml
    at org.bukkit.plugin.java.JavaPluginLoader.getPluginDescription(JavaPluginLoader.java:170) ~[spigot-api-1.19-R0.1-SNAPSHOT.jar:?]
    at org.bukkit.plugi

[2022-06-08 18:13] #415 closed, assigned to nobody

[2022-06-08 20:48] peeruzxe opened #416 "Client microphones cannot connect to server"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Apparently not connected to server but everything is set up correctly. Opened this ticket yesterday and today I saw for some reason it was deleted without notifying me.

**Expected behavior**
Client microphone connecting to server and working

**Versions**
- Minecraft version

[2022-06-09 05:31] henkelmax commented on #416
Please explain your issue properly, fill out the bug template and make sure to include logs.

[2022-06-09 05:32] peeruzxe commented on #416
what logs? i'm filing this with all the info that should be needed

[2022-06-09 05:34] henkelmax commented on #416
We always need logs.
Also you described your issue very poorly, so I don't even know what your issue is.

[2022-06-09 05:36] peeruzxe commented on #416
on my server me and my friends get an error every time we try to speak with the mod. when we do try, we get the "cannot connect error" and i've set everything up properly. where am i supposed to get the logs?

[2022-06-09 05:37] henkelmax commented on #416
This is not a bug. Your server is just set up incorrectly. For support, join the discord server. GitHub is the wrong place for that.

[2022-06-09 05:37] #416 closed, assigned to henkelmax

[2022-06-15 17:20] Mimexe opened #417 "[API] connection.setGroup(null) doesn't work (see screenshot)"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
connection.setGroup(null) doesn't work it's remove the hud but i can hear players

**Steps to reproduce the issue**
1. use connection.setGroup(Group)
2. and set to null
3. Speak, you can hear/speak to the player
4. And the mod make the group is left but speaking/hearing work

[2022-06-15 21:29] henkelmax commented on #417
Can you please explain the issue in proper english?

[2022-06-16 00:03] Dre9 opened #418 "Water doesn't work too well"
Minecraft version: 1.18.2
Forge version: 40.1.20
Mods:
-Simple voice chat
- Sound physic remastered
- lucky perm
-  cloth config

Even tho we tried many settings we can't hear each other from like 3-4 blocks under water , it just cuts the sound. Would be great if you could check that

[2022-06-16 06:31] #418 closed, assigned to henkelmax

[2022-06-16 14:02] henkelmax commented on #417
Nevermind. I found the issue, you were describing. Thanks for reporting this!

[2022-06-16 14:09] #417 closed, assigned to henkelmax

[2022-06-18 13:48] afiqsuradi opened #420 "[Bukkit/Spigot/Paper] reloading placeholderapi plugin will break voicechat placeholder"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Title explain it all. Executing `/papi reload` will break the placeholder meaning that it will not be translated/parse

**Steps to reproduce the issue**
1. Execute `/papi reload`

**Expected behavior**
Not break

**Log files**
There's no error in the console

**Versions**
Curr

[2022-06-18 14:32] #420 closed, assigned to henkelmax

[2022-06-25 18:55] 4567gio opened #422 "sculk activates with your voice with the mod instaled server side"
feature requested
i would like that when you talk close to a sculk sensor or warden it activates (it's not a problem)

enchancement
when you talk the sculk sensor or the warden activates/hears your voice

alteratives
a command that detects when someone talks so you can make diferent things with the command

[2022-06-25 19:10] henkelmax commented on #422
https://github.com/henkelmax/voicechat-interaction

[2022-06-25 19:10] #422 closed, assigned to henkelmax

[2022-06-29 22:39] thecoder08 commented on #345
playIt doesnt allow for forwarding arbitrary ports to the same address as the minecraft server.

Hamachi requires all clients to download a piece of software on their computer.

[2022-07-02 21:46] braxtonhall opened #423 "Invite to Group via Social Interactions Menu"
**Is your feature request related to a problem? Please describe.**
I think the process of having a friend join your current group could be made a little bit more accessible than asking them via chat to open the group menu and select your group.

**Describe the solution you'd like**
For players in the Social Interactions Menu (accessed via <kbd>P</kbd> in vanilla), each player could have an invite

[2022-07-02 21:48] henkelmax commented on #423
All of this is already a thing. On fabric and quilt you can invite players from the social interactions menu. And generally, you can use the /voicechat invite command.

[2022-07-02 21:48] #423 closed, assigned to henkelmax

[2022-07-03 20:51] Kaicidify opened #424 "voice chat not working on server( but it works in single player?)"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. Go to 'bottom left side'
2. Click on 'nothing'
3. Scroll down to 'nothing'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
just the voic

[2022-07-03 21:06] henkelmax commented on #424
Visit the discord for help

[2022-07-03 21:06] #424 closed, assigned to henkelmax

[2022-07-04 22:42] iamsausage opened #425 "Voicechat 1.19-2.2.45 crashes MC Java on Mac"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
Minecraft starts fine under Fabric loader 0.14.8-1.19. Terrain loads, and 5-10 seconds later, game crashes with Error Code 6.

**Steps to reproduce the issue**
1. Launch Minecraft Fabricloader 014.8-1.19
2. Wait 5-10 seconds.
3. Game crashes, Error Code 6.

**Log files**
[Log]

[2022-07-05 05:42] henkelmax commented on #425
Are you on macos 10.15 or lower?

[2022-07-05 05:43] iamsausage commented on #425
Yes, 10.13.5.

[2022-07-05 05:52] henkelmax commented on #425
Voice chat requires MacOS 10.16 or newer.

[2022-07-05 05:52] #425 closed, assigned to henkelmax

[2022-07-05 14:06] Stu-C15 opened #426 "server connection problem"
**Bug description**
i don't know for sure but it looks like the mod is not connecting to the server, i'm playing in a Aternos serve with some other mods but the voice chat is not connecting it keeps showing a plug with a red simbol on it
![20220705_105535](https://user-images.githubusercontent.com/108741171/177346659-93edb353-9cd3-440c-983e-8d556843226e.jpg)

**Steps to reproduce the issue**
1. ju

[2022-07-05 14:07] henkelmax commented on #426
Visit the discord for help

[2022-07-05 14:07] #426 closed, assigned to henkelmax

[2022-07-07 03:21] phivumop commented on #19
can you guys help me ?
i have the voice chat unavailable error too. i play singleplayer connect radmin with my friend. Thanks

[2022-07-07 04:55] phivumop opened #427 "voice chat unavailable error"
can you guys help me ? i have the voice chat unavailable error too. i play singleplayer connect radmin with my friend. Thanks

[2022-07-07 05:49] henkelmax commented on #427
Visit the discord if you want help. This is not a bug!

[2022-07-07 05:49] #427 closed, assigned to henkelmax

[2022-07-07 06:58] phivumop commented on #427
ok
but where is the discord link ?

[2022-07-07 06:59] henkelmax commented on #427
Read the mod description. You literally can't miss it!

[2022-07-07 07:49] phivumop commented on #427
ok

[2022-07-10 22:04] ivyrrin opened #428 "Mic not working in MultiMC on Mac"
**Bug description**
I can't fix the launcher so it just doesn't work.

**Versions**
- Minecraft version: 1.18
- Fabric version: 0.12.12
- Mod version: 2.1.19
- Mac version: Monterey 12.4

[2022-07-11 05:19] henkelmax commented on #428
Visit the discord for help

[2022-07-11 05:19] #428 closed, assigned to henkelmax

[2022-07-17 05:19] jellybean13 opened #429 "[1.19] All players can not join the server after upgrading Forge and relevant mods"
**Bug description**
41.0.63: Everything works well.
41.0.99: Players instantly get disconnected after joining the world. However, this issue won't occur if this mod is removed from both server and client.

**Steps to reproduce the issue**
1. Install this mod with Forge 41.0.94 compatible on clients and the dedicated server.
2. Start dedicated server.
3. Join the dedicated server.
4. See error on c

[2022-07-17 06:27] henkelmax commented on #429
Can you please send me the **full** logs of client and server?

[2022-07-17 07:34] jellybean13 commented on #429
Client-full: https://pastebin.com/q4rDmf55
Server-full: https://pastebin.com/Wf9273zg

[2022-07-17 08:25] henkelmax commented on #429
This seems to be a Forge issue in newer versions.

[2022-07-17 08:29] sfxworks opened #430 "Support Adjusting Client Ports"
**Is your feature request related to a problem? Please describe.**

Hello, we are a host that does port mapping for clients. All containers get assigned an internal IP address and have your port `24454` open. In order to save IPv4 space, we port forward to a random port on a smaller number of external IP addresses.

For example, when we have a server named play-0 with port `24454` requested to be

[2022-07-17 08:30] henkelmax commented on #430
You can already do that. Just set `voice_host` on your server to the IP and port, the voice chat should connect to.

[2022-07-17 08:30] #430 closed, assigned to henkelmax

[2022-07-17 08:31] sfxworks commented on #430
Thanks! Noted.

[2022-07-17 13:41] henkelmax commented on #429
Alright it seems to be a Forge bug that should be fixed in 1.19.1

https://github.com/MinecraftForge/MinecraftForge/issues/8883#issuecomment-1186521416

[2022-07-17 13:41] #429 closed, assigned to henkelmax

[2022-07-17 20:10] agent188 opened #431 "UDP proxy server for voice chat"
<img width="542" alt="149650570-de4c64fd-0e49-4159-b0f7-98ae7d722b34" src="https://user-images.githubusercontent.com/41228098/179423114-11f43d1b-0786-4444-b060-5d78ee513e1d.png">

[2022-07-20 09:07] DeviUserYT2 opened #432 "Error occurs during loading of mod"
Whenever the game opens with Simple Voice Chat mod an error occurs and it states that it encountered an error during the sided_setup event phase

**Steps to reproduce the issue**
1. Open Minecraft
2. Set installation to Forge 1.19 ver. 41.0.100
3. Press play
4. See error

**Expected behavior**
The game should open and load the mod normally with no issue

**Log files**
https://gist.github.com/DeviU

[2022-07-20 09:09] henkelmax commented on #432
You are using a version of the mod thats built for an older Forge version.
Forge had a breaking change in 41.0.94, so you need to update to the latest voice chat version.

[2022-07-20 09:09] #432 closed, assigned to henkelmax

[2022-07-21 22:24] suchdifferent opened #433 "1.8.0 forge crash"
When i start Minecraft, i see this error in console.
Version - 1.8.0 forge both

`Exception in thread "VoiceChatClientThread"
[00:52:17] [VoiceChatClientThread/INFO]: [java.lang.ThreadGroup:uncaughtException:-1]: java.lang.Error:
There is an incompatible JNA native library installed on this system
Expected: 6.1.3
Found: 5.1.0
(at C:\Users\Name\AppData\Local\Temp\jna-2039745083\jna55292286811569388

[2022-07-21 23:06] andersmmg opened #434 "Pehkui integration for pitch"
**Is your feature request related to a problem? Please describe.**
Not really a problem

**Describe the solution you'd like**
It would be cool if pitch and volume could scale with the player scale, so like high pitched when tiny

**Describe alternatives you've considered**
None that I can find, it doesn't seem like manual pitch scaling is even available currently

**Additional context**
https://gi

[2022-07-22 06:07] henkelmax commented on #434
You can do that with the voice chat API.

[2022-07-22 06:07] #434 closed, assigned to henkelmax

[2022-07-22 06:07] henkelmax commented on #434
See https://github.com/henkelmax/replay-voice-chat for reference

[2022-07-22 06:08] henkelmax commented on #433
Please properly fill out the bug template.

[2022-07-22 13:18] wmiltp opened #435 "1.19 Forge Crash"
**Steps to reproduce the issue**
1. Launched Minecraft 1.19 Forge with installed Voice Chat modification 2.2.45
2. Saw crash

**Expected behavior**
I just installed this modification and 1.19 Forge crashes

**Log files**
https://gist.github.com/wmiltp/ef7eae382feb1e2547f76aacfd13c9c6

**Versions**
- Minecraft 1.19
- Forge
- Simple Voice Chat 2.2.45

[2022-07-22 13:20] henkelmax commented on #435
You are using a version of voice chat thats outdated. It was built for Forge 41.0.93 and lower. Either use an older forge version or update the mod to the latest version.

[2022-07-22 13:20] #435 closed, assigned to henkelmax

[2022-07-22 21:41] woutwoot opened #436 "Friend cannot hear me when we use a group chat"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
I'm having an issue with group chats... For some reason, with proximity chat everything works fine, but as soon as we create a group chat and my friend joins, he is no longer able to hear me while I can still hear him. I can also see my "head" lighting up but he can't. Connect

[2022-07-22 21:51] woutwoot commented on #436
While going through issues, it's actually very similar to this one: https://github.com/henkelmax/simple-voice-chat/issues/395
He crashes when he presses the mute button. I will ask him (and try to explain how) to provide logs.

[2022-07-22 22:05] henkelmax commented on #436
You are using an outdated forge version. Forge had a breaking change in 41.0.94

[2022-07-23 08:00] woutwoot commented on #436
@henkelmax Should that fix the issue, or is it unrelated? As in, is this known to be the cause?

[2022-07-23 09:36] henkelmax commented on #436
This is the cause

[2022-07-23 09:44] woutwoot commented on #436
@henkelmax I'm sorry to keep bugging you but as far as I can tell the latest Forge version for 1.18.2 is 40.1.68, that's still an older version than the version you mention. Does that mean the mod is effectively (partially) broken for 1.18.2 and the only fix is switching to 1.19?

[2022-07-23 10:31] henkelmax commented on #436
Ah sorry, I thought you were on 1.19

[2022-07-23 10:32] henkelmax commented on #436
So your game is crashing?

[2022-07-23 10:37] woutwoot commented on #436
Well, the main issue is him not being able to hear me in a group chat. That's really what's stopping us from using the mod fully. Secondly, when he clicks the mute button, his game crashes. I will try and get the stacktrace from him and get back to you.

[2022-07-23 10:37] henkelmax commented on #436
I need the full logs, not only the crash report.

[2022-07-23 11:07] #433 closed, assigned to henkelmax

[2022-07-24 10:27] henkelmax commented on #395
I just experienced the same issue. This happens when you are replacing the mod jar file while the game is running.
https://gist.github.com/henkelmax/12c657a2b9e37335443c22fa228bc74d

[2022-07-24 10:35] henkelmax commented on #436
#395 is solved: https://github.com/henkelmax/simple-voice-chat/issues/395#issuecomment-1193289406

I'm gonna close this issue again. If you get the logs and that's not the issue you were having, let me know and I'll reopen it.

[2022-07-24 10:35] #436 closed, assigned to henkelmax

[2022-07-24 10:39] woutwoot commented on #395
For us it does not have to do with replacing the jar.

I had my friend over yesterday and was planning to try again so I could get you the proper logs etc... Suddenly we did not have any issues and group chat worked. Because of that, I'm not sure what the actual cause was, but we will try again.

Difference between yesterday and before is that my friend was now in the same network the server is ho

[2022-07-24 10:41] woutwoot commented on #436
For us it does not have to do with replacing the jar.

I had my friend over yesterday and was planning to try again so I could get you the proper logs etc... Suddenly we did not have any issues and group chat worked. Because of that, I'm not sure what the actual cause was, but we will try again.

Difference between yesterday and before is that my friend was now in the same network the server is ho

[2022-07-25 23:16] NoviOnGitHub opened #437 "mojangTokenService popup will not stop appearing even after restarting (Mac)"
Bug description:
Before all of this, I dragged the Minecraft application into the area where it told me to.
When you load up Minecraft Launcher the mojangTokenService keychain popup will appear immediately, which is normal. When I type my password into the area and then click always allow, it pops up again instantly, which is also normal. But after I restart my mac, it will still pop up and have t

[2022-07-26 06:43] henkelmax commented on #437
Theres basically nothing we can do about that.
This just happens for some people sometimes.

[2022-07-26 06:43] #437 closed, assigned to henkelmax

[2022-07-26 14:02] russiandumpling64 opened #438 "Mod broken"
The voice chat mod has a plug with an x on it and I can't delete or remove the mod from my mod folder on file explorer at all. If anyone knows how to fix this then tell me.

[2022-07-26 17:18] symsym-1629 opened #439 "MC Crash when i try to talk"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. go to your world
2. Tap "caps lock" or disable PTT
3. MC crash
4. See error

**Expected behavior**
The little "talking" icon shows up

**Log files**
Please provide log files of the game se

[2022-07-26 17:19] symsym-1629 commented on #439
oh and im on mac

[2022-07-26 17:31] henkelmax commented on #439
We don't provide support for pirated Minecraft.

[2022-07-26 17:31] #439 closed, assigned to henkelmax

[2022-07-27 09:47] suchdifferent commented on #433
I fix it. I download new version and its work fine.

[2022-07-27 13:27] TezukiXIII opened #440 "Disconnect/reconnect in loop"
Hi,

(Sorry for my english i'm french) I got a problem with voice chat fabric in spigot 1.19 i'm on verygames servers i got a dedicated port from them so this work but every 10s anybody can't talk for like 5s or more and can talk again.
So i looked the log and i saw that

![gdfgh](https://user-images.githubusercontent.com/110107872/181257555-7da9d5ec-a6f0-40f0-812b-92a2f1a247fd.png)

Version of vo

[2022-07-27 13:27] #440 closed, assigned to nobody

[2022-07-27 18:15] woutwoot commented on #436
[crash-2022-07-26_21.14.18-client.txt](https://github.com/henkelmax/simple-voice-chat/files/9202504/crash-2022-07-26_21.14.18-client.txt)
This is the report I've gotten from him. This is when he clicked the mute button. Maybe it helps?

[2022-07-27 18:16] henkelmax commented on #436
Yep same issue as #395
No clue why it happens for him, but it looks like something is modifying the jar while running the game.

[2022-07-27 18:17] woutwoot commented on #436
Maybe some virus scanner? We're using GDLauncher and are not doing anything special. Will ask what kind of software he has active on his PC.

[2022-07-27 18:18] henkelmax commented on #436
Tell him to try another launcher maybe. Your antivirus could also cause issues I guess...

[2022-08-01 16:17] georgewesley commented on #437
There is a fix for this actually. I had the exact same issue. Turns out if you have your curseforge or minecraft folder in an area that uploads to icloud such as documents it will not work. As soon as I moved the folder to downloads instead it worked as intended.

[2022-08-05 23:18] Gabo6480 commented on #335
Is is it possible to add a placeholder for the voicechat icons that should appear beside a player's name tag?
![image](https://user-images.githubusercontent.com/60194781/183222337-ac374ea1-e6a1-44e4-bf41-4daa9a72de3d.png)
I'm using the TAB plugin, and the "unlimited-nametag-mode" overrides the player's name tag, which effectively hides the icon.
From my knowledge on PAPI, I believe it would have t

[2022-08-05 23:23] Gabo6480 commented on #335
Or, at least, placeholder to access a value that represents the current icon that would have to be displayed, and another one that returns whether or not a player has voicechat installed

[2022-08-07 04:39] ROCK172009 opened #445 "[Simple Voice Chat] No microphone permission. Please check Security & Frivacy sening"
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce the issue**
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log files**
Please provide log

[2022-08-07 04:40] ROCK172009 commented on #445
[Simple Voice Chat] No microphone permission. Please check Security & Frivacy sening

[2022-08-07 04:40] ROCK172009 opened #446 "[Simple Voice Chat] No microphone permission. Please check Security & Frivacy sening"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-07 04:40] ROCK172009 commented on #446
[Simple Voice Chat] No microphone permission. Please check Security & Frivacy sening[Simple Voice Chat] No microphone permission. Please check Security & Frivacy sening[Simple Voice Chat] No microphone permission. Please check Security & Frivacy sening[Simple Voice Chat] No microphone permission. Please check Security & Frivacy sening[Simple Voice Chat] No microphone permission. Please check Secur

[2022-08-07 04:40] ROCK172009 commented on #446
[Simple Voice Chat] No microphone permission. Please check Security & Frivacy sening

[2022-08-07 06:47] henkelmax commented on #446
Please visit the discord for help

[2022-08-07 06:47] #446 closed, assigned to henkelmax

[2022-08-07 06:48] #445 closed, assigned to henkelmax

[2022-08-08 08:21] coolpx opened #447 "Restarting PipeWire on Linux causes a crash when selecting a microphone"
**Bug description**
Restarting PipeWire 0.3.56 on Linux and then attempting to select a microphone crashes minecraft

**Steps to reproduce the issue**
1. Go to the voice chat GUI
2. Select a microphone
3. Restart PipeWire, I ran `systemctl restart pipewire --user`
4. Select a microphone

**Expected behavior**
I expected selecting a microphone to work as normal after restarting

**Log files**
https

[2022-08-08 08:23] henkelmax commented on #447
Please send me the crash report.

[2022-08-08 08:26] coolpx commented on #447
[latest.log](https://github.com/henkelmax/simple-voice-chat/files/9280169/latest.log)

[2022-08-08 08:27] henkelmax commented on #447
Thats just the logs. I need the crash report.

[2022-08-08 08:29] coolpx commented on #447
I don't have a crash report because when this issue happens the game freezes and I need to kill the process.

[2022-08-08 08:30] henkelmax commented on #447
Does that also happen without any mods installed?

[2022-08-08 08:30] coolpx commented on #447
Yes.

[2022-08-08 08:31] henkelmax commented on #447
Then this isn't an issue with the voice chat mod. I would suggest reporting this to the Minecraft bug tracker.

[2022-08-08 08:32] coolpx commented on #447
Sorry, I thought you meant without any mods other than the voice chat mod. No, this does not happen without any mods installed.

[2022-08-08 08:33] henkelmax commented on #447
Then I need crash logs to fix it. I can't fix it blindly, since I'm not on linux.

[2022-08-08 08:35] coolpx commented on #447
I'll close this issue then, because it's impossible for me to get crash logs, and this is a very minor bug that nobody else will probably ever encounter.

[2022-08-08 08:35] #447 closed, assigned to henkelmax

[2022-08-08 08:36] henkelmax commented on #447
Alright, sorry for that... I'll try to investigate the issue further and keep you up to date if I found something.

[2022-08-09 08:10] printsammy opened #448 "Y-Axis Control"
**Is your feature request related to a problem? Please describe.**
Players are able to be heard from a Y-Axis range that shouldn't normally be heard from that range.

**Describe the solution you'd like**
A feature where you can edit specifically the Y-Axis to avoid conflicting audio from where you cannot hear it normally.

**Describe alternatives you've considered**
Using Sound Physics seems to co

[2022-08-09 08:23] henkelmax commented on #448
I just tested it and the audible range is exactly the same, no matter which axis.

[2022-08-09 08:23] #448 closed, assigned to henkelmax

[2022-08-11 18:43] mrmelon54 opened #449 "Logging "Trying to authenticate voice connection""
**Please read the [FAQ](https://modrepo.de/minecraft/voicechat/faq) before submitting a bug report!**

**Bug description**
A clear and concise description of what the bug is.

It logs "Trying to authenticate voice connection" every second if it is unable to connect to the voice chat server.

**Steps to reproduce the issue**
1. Start a server with simple voice chat.
2. Start a client with simple vo

[2022-08-11 19:17] henkelmax commented on #449
Please visit the discord if you need help setting up voice chat. This is not a bug.

[2022-08-11 19:17] #449 closed, assigned to henkelmax

[2022-08-11 19:19] mrmelon54 commented on #449
The bug is not the fact that it logs.. the bug is that is logs every single second to destroy my log file.. for servers that don't connect..

[2022-08-11 19:20] henkelmax commented on #449
Yes, thats completely normal if the server isn't set up correctly.

[2022-08-11 19:20] mrmelon54 commented on #449
So just log that the server is not setup correctly and don't continually log and create a massive log file

[2022-08-11 19:22] henkelmax commented on #449
This is needed for debugging. Usually this could happen if there is a lot of packet loss. A message about that wouldn't help much there.

[2022-08-13 17:38] stritzs opened #450 "My friend is on macos and the noise suppression is force disabled, so I have trouble talking to him."
**Bug description**
My friend is on macos, and on the newest version of 1.19 voice chat, and he can't enable noise suppresion. The option is grayed out, as if there's a barrier that got in the way.

**Expected behavior**
The expected behavior is for the button to not be grayed out, and to be able to use the feature.

**Log files**
There was no crash report, as there was no crash.
**Versions**
-1.1

[2022-08-13 17:39] henkelmax commented on #450
The denoiser is not available for all platforms and architectures.

[2022-08-13 17:39] #450 closed, assigned to henkelmax

[2022-08-16 07:05] ghost commented on #24
im on version 1.18.1 on MultiMC, I can start the game up but it seems to not be able to find my mic. I have selected the correct input but it stil doesn't work, do I need the standalone patcher or is there some other method.

[2022-08-17 18:45] Sanadriell opened #451 "Brazilian Portuguese Updated"
pt_br

https://gist.github.com/Sanadriell/91b42aef12f333d041a23f885f449c2e

I added the new lines and updated the old ones.

[2022-08-17 18:52] henkelmax commented on #451
Thank you!

[2022-08-17 18:52] #451 closed, assigned to henkelmax

[2022-08-19 04:25] LiquidCreativity opened #452 "One Player Crashes upon interacting with the voice chat"
**Please read the [wiki](https://modrepo.de/minecraft/voicechat/wiki) before submitting a bug report!**
I have a server running with this mod installed, I have one specific player (she goes from a mac) who once anyone goes near her and speaks, she crashes, and it gives her -Error Code 6-. She disabled the voice chat and is able to work on the server just fine, so I'm halfway certain its the voice

[2022-08-19 05:20] henkelmax commented on #452
Which macos version is this?
The mod generally doesn't work for macos versions older than 10.15

[2022-08-19 05:28] LiquidCreativity commented on #452
ah, I just checked with her and it is indeed older than that. thank you for your time =)

[2022-08-19 05:28] #452 closed, assigned to henkelmax

[2022-08-19 18:08] Sanadriell opened #453 "Enhanced BR Portuguese translation (Shortened a bunch of phrases to make it easier for people to read them.)"
pt_br

https://gist.github.com/Sanadriell/a9499acf302cc2522ba41bf71c464073

Some phrases were unnecessary long, and would be partially out of sight.

[2022-08-20 10:55] henkelmax commented on #453
Thank you!

[2022-08-20 10:55] #453 closed, assigned to henkelmax

[2022-08-20 11:02] magicus opened #454 "Add echo cancellation"
When using Simple Voice Chat without a headset, or with a "leaky" headset, the problem of echo appears. Players hear their own voice echoed back to them, through the speaker/mic of other players. This is highly disruptive since hearing your own voice repeated with a delay interferes with your brain's speech center.

Echo cancellation is a general concept of removing this kind of echo from audio co

[2022-08-23 23:29] dynamicnightmare opened #455 "simple voice chat mod keeps crashing and I don't know why so I believe its something to do with the mod its self"
it just happens when I try to start Minecraft and it says that the error occurred at

org.spongepowered.asm.mixin.injection.struct.InjectionInfo.postInject(InjectionInfo.java:468) ~[mixin-0.8.5.jar%2391!/:0.8.5+Jenkins-b310.git-155314e6e91465dad727e621a569906a410cd6f4] {}

[2022-08-24 05:31] henkelmax commented on #455
Please fill out the bug template

[2022-08-24 05:31] #455 closed, assigned to henkelmax

[2022-08-25 14:48] xR4YM0ND opened #456 "[Loop] Trying to authenticate voice connection ( Client side log Spam )"
### Server side:
I added a second port on our server cause of Raknetify which needs the same port as server for connection

So i opened the port and edit the config file to this port

### Problem
The client log gets spamed and it seems that there is no connection between client and server

[client latest.log](https://gist.github.com/SpigotDE/dc753eff4e3ec9db30b06eb1d39402f1)
[server latest.log](ht

[2022-08-25 15:00] henkelmax commented on #456
Duplicate of #449

If you need help setting up the mod visit the discord.

[2022-08-25 15:00] #456 closed, assigned to henkelmax

[2022-09-01 01:54] murao-kun opened #458 "[Request] Configurable X and Y offset for group chat overlay."
**Is your feature request related to a problem? Please describe.**
I am developing modpack which adding different UI elemets, and some of them are being conflicting with Voice Chat mod. For example bedrock-like paperdoll character on top left of the screen.

**Describe the solution you'd like**
I am suggest to add X and Y offset to group chat overlay, that will make me able to move it to another p

[2022-09-01 08:06] henkelmax commented on #458
Thats already in the mod. Read the configuration section of the wiki.

[2022-09-01 08:06] #458 closed, assigned to henkelmax

[2022-09-04 20:14] lizheyo77 opened #459 "Can it support bungee jumping and let all servers display all voice rooms"
Can it support bungee jumping and let all servers display all voice rooms

[2022-09-06 11:16] NetongasNG opened #460 "Mexican Spanish (Full translation)"
es_mx

https://gist.github.com/NetongasNG/ee3c27927976cee1fce04ccb33de2d54

There is not much to say, I just hope that my translation will be of great help :D

[2022-09-06 11:39] #460 closed, assigned to henkelmax

[2022-09-06 11:39] henkelmax commented on #460
Thank you!

[2022-09-07 16:44] Yahm0n opened #461 "Option to mute new players by default"
When livestreaming, I want to be able to reliably control who can talk to me.  Per player volume control is somewhat useful for this, but new people popping into the server will be audible until I manually disable them, putting me at risk for forgetting or not catching it in time.

I would like a checkbox which, if checked, would cause new players to be automatically muted until I manually change

[2022-09-07 16:47] henkelmax commented on #461
This won't be a feature of the mod. You can do that with the voice chat API.
Alternatively you can use permission nodes.

[2022-09-07 16:47] #461 closed, assigned to henkelmax

[2022-09-08 17:00] AspenHD opened #462 "Voice chat not connected."
**Bug description**
When I try to talk I get the error.

**Steps to reproduce the issue**
1. Go to the game
2. Click on any voice chat key.
3. See error

**Expected behavior**
Open a voice chat menú or just talk.

**Log files**
[<script src="https://gist.github.com/AspenHD/38495e2d7a9b383cb91fae2b9c19a8e9.js"></script>](https://gist.github.com/AspenHD/38495e2d7a9b383cb91fae2b9c19a8e9)

**Versions*

[2022-09-08 17:52] henkelmax commented on #462
If you need help setting up the voice chat visit the discord, but this is not a bug.

[2022-09-08 17:52] #462 closed, assigned to henkelmax

[2022-09-11 17:49] ccessarr opened #463 "Mod crashes client and server on start-up."
**Please read the [wiki](https://modrepo.de/minecraft/voicechat/wiki) before submitting a bug report!**

**Bug description**
Whenever I try to start my server or try to play, it gets to a point that it crashes saying:
`Simple Voice Chat (voicechat) encountered an error during the common_setup event phase`

**Steps to reproduce the issue**
Client:
1. Launch the Minecraft installation.
2. Loading sc

[2022-09-11 17:55] henkelmax commented on #463
This error seems to be caused by RandomPatches. I'm not able to reproduce it. Please confirm to me if this happens without any other mods installed.

[2022-09-11 18:00] ccessarr commented on #463
Dang it.
Anyways it doesn't happen without another mod.

[2022-09-11 18:04] ccessarr commented on #463
Isn't there any other way I can have RandomPatches and Simple Voice Chat in the same thing? Like downloading other version of one mod or another.

[2022-09-11 18:07] henkelmax commented on #463
I tried it with both mods and for me it works fine.

[2022-09-11 18:08] ccessarr commented on #463
Hmm, then it must be another mod causing it or something.

[2022-09-11 18:21] henkelmax commented on #463
You need to check which mod is causing it.

[2022-09-11 20:16] ccessarr commented on #463
Without RandomPatches it just doesn't finish up loading. I guess it's because of my components.

[2022-09-11 20:19] ccessarr commented on #463
Did you use an older version of it or am I outdated? I got version 2.4.4

[2022-09-11 20:20] henkelmax commented on #463
Thats the version I used too.

[2022-09-11 22:13] ccessarr commented on #463
I went away for a bit and now I'm back, I tried it with only these mods:
![imagen](https://user-images.githubusercontent.com/83140452/189550941-5df7e39c-6119-4f16-b722-846ef7b29416.png)
And same error happend, then without RandomPatches and it was fine. So I don't know if there's something wrong with any file or you did something different.

[2022-09-11 22:15] henkelmax commented on #463
You need to find out which mod causes it, I can't help you otherwise.

[2022-09-11 22:46] ccessarr commented on #463
Found the problem.
Turns out connectivity-2.4-1.16.5 has some overlap with RandomPatches and that's what causes it to crash.
Thanks for helping me.

[2022-09-11 22:46] #463 closed, assigned to henkelmax

[2022-09-15 16:10] Gabo6480 opened #464 "Voicechat Status Placeholder"
Is is it possible to add a placeholder for the voicechat icons that should appear beside a player's name tag?
![image](https://user-images.githubusercontent.com/60194781/183222337-ac374ea1-e6a1-44e4-bf41-4daa9a72de3d.png)
I'm using the TAB plugin, and the "unlimited-nametag-mode" overrides the player's name tag, which effectively hides the icon.

A placeholder like `%voicechat_status%` that will r

[2022-09-15 16:55] henkelmax commented on #464
There are already placeholders for the placeholder API. I don't plan on adding any other placeholders.

[2022-09-15 16:55] #464 closed, assigned to henkelmax

[2022-09-15 18:06] SashaShtal opened #465 "1.12.2 version"
**Is your feature request related to a problem? Please describe.**
There are no stable working voice chat mods on 1.12.2

**Describe alternatives you've considered**
I've considered Gliby's Voice Chat Reloaded, some other it's versions and forks, but no one of them works correctly (sometimes chat stop working without any errors in the console)

[2022-09-15 18:07] henkelmax commented on #465
There are no plans on porting Simple Voice Chat to 1.12.2

[2022-09-15 18:07] #465 closed, assigned to henkelmax

[2022-09-15 18:31] Gabo6480 commented on #464
Is there documentation on them? Exactly what value do they give?
voicechat_prefix_uses_voicechat
voicechat_prefix_no_voicechat
voicechat_prefix_disabled

[2022-09-15 18:32] henkelmax commented on #464
You can change the values in the translations.yml
By default they are color codes.

[2022-09-15 18:35] Gabo6480 commented on #464
So:
voicechat_prefix_uses_voicechat -> Whether or not they have voicechat installed in their client
voicechat_prefix_no_voicechat -> ?
voicechat_prefix_disabled -> Muted?

[2022-09-15 18:36] henkelmax commented on #464
voicechat_prefix_uses_voicechat -> Whether or not they have voicechat installed in their client
voicechat_prefix_no_voicechat -> Just the opposite of the above
voicechat_prefix_disabled -> Not muted. Disabled.

[2022-09-15 18:39] Gabo6480 commented on #464
"voicechat_prefix_disabled -> Not muted. Disabled."
So this means that they have voicechat installed but they have it disabled, thus, are unable to speak or hear anything?

[2022-09-15 18:39] henkelmax commented on #464
Exactly.

[2022-09-20 09:20] ghost opened #466 "add an icon next to players on the tab menu"
**Is your feature request related to a problem? Please describe.**
on servers where you don't _need_ the mod, its hard to tell who is actually using it unless you find them.

**Describe the solution you'd like**
I would like the microphone/no input icon next to players names to identify if they can/cannot talk.

[2022-09-20 09:21] henkelmax commented on #466
There is placeholder API support. If that isn't enough, you can code something with the voice chat API.

[2022-09-20 09:21] #466 closed, assigned to henkelmax

[2022-09-20 21:57] ChillBrian commented on #437
Has there been any other fixes? cause this didn't work for my friend

[2022-09-24 16:58] Andrexum opened #467 "Bug when"
There is a bug when player uses horn. All players that can hear the horn crash. "Exit code -1"

Versions
- 1.19.2
- Forge 43.1.1
- 2.9.3

No other mods were installed.

[2022-09-24 16:59] henkelmax commented on #467
Please properly fill out the bug template and provide logs.

[2022-09-24 16:59] #467 closed, assigned to henkelmax

[2022-09-25 18:53] DaddyBones opened #468 "MacOS Security/Privacy"
I get this error, but I can't find an a App to give permission to in my Security/Privacy settings.

![2022-09-25_14 38 10 copy](https://user-images.githubusercontent.com/108556017/192160317-84d9cbc9-26f8-47bb-8452-90d8501c7470.png)

[2022-09-25 18:53] #468 closed, assigned to nobody

[2022-09-25 23:55] lostopkk opened #469 "walkie talkie integration"
**Is your feature request related to a problem? Please describe.**
well I had a problem because my friends from far away want to talk to me up close but the mod is only available close by,

**Describe the solution you'd like**
it would be interesting to have an item that makes you talk far away from each other

[2022-09-26 05:26] henkelmax commented on #469
https://www.curseforge.com/minecraft/mc-mods/simple-radio

[2022-09-26 05:26] #469 closed, assigned to henkelmax

[2022-09-26 13:49] lostopkk commented on #469
have a 1.19.2 version?

[2022-09-26 13:50] henkelmax commented on #469
This mod is not by me. You'll have to ask the author

[2022-09-27 17:32] Blayung opened #470 "Console spammed with "Failed to read packet from..." messages"
**Please read the [wiki](https://modrepo.de/minecraft/voicechat/wiki) before submitting a bug report!**

**Bug description**
Basically, the plugin is spamming with such warnings:
`[21:37:00 WARN]: [voicechat] Failed to read packet from /69.213.7.420:666`
or (idk why is it different, maybe it's because of an older version of the plugin in my old logs)
`[21:37:00] [VoiceChatPacketProcessingThread/WA

[2022-09-27 17:34] henkelmax commented on #470
This has already been removed in a newer version.

[2022-09-27 17:34] #470 closed, assigned to henkelmax

[2022-09-30 21:47] NighthowlerStudios opened #471 "[1.16.5] Crash when exiting group menu that was gotten to via GUI menu."
**Bug description**
The game crashes as the mod cannot find a class to erase the al context of the menu when it's a menu nested inside a menu.

**Steps to reproduce the issue**
1. Open Voice Chat GUI (not settings etc)
2. Use the GUI to open the Group menu
3. Hit Esc to close the menu immediately, crashing the game.

**Expected behavior**
The mod should be able to erase the context cleanly.

**Log

[2022-09-30 21:51] NighthowlerStudios commented on #471
the crash seems to indicate that the event listening class DestroyOpenALContextEvent (api/events) was missing, but opening the jar and finding the compiled file shows that is not the case.  upon further inspection of the code, however, seems to indicate it's not a class, but rather an Interface.  This could mean something happened where something in the code is attempting to instantiate it somehow

[2022-10-01 06:43] henkelmax commented on #471
Is this reproducible or did it just happen once?

Please check if this also happens without any other mods.
This exact issue usually only happens if the mod jar is already used or modified by another program.

No. This is as intended. This error happens if the class can't be loaded. For example if it was removed while the game is running or you replaced it while it was running.

As far as I know O

[2022-10-01 10:12] NighthowlerStudios commented on #471
I do know that Vivecraft does have OpenAL overrides.  They create a context that has its own HRTF. I cannot get the issue to reproduce outside of VR mode.  Because Vivecraft is a jar mod consisting entirely of patches, that would explain why the issue only occurs during "modification" even though I have not modified absolutely any jar.  I only used 7 zip to check the class was there and checked yo

[2022-10-01 10:53] henkelmax commented on #471
The OpenAL class loading failing does not have anything to do with actual OpenAL stuff.
It seems that another mod is causing this weird class loading behavior. Please check which exact mod is causing this issue and try to report it on their issue tracker. But I'm fairly sure that the voice chat mod is not the cause of the issue. It just manifests there.

If you find out anything that it actually d

[2022-10-01 10:53] #471 closed, assigned to henkelmax

[2022-10-01 10:59] NighthowlerStudios commented on #471
I don't understand why I have to clarify, but again, the mod conflict is Vivecraft.  I can get it to reproduce with that mod's VR mode only, and I have HRTF enabled in their config.  However, 1.16.5 support was recently dropped by the devs.  so the only hope I have in this mod getting fixed would be on you.  I can stay downgraded if I must, I just felt the new features appealing.

[2022-10-01 11:00] henkelmax commented on #471
I'm sorry but I won't fix issues of other mods.

[2022-10-01 11:00] NighthowlerStudios commented on #471
alright

[2022-10-11 08:03] iamsausage commented on #425
OK. Odd that it’s been working fine up until now.

Thanks anyway.

[2022-10-14 23:55] MedievalApple opened #473 "voice chat authentication fails if player is far away from spawn"
**Bug description**
The client fails to authenticate voice chat with the server if the player is hundreds of blocks away from spawn in the latest paper 1.19.2 version

**Steps to reproduce the issue**
Start a server with the latest version of paper 1.19.2
Then teleport about 800 blocks away from spawn
Logout and log back in and it should fail to authenticate voice chat

Note: it does work every on

[2022-10-15 14:43] henkelmax commented on #473
There are no logs about anything failing on your server. Can you also send me the client logs?

[2022-10-15 14:54] MedievalApple commented on #473
Here's the client-side fabric log. --> https://gist.github.com/MedievalApple/2442384bd79d2409a56a1852ef4e8656

[2022-10-15 17:51] dayo05 opened #474 "What is the license of this mod?"
There are no license.md or license header. Is there any special license about this mod?

[2022-10-15 17:55] henkelmax commented on #474
All Rights Reserved. Thats the default on github if there is no license.

[2022-10-15 17:55] #474 closed, assigned to henkelmax

[2022-10-15 17:58] henkelmax commented on #473
The issue is that your microphone is not compatible with the mod. You can try setting `java_microphone_implementation` to `true` in the client config. But if that also doesn't work, its just not compatible.

[2022-10-15 17:58] #473 closed, assigned to henkelmax

[2022-10-15 19:55] MedievalApple commented on #473
I did some tests with a different mic, and the same issue happened. Where voice chat works fine around 0,0 but if I go out a few 100 blocks in the server and log back in it fails. Giving me a voice chat not connected error however, every once in a while when you log on it will work fine. But if I go back to paper version 1.19.2-173 using the same client version and the same version of the voice ch

[2022-10-15 20:04] Godlia opened #475 "[VoiceChatPacketProcessingThread/WARN]: java.net.SocketException: Network is unreachable"
I get this error every now and then and it spams the console until i restart the server
im running it on a Paper 1.19.2 server running on Linux

[15:49:41] [VoiceChatPacketProcessingThread/WARN]: java.net.SocketException: Network is unreachable
[15:49:41] [VoiceChatPacketProcessingThread/WARN]:      at java.base/sun.nio.ch.DatagramChannelImpl.send0(Native Method)
[15:49:41] [VoiceChatPacketProcess

[2022-10-15 20:04] #475 closed, assigned to nobody

[2022-10-15 20:05] henkelmax commented on #473
The only errors that were in the logs you sent were these about your microphone. There is no disconnection or failing to authenticate in the logs.

But if you say this happens only in a specific paper versions, I guess this is a paper bug.

[2022-10-15 20:12] MedievalApple commented on #473
Thats whats was really weird about this issue. When its happens nothing about it seems to get logged. It only started happening after paper did this rewrite of the server chunk system ---> https://github.com/PaperMC/Paper/pull/8177

[2022-10-15 20:20] henkelmax commented on #473
Yeah this seems like a really big change. I guess they messed something up there...

[2022-10-15 20:26] henkelmax commented on #473
I tested it with the latest voice chat and paper version (build 212) and it works completely fine for me.

[2022-10-15 21:08] MedievalApple commented on #473
I just downloaded paper version (build 212) and it still seems to be happening for me. But I've noticed that it only happens if I load a big area with a bunch of new chunks. so I think the issue just has to do with my hardware not keeping up with the new chunk-loading system and lagging the player a bit on join causing the voice authentication not to go through. Out of curiosity Is there any way t

[2022-10-15 21:12] henkelmax commented on #473
Unless paper drops network packets, the mod always retries to connect every second.

[2022-10-15 21:28] MedievalApple commented on #473
Will it still try to reconnect if the client never receives the secret from the server?

(In these logs I think it's not receiving the secret)
(Server)
[17:15:02 INFO]: UUID of player jonnyapple97 is 6272e1a2-0880-47fa-92b6-5ccac22fe3e0
[17:15:02 INFO]: [voicechat] Received secret request of jonnyapple97 (15)
[17:15:02 INFO]: [voicechat] Sent secret to jonnyapple97
[17:15:02 INFO]: jonnyapple97 jo

[2022-10-16 07:23] henkelmax commented on #473
Thats what I said. The mod only works if minecraft packets actually get through. Unless paper messes with it there is no possibility it gets lost.

[2022-10-16 12:59] agmass opened #476 "Some Sort of Web Intergration."
**Is your feature request related to a problem? Please describe.**
This mod is absolutely amazing, but the main factor that holds it back is that it REQUIRES a fabric mod, which blocks all type of geyser/unmodded support.

**Describe the solution you'd like**
A simple web-page which would ask you to link your browser to your account - with some sort of passcode shown in big text on the webpage you

[2022-10-16 13:01] agmass commented on #476
After reading a few more duplicate issues, i see that the common answer to this is just "Use the API to make it yourself", but some official support would be great

[2022-10-16 13:12] stantios opened #477 "Got a crash when using 'Simple Voice Chat' on MacOS"
**Please read the [wiki](https://modrepo.de/minecraft/voicechat/wiki) before submitting a bug report!**

**Bug description**
When I try and talk, my game crashes.

**Steps to reproduce the issue**
1. Open Minecraft with Simple Voice Chat.
2. Load into a server.
3. Talk or hold the keybind you use to talk with.
4. You've found the bug!

**Expected behavior**
A clear and concise description of what

[2022-10-16 14:29] henkelmax commented on #476
This might come as an addon mod in the future, but not integrated into the voice chat mod.
It will also be made by someone else.

[2022-10-16 14:29] #476 closed, assigned to henkelmax

[2022-10-16 14:32] henkelmax commented on #477
As you can read in the logs:

MacOS 10.15 and lower is not compatible with voice chat.

[2022-10-16 14:32] #477 closed, assigned to henkelmax

[2022-10-16 16:58] MedievalApple commented on #473
Ok, thanks for helping me out with this :)  I'll see if it's something with my network setup if not I just wait and see if a future paper update solves it.

[2022-10-24 02:01] Sanadriell opened #479 "Updated Brazilian Portuguese Translation"
pt_br

https://gist.github.com/Sanadriell/ac7fe7afd90c75d3d786975d35559f67

[2022-10-24 23:09] lhardt commented on #479
Hello! Is there somebody working on this? I could do it quiclky, being a native speaker

[2022-10-25 00:24] Sanadriell commented on #479
I already updated that. I'm a native speaker.

[2022-10-26 07:34] #479 closed, assigned to henkelmax

[2022-10-26 07:35] henkelmax commented on #479
Thank you!

[2022-10-28 09:30] TheUnknownCod3r opened #480 "Incompatible with BuildGuide > 1.19.2"
**Please read the [wiki](https://modrepo.de/minecraft/voicechat/wiki) before submitting a bug report!**

**Bug description**
When loading Simple Voice Chat along with Fabric API, and Build Guide connecting to a server with Simple VC causes a client mismatch error, stating client version is incorrect. Works normally again without. Ive updated the creator of said mod, but thought i'd add here too so

[2022-10-28 09:50] henkelmax commented on #480
https://www.curseforge.com/minecraft/mc-mods/build-guide/issues/4

[2022-10-28 09:50] #480 closed, assigned to henkelmax

[2022-11-02 20:53] MrPresidentWhite opened #481 "Issue with vc connection after reconnecting to servers"
**Please read the [wiki](https://modrepo.de/minecraft/voicechat/wiki) before submitting a bug report!**

**Bug description**
When I'm disconnecting from an server and reconnecting to the same server, the plugin doesn't connect to the Voice Chat Server. I have to completely restart my game, that this wil work again.

**Steps to reproduce the issue**
Idk how to reproduce this error. I'm disconnectin

[2022-11-03 08:43] henkelmax commented on #481
I am not able to recreate this issue with the latest paper version and the latest voice chat version.
Please try installing SVC version `2.3.12` on your client and Paper `1.19.2-256` on your server.
I also need the full server logs in text form.

When trying this, please make sure you have no other plugins and mods installed on your client and server.

[2022-11-08 23:01] NameODor opened #484 "This is not a bug, I'm trying to fix this on my Macos On Minecraft Fabric on CurseForge"
**Help Request**
Keeps saying ''Microphone permission not granted or something. There is no option to enable it at all!
I tried to fix this on Curseforge because that's the only platform I play on.
How do I get microphone access on CurseForge (MC)

This is a screenshot for the Issue. I need urgent help!
<img width="895" alt="image" src="https://user-images.githubusercontent.com/89343250/200694609-

[2022-11-09 07:26] henkelmax commented on #481
Closed due to inactivity

[2022-11-09 07:26] #481 closed, assigned to henkelmax

[2022-11-10 09:13] okzerus commented on #249
I don't care about necroposting, I don't even know this mod, I even restored the password for this account, and every of these was done just to say how am I fucking sick of you.
Brawaru described EVERYTHING, and he's RIGHT, the only reason you can't fix the plugin is that your stupid mug just DOESN'T WANT to fix the plugin!
why are there people like you living on the earth, oh my god!

[2022-11-11 21:24] VeggeieDude opened #485 "Voice Chat icon resource pack keeps disabling itself after turning off Minecraft"
**Please read the [wiki](https://modrepo.de/minecraft/voicechat/wiki) before submitting a bug report!**

**Bug description**
Whenever I turn off minecraft, the Simple Voice Chat Icon resource pack disables itself from the active resource packs list, and I have to reenable it every time. I tried with all three and they all do the same thing.

**Steps to reproduce the issue**
1. Enable one of the ic

[2022-11-15 04:00] DmanMC commented on #485
not sure why this is closed, its still a problem

[2022-11-15 04:03] slushieuwu commented on #485
was this fixed? its still an issue for me

[2022-11-15 07:25] henkelmax commented on #485
Can confirm it happening in 1.19.2-2.3.13

[2022-11-15 08:00] #485 closed, assigned to henkelmax

[2022-11-15 08:01] henkelmax commented on #485
Alright, @DmanMC  it will be fixed in 2.3.14

[2022-11-16 00:45] slushieuwu commented on #485
thanks!

[2022-11-16 16:11] JustClouded commented on #124
im also having problems with this and i dont get your reply. so help??

[2022-11-17 02:56] Foozey opened #486 "Rename the icon resource packs so they are ordered correctly"
**Is your feature request related to a problem? Please describe.**
Yes (in my opinion). Currently the icon resource packs are jumbled up with any other resource packs installed.

**Describe the solution you'd like**
This problem can be solved by renaming the resource packs in a format like this: "Simple Voice Chat - Black Icons", "Simple Voice Chat - White Icons", "Simple Voice Chat - Classic Icon

[2022-11-21 20:36] Flexz9 opened #488 "Proximity chat (not voice)"
**Is your feature request related to a problem? Please describe.**
There is no option to also limit chat to the same proximity as voice.

**Describe the solution you'd like**
Limit chat to the same distance as voice chat.

[2022-11-22 07:02] henkelmax commented on #488
This is a voice chat mod not a chat mod. Such a feature would rather fit in a separate mod.

[2022-11-22 07:02] #488 closed, assigned to henkelmax

[2022-11-22 07:49] henkelmax commented on #486
It does not seem to be possible to modify the order of builtin resource packs from their display name or ID:

![](https://user-images.githubusercontent.com/13237524/203255252-ce5ab536-3327-4254-8421-346c07d85b0a.png)

[2022-11-22 07:49] #486 closed, assigned to henkelmax

[2022-11-24 15:45] zernight opened #489 "org.spongepowered.asm.mixin.transformer.throwables.MixinTransformerError: An unexpected critical error was encountered"
---- Minecraft Crash Report ----
// I bet Cylons wouldn't have this problem.

Time: 2022-11-24 18:41:10
Description: Mod loading error has occurred

java.lang.Exception: Mod Loading has failed
	at net.minecraftforge.logging.CrashReportExtender.dumpModLoadingCrashReport(CrashReportExtender.java:55) ~[forge-1.19.2-43.1.7-universal.jar%23182!/:?] {re:classloading}
	at net.minecraftforge.client.loadin

[2022-11-24 15:46] henkelmax commented on #489
Please use the bug template when reporting an issue.

[2022-11-24 15:46] #489 closed, assigned to henkelmax

[2022-11-24 16:38] Apollo4545 commented on #249
Having the same issue with server members who don't pirate the game.
Nor do they use the VC mod. So I'm going to assume it has nothing to do with being in offline mode... especially since the server is in online mode.

If you find the Answer, let me know. Otherwise, get off your high horse.

[2022-11-26 11:54] Martmists-GH opened #490 "Log spammed if a device is not available"
**Bug description**
The log seems to get spammed when my microphone is unavailable as it was not connected when I launched the game. Even after changing the microphone in-game, it still sems to try to connect to the same microphone.
Because these actions seem to be linked to the render thread, it becomes difficult to do anything as the game updates at one frame per 30 seconds

**Steps to reproduce

[2022-11-26 14:42] henkelmax commented on #490
Your logs are incomplete. Please send the full `latest.log`.
Is this reproducible?
Does this also happen in the latest version of the mod?

[2022-11-27 22:40] aidanashman08 opened #491 "Not really an issue but more of a request."
Is it possible to add a way to create groups with a command and keep them open for a certain amount of time to act like discord voice channels?

thanks,
AmazingAidan25

[2022-11-27 22:40] #491 closed, assigned to nobody

[2022-11-27 22:43] aidanashman08 opened #492 "Voice channels"
I would like it to be possible to create a voice channel thing like what discord offers but in game.

Discord is great, but I would like for it to be possible for this useful feature to be built into this mod. Not all of my friends have discord and some of them don’t want to join. I still would like to have the functionality of the voice channels but built into the game.

[2022-11-28 07:08] henkelmax commented on #492
You can do that with the voice chat API.

[2022-11-28 07:08] #492 closed, assigned to henkelmax

[2022-11-28 18:04] buuugle opened #493 "Reloading on bukkit/spigot disconnect client voice chat with Fabric"
**Bug description**
When I use the /reload command on bukkit/spigot, the voice chat is marked as "not connected" (there is the specific icon in the bottom left corner of the screen). I can still quit and rejoin the server to solve the problem.

**Steps to reproduce the issue**
1. Start a Spigot server with this plugin
2. Connect to the server with the mod installed on Fabric (I didn't try with For

[2022-11-28 18:04] #493 closed, assigned to henkelmax

[2022-11-29 08:49] henkelmax commented on #490
Fixed with 09b3a7a182aeaf3d4477ea09bb355742befb4f6e

[2022-11-29 08:49] #490 closed, assigned to henkelmax

[2022-11-29 11:15] Martmists-GH commented on #490
Will this fix be backported to 1.18.2?

[2022-11-29 11:15] henkelmax commented on #490
Of course, it already is.